.redux-container-multi_label_textarea ul.redux-multi-label-textarea {
  margin: 0;
  padding: 0;
}
.redux-container-multi_label_textarea ul.redux-multi-label-textarea li {
  border-bottom: 1px solid #eee;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  width: 100%;
}
.redux-container-multi_label_textarea ul.redux-multi-label-textarea li > span {
  display: inline-block;
  min-width: 80px;
  font-weight: 600;
  font-size: 12px;
}
.redux-container-multi_label_textarea .redux-multi-label-textarea-add {
  clear: both;
  margin: 10px 0 !important;
}
.redux-container-multi_label_textarea a.redux-multi-label-textarea-remove.deletion {
  color: #f00;
  padding: 2px 4px;
  margin-left: 5px;
}
.redux-container-multi_label_textarea a.redux-multi-label-textarea-remove.deletion:hover {
  background: red;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 782px) {
  .redux-container-multi_label_textarea input {
    clear: both;
  }
  .redux-container-multi_label_textarea .redux-multi-label-textarea-remove {
    margin: 0;
    float: right;
  }
}
.wp-customizer .redux-container-multi_label_textarea .button {
  float: right;
}
.wp-customizer .redux-container-multi_label_textarea .redux-multi-label-textarea-remove {
  float: right;
  margin-bottom: 5px;
}
.wp-customizer .redux-container-multi_label_textarea ul.redux-multi-label-textarea input {
  width: 100% !important;
}

.redux-container-multi_label_textarea .regular-text-content{
  width: 100% !important;
}

.redux-container-multi_label_textarea .regular-text{
  width: 70% !important;
}

.redux-container-multi_label_textarea div.mce-panel {
  z-index: 1001 !important;
}