<div class="w9sme-form w9sme-contact-form-1">
	<div class="__contact-form-inner clearfix">
		<div class="__input __name mb-20">
			[text* client-name placeholder "Name" ]
		</div>
		<div class="__input __email mb-20">
			[email* client-email placeholder "Email Address" ]
		</div>
		<div class="__input __message">
			[textarea client-message x8 placeholder "Message" ]
		</div>
		<div class="__btn pt-20 pb-20">
			<button type="submit" class="wpcf7-form-control wpcf7-submit w9sme-btn fw-semibold p-font btn-style-solid btn-shape-square btn-size-md icon-effect-none hover-effect-default light-color p-bgc s-hover-button-bgc" title="SUBMIT" style="border: none; min-width: 170px"><span class='fz-14 ls-02'>SUBMIT</span></button>
		</div>
	</div>
</div>