<div class='w9sme-form w9sme-mailchimp-form-1'>
	<div class="__input-wrapper">
		<label for="mc-id-name">Your Name</label><div class="__input __name">
		[text mc4wp-NAME id:mc-id-name placeholder 'Enter your name']<i class="w9 w9-ico-user"></i>
	</div>
	</div>
	<div class="__input-wrapper">
		<label for="mc-id-email">Email Address</label><div class="__input __email">
		[email* mc4wp-EMAIL id:mc-id-email placeholder 'Enter email']<i class="w9 w9-ico-mail"></i>
	</div>
	</div>
	<p class='mb-0'><input type="hidden" name="mc4wp-subscribe" value="1" /><button type="submit" class="mailchimp-submit wpcf7-form-control wpcf7-submit w9sme-btn btn-size-sm light-color p-bgc gray4-hover-bgc "><span class="ls-01 fw-semibold  fz-13">SUBSCRIBE</span></button></p>
</div>