<div class="w9sme-form w9sme-reservation-form">
	<div class="__reservation-form-inner clearfix row">
		<div class="__input __name mb-20 col-sm-12">
			[text* Name placeholder "Name" ]
		</div>
		<div class="__input __email mb-20 col-sm-8">
			[email* Email placeholder "Email Address" ]
		</div>
		<div class="__input __phone mb-20 col-sm-4">
			[text* Phone placeholder "Phone" ]
		</div>
		<div class="__input __date mb-20 col-sm-4">
			[text* Date class:init-datepicker placeholder "Date"]
		</div>
		<div class="__input __time mb-20 col-sm-4">
			[select Time id:booking-time first_as_label "Time" "8:00am - 11:00am" "2:00pm - 5:00pm" "7:00pm - 9:30pm" "9:00am - 11:30am" "2:00pm - 5:30pm" "7:00pm - 10:00pm"]
		</div>
		<div class="__input __service mb-20 col-sm-4">
			[select* Service class:service-data class:init-select2 include_blank "Spa" "Massage" "Yoga" "Beauty"]
		</div>
		<div class="__input __message col-sm-12">
			[textarea Message x8 placeholder "Message" ]
		</div>
		<div class="__btn pt-20 pb-20 text-right col-sm-12">
			<button type="submit" class="wpcf7-form-control wpcf7-submit w9sme-btn fw-semibold p-font btn-style-solid btn-shape-square btn-size-md icon-effect-none hover-effect-default light-color p-bgc s-hover-button-bgc" title="SUBMIT" style="border: none; min-width: 170px"><span class='fz-14 ls-02'>SUBMIT</span></button>
		</div>
	</div>
</div>