<button class="button button-primary w9sme-btn-generate-presets-css">Re-Generate Presets CSS</button>
<span class="spinner"></span>
<div class="logging-panel">

</div>
<style>
	button.w9sme-btn-generate-preset-color-css .disabled {
		cursor:  not-allowed !important;
		opacity: 0.5;
	}

	.logging-panel .logging {
		display: block;

	}
</style>