/*-------------------------------------
	9WPTHEMES ICON
---------------------------------------*/
#adminmenu .toplevel_page__9wpthemes .menu-icon-generic div.wp-menu-image:before {
	font-family: '9wpthemes';
	content:     "\e13b";
}

/*-------------------------------------
	SELECT2
---------------------------------------*/
.select2-results__options[aria-multiselectable=true] .select2-results__option[aria-selected=true] {
	display: none;
}

.select2-container {
	.select2-selection.select2-selection--single {
		height:           30px;
		//border:           1px solid #ddd;
		//line-height:      28px;
		border-radius:    0;
		background-image: none;
		//.select2-chosen {
		//margin-right: 37px;
		//text-align: center;
		//}

		.select2-selection__rendered {
			padding-right: 29px;
		}

		.select2-selection__clear {
			color:        #aaa;
			margin-right: 10px;
			&:hover {
				color: #444;
			}
		}

		//abbr {
		//	width:            12px;
		//	height:           12px;
		//	position:         absolute;
		//	right:            37px;
		//	top:              8px;
		//	font-size:        1px;
		//	text-decoration:  none;
		//	border:           0;
		//	background-image: none;
		//	cursor:           pointer;
		//	outline:          0;
		//	&:after {
		//		position:    absolute;
		//		display:     block;
		//		line-height: 1;
		//		top:         2px;
		//		left:        2px;
		//		font-family: "9wpthemes";
		//		content:     "\e144";
		//		font-size:   8px;
		//		color:       #ccc;
		//	}
		//
		//	&:hover:after {
		//		color: #444;
		//	}
		//}
		.select2-selection__arrow {
			width:         28px;
			height:        28px;
			border-left:   1px solid #ddd;
			border-radius: 0;
			background:    transparent;

			b {
				background: transparent;
				text-align: center;
				display:    block;
				width:      100%;
				height:     100%;
				margin:     0;
				top:        auto;
				right:      auto;
				left:       auto;
				bottom:     auto;
				border:     0;

				&:after {
					font-family: "9wpthemes";
					content:     "\e067";
					font-size:   12px;
					color:       #444;
					position:    absolute;
					width:       12px;
					height:      12px;
					line-height: 12px;
					margin:      auto;
					top:         0;
					left:        0;
					right:       0;
					bottom:      0;
				}
			}
		}
	}

	.select2-selection {
		border: 1px solid #ddd;
		.select2-search-field {
			input[type="text"] {
				line-height: 15px;
			}
		}
	}

	//&.select2-allowclear {
	//	.select2-choice {
	//		.select2-chosen {
	//			margin-right: 57px;
	//		}
	//	}
	//}

}

.select2-container--open.select2-container {
	.select2-selection.select2-selection--single {
		background-image: none;
		background-color: #eee;
		.select2-selection__arrow {
			border-left: 0;
			b:after {
				content: "\e127";
			}
		}
	}
}

.select2-container .select2-results .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
	background-color: #ddd;
}

span.select2-dropdown {
	//background: #fff;
	//color: #000;
	border:        1px solid #ddd;
	border-top:    0;
	border-radius: 0;
}

.select2-drop.select2-drop-above {
	border-radius: 0;
}

.select2-container.select2-drop-above .select2-choice {
	border-radius: 0;

}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
	background-image: none;
}

.select2-container--default {
	.select2-selection--multiple {
		border-radius: 0;
		border:        1px solid #DDDDDD;
		font-size:     0;
	}
}

.select2-container--default.select2-container--focus {
	.select2-selection--multiple {
		border-color:       #5B9DD9;
		-webkit-box-shadow: 0 0 2px rgba(30, 140, 190, .8);
		box-shadow:         0 0 2px rgba(30, 140, 190, .8);
	}
}

ul.select2-selection__rendered {
	font-size: 13px;
}

.select2-drop, .select2-container--open {
	z-index: 110000;
}

/*-------------------------------------
	LOGO INFO
---------------------------------------*/
img.widget-image-selected {
	max-width:        50%;
	margin-top:       10px;
	border:           5px solid #F6F6F6;
	background-color: #F6F6F6;
}

/*-------------------------------------
	SHORTCODE ICON
---------------------------------------*/
.vc_element-icon.fa, .vc_element-icon.w9, .vc_element-icon.dashicons-before, .vc_element-icon.icon {
	background-image: none;
}

/*-------------------------------------
	vc-icons-selector
---------------------------------------*/
.vc-icons-selector {
	i.icon {
		display: inline-block;
		margin:  0;
		&:before {
			display: block;
		}
	}
}

/*-------------------------------------
	ADVANCE MENU ITEM SETTING
---------------------------------------*/
body.advance-menu-on {
	.media-modal.wp-core-ui {
		z-index: 1001102;
	}
}

.w9sme-advance-menu-form-container {
	position: relative;
	display:  none;

	.w9sme-input-group {
		margin-bottom: 15px;
	}

	label {
		display:       block;
		font-size:     14px;
		font-weight:   700;
		margin-bottom: 5px;
	}

	&.active {
		.w9sme-waiting-overlay {
			display: none;
		}
	}
}

.w9sme-menu-advance-button {
	position:            relative;
	display:             inline-block;
	color:               inherit;
	outline:             none;
	transition-duration: 0.3s;
	text-align:          center;
	font-weight:         600;
	opacity:             0;

	i {
		display:        inline-block;
		position:       relative;
		top:            -2px;
		line-height:    inherit;
		font-size:      20px;
		vertical-align: middle;

		&:before {
			display:     block;
			line-height: inherit;
		}
	}

	.menu-item-handle:hover > .item-controls > & {
		opacity: 1;
	}
}

.menu-item.w9sme-edited {
	.menu-item-bar .menu-item-handle {
		background-color: #444;

		&, & * {
			color: #fff !important;
		}
	}
}

.w9sme-waiting-overlay {
	overflow:         hidden;
	position:         absolute;
	left:             0;
	right:            0;
	width:            100%;
	height:           100%;
	background-color: #FFFFFF;

	.spinner {
		position:    absolute;
		visibility:  visible;
		float:       none;
		top:         50%;
		left:        50%;
		margin:      0;
		margin-left: -10px;
		margin-top:  -10px;
	}
}

.w9sme-remove-waiting {
	.w9sme-waiting-overlay {
		display: none;
	}
}

/*-------------------------------------
	ICON PICKER
---------------------------------------*/
.w9sme-icon-picker-table {
	width:  100%;
	height: 100%;
}

.w9sme-icon-picker-filter {
	width:         100%;
	margin-bottom: 15px;
}

.w9sme-icon-list {
	.icon-container {
		display:    inline-block;
		padding:    6px;
		font-size:  20px;
		cursor:     pointer;
		transition: all 0.3s;

		&:hover, &.active {
			background: #0073AA;
			color:      #FFFFFF;
		}
	}
}

.w9sme-advance-menu-form-container .w9sme-icon-picker {
	> *, button, .button-secondary {
		vertical-align: middle;
		margin-right:   10px;
	}
}

.w9sme-icon-picker {
	//> *, button, .button-secondary {
	//	vertical-align: middle;
	//	margin-right:   10px;
	//}
	.picker-preview {
		display: inline-block;
		border:  1px solid #DDDDDD;

		i {
			vertical-align: middle;
			line-height:    35px;
			height:         35px;
			width:          35px;
			display:        block;
			font-size:      20px;
			text-align:     center;

			&:before {
				line-height: inherit;
			}
		}
	}
}

.widgets-holder-wrap .widget-inside {
	.w9sme-icon-picker {
		margin-top:    13px;
		margin-bottom: 13px;
		.__input-wrapper {
			position:      relative;
			padding-left:  50px;
			padding-top:   4px;
			margin-top:    3px;
			margin-bottom: 5px;
			height:        38px;
			span.picker-preview {
				position: absolute;
				top:      0;
				left:     0;
			}
		}
	}
}

/*-------------------------------------
	MEDIA PICKER
---------------------------------------*/
.w9sme-media-picker {
	button, .button-secondary {
		margin-right: 10px;
	}
	.w9sme-select-button {

	}
	.w9sme-reset-button {

	}
	.w9sme-media-input {

	}
	.w9sme-preview-area {
		img {
			display:        inline-block;
			max-width:      200px;
			border:         1px solid #ddd;
			vertical-align: middle;
			padding:        5px;
			margin-top:     10px;
			margin-right:   5px;
		}
	}
}

///-------------------------------------
//	JQUERY UI SLIDER
//---------------------------------------
.w9sme-param-slider {
	.ui-slider {
		position:   relative;
		text-align: left;

		.ui-slider-handle {
			position:         absolute;
			z-index:          2;
			width:            1.2em;
			height:           1.2em;
			cursor:           default;
			-ms-touch-action: none;
			touch-action:     none;
		}

		.ui-slider-range {
			position:            absolute;
			z-index:             1;
			font-size:           .7em;
			display:             block;
			border:              0;
			background-position: 0 0;
		}
	}

	/* support: IE8 - See #6727 */
	.ui-slider.ui-state-disabled .ui-slider-handle,
	.ui-slider.ui-state-disabled .ui-slider-range {
		filter: inherit;
	}

	.ui-slider-horizontal {
		height: .8em;
	}

	.ui-slider-horizontal .ui-slider-handle {
		top:         -.3em;
		margin-left: -.6em;
	}

	.ui-slider-horizontal .ui-slider-range {
		top:    0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: 0;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: 0;
	}

	.ui-slider-vertical {
		width:  .8em;
		height: 100px;
	}

	.ui-slider-vertical .ui-slider-handle {
		left:          -.3em;
		margin-left:   0;
		margin-bottom: -.6em;
	}

	.ui-slider-vertical .ui-slider-range {
		left:  0;
		width: 100%;
	}

	.ui-slider-vertical .ui-slider-range-min {
		bottom: 0;
	}

	.ui-slider-vertical .ui-slider-range-max {
		top: 0;
	}

	/* Misc visuals
	----------------------------------*/

	/* Corner radius */
	.ui-corner-all,
	.ui-corner-top,
	.ui-corner-left,
	.ui-corner-tl {
		border-top-left-radius: 3px;
	}

	.ui-corner-all,
	.ui-corner-top,
	.ui-corner-right,
	.ui-corner-tr {
		border-top-right-radius: 3px;
	}

	.ui-corner-all,
	.ui-corner-bottom,
	.ui-corner-left,
	.ui-corner-bl {
		border-bottom-left-radius: 3px;
	}

	.ui-corner-all,
	.ui-corner-bottom,
	.ui-corner-right,
	.ui-corner-br {
		border-bottom-right-radius: 3px;
	}

	/* Overlays */
	.ui-widget-overlay {
		background: #aaaaaa;
		opacity:    .3;
		filter:     Alpha(Opacity=30); /* support: IE8 */
	}

	.ui-widget-shadow {
		-webkit-box-shadow: 0px 0px 5px #666666;
		box-shadow:         0px 0px 5px #666666;
	}

	.ui-widget.ui-widget-content {
		border: 1px solid #c5c5c5;
	}

	.ui-widget-content {
		border:     1px solid #dddddd;
		background: #ffffff;
		color:      #333333;
	}

	.ui-widget-content a {
		color: #333333;
	}

	.ui-widget-header {
		border:      1px solid #dddddd;
		background:  #e9e9e9;
		color:       #333333;
		font-weight: bold;
	}

	.ui-widget-header a {
		color: #333333;
	}

	/* Interaction states
	----------------------------------*/
	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default,
	.ui-button,
		/* We use html here because we need a greater specificity to make sure disabled
		works properly when clicked or hovered */
	html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
		border:      1px solid #c5c5c5;
		background:  #f6f6f6;
		font-weight: normal;
		color:       #454545;
	}

	.ui-state-default a,
	.ui-state-default a:link,
	.ui-state-default a:visited,
	a.ui-button,
	.ui-button {
		color:           #454545;
		text-decoration: none;
	}

	.ui-state-hover,
	.ui-widget-content .ui-state-hover,
	.ui-widget-header .ui-state-hover,
	.ui-state-focus,
	.ui-widget-content .ui-state-focus,
	.ui-widget-header .ui-state-focus {
		border:      1px solid #cccccc;
		background:  #ededed;
		font-weight: normal;
		color:       #2b2b2b;
	}
}

/*-------------------------------------
	W9SME PARAM TYPE SLIDER
---------------------------------------*/
.slider-wrapper {
	.w9sme-param-slider {
		margin-bottom: 18px;
	}
}

.w9sme-param-slider {
	position:      relative;
	margin-bottom: 25px;

	.slider-object {
		margin-right: 55px;
		top:          12px;
	}

	.slider-value {
		width:      50px;
		position:   absolute;
		top:        0;
		right:      0;
		text-align: center;
	}
}

.widget-content {
	.slider-wrapper {
		.w9sme-param-slider {
			margin-bottom: 10px;
			height:        27px;
		}
	}
	.w9sme-param-slider {
		.slider-object {
			top: 10px;
		}
	}
}

/*-------------------------------------
	OTHER
---------------------------------------*/
.ui-dialog-titlebar {
	min-height: 36px;
	height:     auto;
}

.redux-main .ui-state-active {
	background-image: none;
}

.redux-message {
	display: none !important;
}

div.mce-panel {
	z-index: 100001 !important;
}

div#ui-datepicker-div {
	z-index: 100001 !important;
}

/*-------------------------------------
	REVIEW STATISTIC
---------------------------------------*/
.review-statistic {
	.review-type-wrapper {
		margin: 10px 0;
		.type-name {
			display:        table-cell;
			vertical-align: middle;
			padding:        0 10px;
			width:          200px;
			font-weight:    600;
			text-align:     center;
		}
		.statistic {
			display: table-cell;
			width:   500px;
			.state {
				color:       #fff;
				width:       100%;
				height:      30px;
				line-height: 30px;
				font-weight: 600;
				display:     block;
				text-align:  center;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.total-review {
				background-color: #0d88c1;
			}

			.rating {
				background-color: #FF675B;
			}
		}
	}

	.left-col {
		float: left;
	}

	.right-col {
		float: right;
		width: 280px;
	}

	.do-hide-item {
		text-decoration: none;
		color: #23282d;


		span {
			display: inline-block;
			width: 15px;
			height: 15px;
			color: #fff;
			border-radius: 10px;
			background-color: #000;
			text-align: center;
			line-height: 15px;
			opacity: 0;
		}

		&:hover {
			span {
				opacity: 1;
			}
		}
	}
}
