//------------------------------------------
//	CUSTOM PAGE TITLE
//------------------------------------------
section.site-title {
	background-color: $w9sme-page-title-bg-color;
	color:            $w9sme-page-title-text-color;
}

.site-title-inner {
	h1.title {
		&.top-line {
			&:before {
				background-color: $w9sme-page-title-top-line-color;
			}
		}
	}

}