//------------------------------------------
//	FOOTER CONTENT AREA
//------------------------------------------
.site-footer .footer-content-area {
	position:         relative;

	background-color: $w9sme-footer-background-color;
	color:            $w9sme-footer-text-color;

	h1, h2, h3, h4, h5, .w9sme-widget-title, .widget_title {
		color: $w9sme-footer-heading-text-color;
	}

	a, ul li a {
		color: $w9sme-footer-link-color;

		&:hover, &:focus {
			color: $w9sme-footer-link-hover-color;
		}
	}

}