//====== VARIABLES
$message-box-border-radius-rounded: 5px;
$message-box-border-radius-round: 4em;
$message-box-shadow-width-3d: 5px;
$message-box-font-size-base: 1em;
$message-box-icon-size: 1.7em;
$message-box-horizontal-padding: 1em;
$message-box-vertical-padding: 1em;
$message-box-icon-indent: 4em;
$message-box-icon-indent-reduced: 3.25em;

$w9sme-info: #59A3C1;
$w9sme-info-bg: #B6ECFF;
$w9sme-info-border: #A0D1E1;
$w9sme-info-text: #59A3C1;
$w9sme-info-contrast: #fff;

$w9sme-notice: #666666;
$w9sme-notice-bg: #EFF5F7;
$w9sme-notice-border: #DDDDDD;
$w9sme-notice-text: #666666;
$w9sme-notice-contrast: #fff;

$w9sme-success: #468C00;
$w9sme-success-bg: #BCFCA2;
$w9sme-success-border: #80FF00;
$w9sme-success-text: #468C00;
$w9sme-success-contrast: #fff;

$w9sme-danger: #FF5533;
$w9sme-danger-bg: #FFCEC5;
$w9sme-danger-border: #DFB6AD;
$w9sme-danger-text: #FF5533;
$w9sme-danger-contrast: #fff;

$w9sme-warning: #FF7F00;
$w9sme-warning-bg: #FFF6B7;
$w9sme-warning-border: #FFCC99;
$w9sme-warning-text: #FF5533;
$w9sme-warning-contrast: #fff;

$w9sme_alert_color: (info: $w9sme-info, notice: $w9sme-notice, success: $w9sme-success, danger: $w9sme-danger, warning: $w9sme-warning);
$w9sme_alert_bg_color: (info: #B6ECFF, notice: #EFF5F7, success: #BCFCA2, danger: #FFCEC5, warning: #FFF6B7);
$w9sme_alert_border_color: (info: #A0D1E1, notice: #DDDDDD, success: #80FF00, danger: #DFB6AD, warning: #FFCC99);

//====== MIXINS

// Creating Colors
@mixin vc-make-message-color($text, $icon: $text, $border: false, $background: false) {
	color: $text;
	@if ($border != false) {
		border-color: $border;
	}
	@if ($background != false) {
		background-color: $background;
	}
	.vc_message_box-icon {
		color: $icon;
	}
}

// make colors set
@mixin vc-message-make-colors-set($selector, $text, $icon, $border, $background, $contrast-color) {
	.#{$selector} {
		// Standard, Classic (Old style), 3d
		&.vc_message_box {
			@include vc-make-message-color ($text,
																					$icon,
																			$border: $border,
																			$background: $background);
		}
		// Solid
		&.vc_message_box-solid {
			@include vc-make-message-color ($contrast-color,
																			$border: transparent,
																			$background: $icon);
		}
		// Outline (transparent background), Solid icon
		&.vc_message_box-outline,
		&.vc_message_box-solid-icon {
			@include vc-make-message-color ($text,
																					$icon,
																			$border: $icon,
																			$background: transparent);
		}
		// Solid icon
		&.vc_message_box-solid-icon {
			.vc_message_box-icon {
				color:            $contrast-color;
				background-color: $icon;
			}
		}
		// 3d
		&.vc_message_box-3d {
			box-shadow: 0 $message-box-shadow-width-3d 0 darken($border, 10%);
		}
	}
}

@include vc-message-make-colors-set('vc_color-w9sme-info', $w9sme-info-text, $w9sme-info, $w9sme-info-border, $w9sme-info-bg, $w9sme-info-contrast);
@include vc-message-make-colors-set('vc_color-w9sme-danger', $w9sme-danger-text, $w9sme-danger, $w9sme-danger-border, $w9sme-danger-bg, $w9sme-danger-contrast);
@include vc-message-make-colors-set('vc_color-w9sme-notice', $w9sme-notice-text, $w9sme-notice, $w9sme-notice-border, $w9sme-notice-bg, $w9sme-notice-contrast);
@include vc-message-make-colors-set('vc_color-w9sme-success', $w9sme-success-text, $w9sme-success, $w9sme-success-border, $w9sme-success-bg, $w9sme-success-contrast);
@include vc-message-make-colors-set('vc_color-w9sme-warning', $w9sme-warning-text, $w9sme-warning, $w9sme-warning-border, $w9sme-warning-bg, $w9sme-warning-contrast);

//@each $name, $color in $w9sme_alert_color {
//	.vc_color-w9sme-#{$name} {
//
//		&.vc_message_box {
//			color: $color;
//			.vc_message_box-icon {
//				color: $color;
//			}
//		}
//	}
//}
//
//@each $name, $color in $w9sme_alert_bg_color {
//	.vc_color-w9sme-#{$name} {
//		&.vc_message_box {
//			background-color: $color;
//		}
//	}
//}
//
//@each $name, $color in $w9sme_alert_border_color {
//	.vc_color-w9sme-#{$name} {
//		&.vc_message_box {
//			border-color: $color;
//		}
//	}
//}

.vc_message_box {

	&.vc_message_box-size-mini {
		padding: 0.6em 2.5em 0.6em 4em;

		.vc_message_box-icon {
			i {
				font-size: 1.2em;
			}
		}

		&.dismissible-element {

			span.dismiss-button {
				top:        50%;
				margin-top: -5px;
			}
		}
	}

	&.vc_message_box-size-large {
		padding: 1em 2.5em 1em 9em;

		.vc_message_box-icon {
			width: 8em;

			i {
				font-size: 2.7em;
			}
		}

		p {
			line-height: 2;
		}
	}

	.vc_message_box-icon {
		i {
			&:before {
				display: block;
			}
		}
	}

	p {
		margin-bottom: 0;
	}

	b, strong {
		font-weight: 600;
	}

	&.dismissible-element {
		span.dismiss-button {
			right: 18px;
		}
	}

}
