.w9sme-popup-video-placeholder {
	position:            relative;
	width:               100%;
	background-size:     cover;
	background-position: center center;
	background-repeat:   no-repeat;

	.w9sme-video-placeholder-overlay {
		position: absolute;
		width:    100%;
		height:   100%;
		top:      0;
		left:     0;
	}

	a {
		color:           inherit;
		opacity:         0.9;
		text-decoration: none;

		&:hover {
			opacity: 1;
		}
	}

	.w9sme-popup-video-caller {
		width:      100%;
		@include ab_center();
		text-align: center;
		font-size:  0;

		.__icon {
			//font-size:   70px;
			//width:       70px;
			display:     inline-block;
			line-height: 1;
		}

		.w9sme-content-popup {
			cursor:   pointer;
			position: relative;

			a.prettyPhoto {
				display:   block;
				font-size: 0;
				position:  absolute;
				top:       0;
				left:      0;
				@include size(100%, 100%);
			}
		}

		.vc_icon_element {
			margin-bottom: 0;
		}

		.__title {
			//padding-top:   20px;
			margin-bottom: 0;
		}
	}

	//&.title-center-middle.__with-title .w9sme-popup-video-caller {
	//	margin-top: -60px;
	//}

	&.title-left-top, &.title-left-bottom {
		.__title {
			position:      absolute;
			left:          35px;
			white-space:   nowrap;
			width:         100%;
			overflow:      hidden;
			text-overflow: ellipsis;
			padding-right: 60px;
		}
	}

	&.title-left-top {
		.__title {
			top: 30px;
		}
	}

	&.title-left-bottom {
		.__title {
			bottom: 30px;
		}
	}

	&.title-left-bottom-out {
		& + .__title {
			white-space:   nowrap;
			width:         100%;
			overflow:      hidden;
			text-overflow: ellipsis;
			margin-top:    15px;
			margin-bottom: 15px;

			> a:hover {
				text-decoration: underline;
			}
		}
	}

}

.w9sme-video-wrapper .wpb_wrapper {
	> .__title {
		white-space:   nowrap;
		width:         100%;
		overflow:      hidden;
		text-overflow: ellipsis;
		margin-top:    15px;
		margin-bottom: 15px;

		> a:hover {
			text-decoration: underline;
		}
	}
}

.w9sme-popup-video-placeholder-ratio-169 {
	height:      0;
	padding-top: (9/16)*100%;
}

.w9sme-popup-video-placeholder-ratio-43 {
	padding-top: (3/4)*100%;
}

.w9sme-popup-video-placeholder-ratio-32 {
	padding-top: (2/3)*100%;
}

.w9sme-popup-video-placeholder-ratio-235 {
	padding-top: (1/2.35)*100%;
}

@media (max-width: $screen-xs-max) {
	.w9sme-popup-video-placeholder {
		&.title-left-top, &.title-left-bottom {
			.__title {
				left: 20px;
			}
		}

		&.title-left-top {
			.__title {
				top: 15px;
			}
		}

		&.title-left-bottom {
			.__title {
				bottom: 15px;
			}
		}
	}
}

@media (max-width: $screen-xxs) {
	//.w9sme-popup-video-placeholder {
	//
	//	.w9sme-popup-video-caller {
	//		.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon {
	//			font-size: 1.8em !important;
	//		}
	//
	//		.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-have-style-inner {
	//			width:  2.5em !important;
	//			height: 2.5em !important;
	//		}
	//		//margin-top: -20px;
	//		.__icon {
	//			//font-size: 40px;
	//		}
	//
	//		.__title {
	//			padding-top: 10px;
	//		}
	//	}
	//
	//	&.title-center-middle.__with-title .w9sme-popup-video-caller {
	//		//margin-top: -39px;
	//	}
	//}
}


