.vc_separator-has-text-top-line {

	&.vc_separator_align_center .text-wrapper {
		padding:    0 10px;
		text-align: center;

		h4 {
			padding: 0;
		}
	}

	&.vc_separator_align_left .text-wrapper {
		padding:    0 10px 0 0;
		text-align: left;

		h4 {
			padding: 0;
		}
	}

	&.vc_separator_align_right .text-wrapper {
		padding:    0 0 0 10px;
		text-align: right;

		h4 {
			padding: 0;
		}
	}

	.text-wrapper {
		font-size: 0;

		h4 {
			font-size: 16px;
		}
	}
}