.w9sme-div-wrapper {
	position: relative;

	&.w9sme-div-wrapper-align-left {
		float: left;
	}
	&.w9sme-div-wrapper-align-right {
		float: right;
	}
	&.w9sme-div-wrapper-align-center {
		float:none;
		margin-left:  auto;
		margin-right: auto;
	}
}

.w9sme-div-content {
	position: relative;
	overflow: auto;
	.w9sme-div-content-inner {
		position: relative;
	}
}

.w9sme-overlay-enabled {
	position: absolute;
}

.w9sme-div-content-inner {
	display:  table;
	position: relative;
	width:    100%;
	height:   100%;
}

.w9sme-overlay-content {
	display:  table-cell;
	position: relative;
}

.w9sme-overlay-inner-content-top > .w9sme-div-content-inner > .w9sme-overlay-content {
	vertical-align: top
}

.w9sme-overlay-inner-content-middle > .w9sme-div-content-inner > .w9sme-overlay-content {
	vertical-align: middle;
}

.w9sme-overlay-inner-content-bottom > .w9sme-div-content-inner > .w9sme-overlay-content {
	vertical-align: bottom;
}


