.w9sme-sc-event.w9sme-event-style-1 {
	.event-item {
		margin-bottom: 30px;
		//a {
		//	color: inherit;
		//	&:hover {
		//		color: $w9sme-primary-color;
		//	}
		//}

		.item-content-wrapper {
			@include easing-animation();
			@include box-shadow(0px 0px 12px transparent);
			padding:                 30px;
			-webkit-background-size: cover;
			background-size:         cover;
			background-position:     center center;
		}

		.item-content {
			@include easing-animation();
			@include box-shadow(0px 0px 15px transparent);
			position:         relative;
			z-index:          2;
			text-align:       center;
			background-color: rgba(#fff, 0.9);
			padding:          25px 25px 33px;
			.item-content-inner {
				padding:       20px 15px 40px;
				border:        2px solid;
				border-color:  #444;
				border-bottom: 0;
			}

			.__icon {
				position:         relative;
				@include easing-animation();
				background-color: #999;
				color:            #fff;
				width:            72px;
				height:           72px;
				font-size:        50px;
				margin-left:      auto;
				margin-right:     auto;
				border-radius:    100%;
				margin-bottom:    25px;
				i:before {
					position: absolute;
					top:      50%;
					left:     50%;
					@include transform(translate(-50%, -50%));
				}
			}

			.__title {
				font-style:    italic;
				font-size:     24px;
				font-family:   $w9sme-secondary-font;
				line-height:   1.5;
				font-weight:   400;
				margin-bottom: 10px;
			}
			.__category {
				width:          100%;
				bottom:         33px;
				left:           0;
				padding-left:   26px;
				padding-right:  26px;
				position:       absolute;
				text-transform: uppercase;
				font-size:      12px;
				font-weight:    600;
				letter-spacing: 0.2em;
				@include flexbox();
				@include align-items(flex-end);
				@include flex-wrap();
				@include flex-direction(row);
				.__line {
					@include flex(1 1 auto);
					min-width:        10%;
					height:           2px;
					background-color: #444;
				}
				h5 {
					font-size:     16px;
					@include transform(translateY(50%));
					margin-bottom: 0;
					line-height:   1.3;
					padding-left:  10px;
					padding-right: 10px;
					@include flex(0 1 auto);
				}
			}
		}

		&:hover {
			.item-content-wrapper {
				@include box-shadow(0px 0px 12px rgba(#999,0.65));
			}
			.item-content {
				@include box-shadow(0px 0px 15px rgba(#222,0.2));
				background: #FFF;
				.__icon {
					background: $w9sme-primary-color;
				}
			}
		}
	}
	.event-layout-grid-wrapper.vc_row-o-equal-height {
		.item-content-wrapper, .item-content, .item-content-inner {
			@include flexbox();
			@include flex-direction(column);
			@include align-items();
			@include flex-grow(1);
		}
	}

	&.owl-item-equal-height {
		.event-item {
			margin-bottom: 0;
		}
		.event-item, .item-content-wrapper, .item-content, .item-content-inner {
			height: 100%;
		}
	}
}

.w9sme-sc-event.w9sme-event-style-2 {
	.event-item {
		margin-bottom: 30px;

		.event-item-inner {
			position: relative;
		}

		.item-image {
			height:                  380px;
			-webkit-background-size: cover;
			background-size:         cover;
			background-position:     center center;
		}

		.item-content-wrapper {
			position: absolute;
			bottom:   0;
			left:     0;
			width:    100%;
			padding:  20px 30px;
		}

		.item-content {
			color:     #fff;
			border:    3px solid;
			max-width: 440px;

			.__title {
				line-height:    1.3;
				font-weight:    400;
				font-size:      24px;
				letter-spacing: 0.1em;
				margin-bottom:  0;
				border-bottom:  3px solid;
				> a {
					padding: 30px 40px;
					display: block;
				}
			}

			.__block {
				padding-left: 100px;
				position:     relative;
			}

			.__icon {
				position:  absolute;
				width:     100px;
				height:    100%;
				left:      0;
				top:       0;
				font-size: 50px;

				i:before {
					position: absolute;
					top:      50%;
					left:     50%;
					@include transform(translate(-50%, -50%));
				}
			}
			.__category {
				border-left: 3px solid;
				h5 {
					text-transform: uppercase;
					text-align:     center;
					//font-weight:   400;
					letter-spacing: 0.1em;
					margin-bottom:  0;
					line-height:    25px;
					> a, span {
						padding: 23px 15px 22px;
						display: block;

					}
				}
			}
		}

		&, &.style-odd {
			.item-content {
				background-color: rgba($w9sme-primary-color, 0.9);
			}
		}

		&.style-even {
			.item-content {
				background-color: rgba(#999, 0.9);
			}
		}
	}

	&.item-style-even {
		.event-item .item-content {
			background-color: rgba($w9sme-primary-color, 0.9);
		}
	}

	&.item-style-odd {
		.event-item .item-content {
			background-color: rgba(#999, 0.9);
		}
	}

	@media(max-width: $screen-xxs) {
		.event-item {
			.item-content .__title > a {
				padding-left:  15px;
				padding-right: 15px;
			}
		}
	}
}


