//------------------------------------------
//	Event wrapper
//------------------------------------------
.ch-event-wrapper {
	.__event {
		a {
			color: $w9sme-text-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.w9sme-ch-wrapper {
	.ch-event-wrapper {
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (max-width: $screen-xs-max) {
		.ch-event-wrapper {
			margin-bottom: 25px;
		}
	}
}

//------------------------------------------
//	STYLE 1
//------------------------------------------
.w9sme-ch-wrapper.ch-style-style-1 {
	.ch-top {
		.__year, .__event {
			display:        table-cell;
			vertical-align: middle;
		}

		.__year {
			line-height: 1.4;
		}

		.__event {
			padding: 10px 30px;
		}
	}

	.ch-bottom {
		margin-top: 12px;
	}

	&.ch-align-left {
		.ch-top {
			.__year {
				padding-right: 30px;
				border-right:  5px solid $w9sme-primary-color;
				text-align:    right;
			}
		}
	}

	&.ch-align-right {
		text-align: right;

		.ch-top {
			.ch-top-inner {
				float: right;
			}
			.__year {
				padding-left: 30px;
				border-left:  5px solid $w9sme-primary-color;
				text-align:   left;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.w9sme-ch-wrapper.ch-style-style-1 {
		.ch-top {
			.__year, .__event {
				display: block;
			}

			.__year {
				width:       auto !important;
				line-height: 1.8;
			}

			.__event {
				padding: 0;
			}
		}

		&.ch-align-left, &.ch-align-right {
			text-align: center;
			.ch-top {
				.ch-top-inner {
					float: none;
				}

				.__year, .__event {
					text-align: center;
				}

				.__year {
					border:  none;
					padding: 0;
				}

				.__event {
					&:before {
						content:          '';
						display:          block;
						height:           5px;
						width:            46px;
						background-color: $w9sme-primary-color;
						margin:           5px auto 15px;
					}
				}
			}
		}

		&.ch-align-right {
			.ch-top-inner {
				display:         flex;
				flex-direction:  column;
				justify-content: center;

				.__year {
					order: 1;
				}

				.__event {
					order: 2;
				}
			}
		}
	}
}

//------------------------------------------
//	STYLE 2
//------------------------------------------
.w9sme-ch-wrapper.ch-style-style-2 {
	.__year, .event-content {
		display:        table-cell;
		vertical-align: middle;
	}

	.event-content {
		padding: 10px 30px;

		.__description {
			margin-top: 12px;
		}
	}

	&.ch-align-left {
		.__year {
			padding-right: 30px;
			border-right:  5px solid $w9sme-primary-color;
			text-align:    right;
		}
	}

	&.ch-align-right {
		.ch-event-wrapper {
			float: right;
		}

		.__year {
			padding-left: 30px;
			border-left:  5px solid $w9sme-primary-color;
			text-align:   left;
		}

		.event-content {
			text-align: right;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.w9sme-ch-wrapper.ch-style-style-2 {
		text-align: center;
		.__year, .event-content {
			display: block;
		}

		.event-content {
			padding: 0;
		}

		&.ch-align-left, &.ch-align-right {
			.__year {
				border:       none;
				padding:      0;
				width:        auto !important;
				text-align:   center;
			}

		}

		&.ch-align-right {
			.ch-event-wrapper {
				float: none;
				display: flex;
				justify-content: center;
				flex-direction: column;

				.__year {
					order: 1;
				}

				.event-content {
					order: 2;
				}
			}

			.event-content {
				text-align: center;
			}
		}

		.__event {
			&:before {
				content:          '';
				display:          block;
				height:           5px;
				width:            46px;
				background-color: $w9sme-primary-color;
				margin:           5px auto 15px;
			}
		}
	}
}

//------------------------------------------
//	STYLE 3
//------------------------------------------
.w9sme-ch-wrapper.ch-style-style-3 {
	text-align: center;

	.__separator {
		display:          block;
		width:            46px;
		height:           5px;
		background-color: $w9sme-primary-color;
		margin:           5px auto 15px;
	}

	.__description {
		margin-top: 12px;
	}
}
