$w9sme-icon-transition-time: 0.2s;

@mixin icon-easing-animation($type: all) {
	@include transition($type $w9sme-icon-transition-time ease-out);
}

.w9sme-icon-box {

	/*-------------------------------------
		General
	---------------------------------------*/
	&.default {
		h3 {
			font-size:      14px;
			text-transform: uppercase;
			margin-bottom:  0;

		}

		a {
			text-decoration: none;
		}

		.__sub-title {
			font-style: italic;
			display:    inline-block;
		}

		.__text {
			font-family: $w9sme-secondary-font;
		}
	}

	&.top-left-inline, &.top-right-inline, &.left, &.right {
		.__header {
			padding-top:    10px;
			padding-bottom: 10px;
		}

		.__icon {
			i {
				font-size: 30px;
				&:before {
					@include icon-easing-animation();
				}
			}
		}

		.__sub-title {
			margin-bottom: 10px;
		}
	}

	&.top-left-inline, &.top-right-inline {
		.__header {
			position: relative;
			//margin-bottom: 5px;
		}

		.__icon {
			position: absolute;
			top:      0;
			width:    60px;
			height:   100%;
			i:before {
				position:  absolute;
				top:       50%;
				left:      50%;
				transform: translate(-50%, -50%) scale(1);
			}
		}

		&:hover {
			.__icon i:before {
				transform: translate(-50%, -50%) scale(1.2);
			}
		}
	}

	&.top-left-inline {
		text-align: left;

		.__icon {
			left: 0;
		}

		.__header {
			padding-left: 60px;
		}
	}

	&.top-right-inline {
		text-align: right;

		.__icon {
			right: 0;
		}

		.__header {
			padding-right: 60px;
		}

		.__title-top-line {
			margin-left: auto;
		}
	}

	&.top-center {
		padding-top:    35px;
		padding-bottom: 20px;
		text-align:     center;
		.__icon {
			position: relative;
			height:   110px;

			i {
				font-size: 60px;
			}

			i:before {
				@include icon-easing-animation();
				position:  absolute;
				top:       10px;
				left:      50%;
				transform: translate(-50%) scale(1);
			}
		}

		&.style-normal {
			&:hover {
				.__icon {
					i:before {
						transform: translate(-50%) scale(1.1);
					}
				}
			}
		}

		.__header + .__sub-title {
			margin-top:    10px;
			margin-bottom: 15px;
		}

		.__header + .__text {
			margin-top: 10px;
		}

		.__title-top-line {
			margin-left:  auto;
			margin-right: auto;
		}
	}

	&.left, &.right {
		position: relative;
		.__icon {
			i:before {
				width:      70px;
				text-align: center;
				position:   absolute;
				top:        15px;
				display:    block;
				transform:  scale(1);
			}
		}

		&.style-normal {
			&:hover {
				.__icon i:before {
					transform: scale(1.2);
				}
			}
		}
	}

	&.left {
		text-align: left;

		.__icon {
			float: left;
			i:before {
				left: 0;
			}
		}

		.__header, .__sub-title, .__text {
			padding-left: 70px;
		}
	}

	&.right {
		text-align: right;

		.__icon {
			float: right;
			i:before {
				right: 0;
			}
		}

		.__header, .__sub-title, .__text {
			padding-right: 70px;
		}

		.__title-top-line {
			margin-left: auto;
		}
	}

	&:not(.bottom).style-rounded {
		.__icon i {
			font-size:     40px;
			width:         80px;
			height:        80px;
			position:      absolute;
			//border-width:  2px;
			//border-style:  solid;
			border-radius: 50%;
			display:       block;
			@include icon-easing-animation();
			&:before {
				transition: 0s;
				transform:  scale(1);
				top:        0;
				left:       0;
				right:      0;
				bottom:     0;
				margin:     auto;
				width:      40px;
				height:     40px;
			}
		}

		&.left, &.right {
			.__icon i {
				top: 0;
			}

			.__header {
				padding-top:    0;
				padding-bottom: 5px;
			}
		}

		&.left {
			.__icon i {
				left: 0;
			}

			.__header, .__sub-title, .__text {
				padding-left: 100px;
			}
		}

		&.right {
			.__icon i {
				right: 0;
			}

			.__header, .__sub-title, .__text {
				padding-right: 100px;
			}
		}

		&.top-center {
			padding-top: 0;
			.__icon {
				height: 95px;
				i {
					top:          0;
					left:         0;
					right:        0;
					margin-left:  auto;
					margin-right: auto;
				}
			}
		}
	}

	&.bottom {
		text-align: center;

		.__sub-title {
			font-style: normal;
		}

		.__icon {
			height:  100px;
			width:   100%;
			display: table;

			i {
				font-size:      60px;
				display:        table-cell;
				vertical-align: middle;

				&:before {
					display: block;
				}
			}

		}

		.__link {
			font-weight:    600;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			a {
				text-decoration: underline;
			}
			margin-bottom:  12px;
		}

		.__title-top-line {
			margin-left:  auto;
			margin-right: auto;
		}
	}

	/*-------------------------------------
		STYLE
	---------------------------------------*/
	//.__title a:hover {
	//	color: $w9sme-primary-color;
	//}
	//
	//&.bottom {
	//	.__link a {
	//		color: inherit;
	//		&:hover {
	//			color: $w9sme-primary-color;
	//		}
	//	}
	//}
	.__title-top-line {
		display:       block;
		width:         46px;
		height:        5px;
		margin-bottom: 15px;
	}

	//icon color

	@each $color, $value in map_merge((p: $w9sme-primary-color, s: $w9sme-secondary-color, text: $w9sme-text-color, meta-text: $w9sme-meta-text-color, border: $w9sme-border-color, light: #ffffff,
		dark: #000000, gray2: #222222, gray4: #444444, gray6: #666666, gray8: #888888), $w9sme-most-used-colors) {

		// icon color
		&.ib-i-color-#{$color} {
			.__icon i {
				color: $value;
			}
		}

		// icon hover color
		&.ib-i-hover-color-#{$color}:hover {
			.__icon i {
				color: $value;
			}
		}

		// icon bg color
		&.ib-i-bgc-#{$color} {
			.__icon i {
				background-color: $value;
			}
		}
		// icon hover color
		&.ib-i-hover-bgc-#{$color}:hover {
			.__icon i {
				background-color: $value;
			}
		}

		// text color
		&.ib-tx-color-#{$color} {
			color: $value;
		}
	}

	// box shadow
	//&.ib-eff-boxshadow, &.ib-eff-hover-boxshadow {
	//	@include easing-animation(box-shadow);
	//}
	//
	//&.ib-eff-boxshadow {
	//	box-shadow:         0 0 5px rgba(#888, 0.4);
	//	-webkit-box-shadow: 0 0 5px rgba(#888, 0.4);
	//}
	//
	//&.ib-eff-hover-boxshadow {
	//	box-shadow:         0 0 5px transparent;
	//	-webkit-box-shadow: 0 0 5px transparent;
	//	&:hover {
	//		box-shadow:         0 0 5px rgba(#888, 0.4);
	//		-webkit-box-shadow: 0 0 5px rgba(#888, 0.4);
	//	}
	//}
}

//
//@media (max-width: 767px) {
//	.w9sme-icon-box {
//		padding: 0 10px;
//	}
//}