// Portfolio Title
.w9sme-portfolio-page-title {

	.__video-popup-wrapper {
		margin-bottom: 30px;
		font-size:     60px;
		line-height:   1;
		a:hover {
			opacity: 0.85;
		}
	}

	.__title {
		line-height: 1.2;
	}

	.__subtitle {
		margin-bottom: 40px;

		a {
			text-decoration: none;
		}
	}
}

//Portfolio Gallery
.w9sme-portfolio-gallery-simple {
	margin-right: -30px;
	.__image {
		margin-bottom: 50px;
		display:       inline-block;
		margin-right:  30px;

		img {
			max-width: 100%;
		}
	}
}

// Portfolio Info
.w9sme-portfolio-info-wrapper {

}

@mixin ctp-meta-info() {
	margin-bottom: 20px;

	a:not(.w9sme-btn) {
		color:           inherit;
		text-decoration: none;
		&:active, &:hover {
			color: $w9sme-primary-color;
		}
	}

	.info-style-1 & {
		> li {
			color:       $w9sme-meta-text-color;
			font-family: $w9sme-secondary-font;
			.__info-label, .share-this-label {
				font-style:     normal;
				font-weight:    500;
				display:        block !important;
				color:          $w9sme-text-color;
				text-transform: uppercase;
				font-family:    $w9sme-primary-font;
			}

			> a {
				font-style:  italic;
			}


			.social-profiles-inner {
				padding-top: 5px;

				li {
					&:first-of-type {
						padding-left: 0;
					}
					&:last-of-type {
						padding-right: 0;
					}
				}
			}
		}
	}

	.info-style-2 & {
		> li {
			color:       $w9sme-meta-text-color;
			font-family: $w9sme-secondary-font;
			.__info-label, .share-this-label {
				font-style:     normal;
				font-weight:    500;
				color:          $w9sme-text-color;
				text-transform: uppercase;
				font-family:    $w9sme-primary-font;
			}

			> a {
				font-style:  italic;
			}
		}
	}

	.info-style-3 & {
		> li {
			font-family: $w9sme-primary-font;
			.__info-label, .share-this-label {
				font-weight:    700;
				color:          $w9sme-text-color;
				text-transform: uppercase;
			}
		}
	}

	> li:not(:last-child) {
		margin-bottom: 12px;
	}

	.social-profiles-inner {
		li {
			color: $w9sme-text-color;
		}
	}

	.w9sme-button-wrapper {
		padding-top: 10px;
	}
}

.w9sme-portfolio-info-list {
	@include ctp-meta-info();
}

// Portfolio About
.w9sme-portfolio-about-wrapper {
	h2 {
		font-size:     14px;
		line-height:   1;
		margin-bottom: 25px;

		&:after {
			margin-top:       15px;
			content:          '';
			display:          block;
			height:           2px;
			width:            40px;
			background-color: $w9sme-primary-color;
		}
	}
}

//Listing portfolio

.w9sme-basic-portfolio {
	color:           #fff;
	border:          15px solid transparent;
	background-clip: padding-box;

	a {
		color:           #fff;
		text-decoration: none;
	}
	h3 {
		margin:         10px;
		font-size:      16px;
		text-transform: uppercase;
	}
}

.vc_grid-item-mini.vc_is-hover .vc_gitem-animate-fadeIn .w9sme-basic-portfolio.vc_gitem-zone-b .vc_separator {
	width: 101px;
}

.vc_grid-filter, .filter-style-simple {
	font-size:     12px;
	margin-bottom: 60px;
}
