//VC Gitem Post Shortcode
.vc_gitem-post-data {
	h1, h2, h3, h4, h5, h6, p {
		margin-bottom: 15px;
	}
}

//W9sme Gitem Shortcode
.w9sme-gitem-feature {
	&.inline-block-el:not(:last-of-type) {
		margin-right: 10px;
	}
}

.w9sme-gitem-social-follow {
	margin:  0;
	padding: 0;
	> li {
		display:    inline-block;
		list-style: none;
		padding:    5px;
	}

	a {
		color: $w9sme-meta-text-color;
		&:hover {
			color: $w9sme-primary-color;
		}
	}
}

//W9sme Gitem Shortcode
.w9sme-gitem-post-excerpt {
	margin-bottom: 15px;
}

// W9sme Post Image
.w9sme-gitem-image {
	position: relative;

	img {
		width: 100%;
	}

	.__overlay {
		position:         absolute;
		top:              0;
		left:             0;
		right:            0;
		bottom:           0;
		z-index:          3;
		background-color: rgba($w9sme-secondary-color, 0.7);
		opacity:          0;
		@include transform(scale(0));
		@include easing-animation();
		i {
			font-size:   24px;
			color:       #fff;
			width:       48px;
			height:      48px;
			line-height: 48px;
			text-align:  center;
			//border:                2px solid #fff;
			&:before {
				display:     block;
				line-height: inherit;
			}
		}

		> i {
			top:         50%;
			position:    absolute;
			left:        50%;
			margin-top:  -24px;
			margin-left: -24px;
		}

		.__inner {
			font-size: 0;
			text-align: center;
			a, span {
				display: inline-block;
			}
			.__separator {
				position: relative;
				top: 2px;
				margin-left: 15px;
				margin-right: 15px;
				height: 28px;
				width: 1px;
				background: #fff;
			}
		}
	}
	&:hover .__overlay {
		opacity: 1;
		@include transform(scale(1));
	}
}