.w9sme-team-member {

	// Style 1 / Style 1i
	&.item-style-1, &.item-style-1i {
		.__avatar {
			text-align: center;
			font-size:  0;
			.__avatar-inner {
				overflow: hidden;
				position: relative;
				display:  inline-block;
				@include rounded(50%);
			}

			.__overlay {
				@include easing-animation();
				@include rounded(50%);
				width:            100%;
				height:           100%;
				top:              0;
				left:             0;
				position:         absolute;
				background-color: #eee;
				opacity:          0.0;
			}
		}

		.__member-info {
			padding:    25px 10px 10px;
			text-align: center;

			.__role {
				text-transform: uppercase;
				font-weight:    600;
				font-size:      12px;
				color:          $w9sme-secondary-color;
				margin-bottom:  5px;
				letter-spacing: 0.2em;
			}

			.__name {
				font-size:      28px;
				font-weight:    400;
				line-height:    1.3;
				font-family:    $w9sme-secondary-font;
				margin-bottom:  10px;
				letter-spacing: 0.05em;
			}

			.__description {
				font-family:    $w9sme-secondary-font;
				margin-bottom:  25px;
				letter-spacing: 0.05em;
			}

			.__social-list {
				margin-left:  -10px;
				margin-right: -10px;
				li {
					padding-left:  10px;
					padding-right: 10px;
					a {
						font-size: 16px;
						color:     #999;
						&:hover {
							color: $w9sme-primary-color;
						}
					}
				}
			}
		}
	}

	// style 1i
	&.item-style-1i {
		.w9sme-team-member-inner {
			@include flexbox();
			@include flex-direction(column);
			.__member-info {
				order: 1;
			}

			.__avatar {
				order: 2;
			}
		}

		@media (max-width: $screen-sm-max) {
			&.avatar-top-sm-max {
				.w9sme-team-member-inner {
					.__member-info {
						order: 2;
					}

					.__avatar {
						order: 1;
					}
				}
			}
		}

		@media (max-width: $screen-xs-max) {
			&.avatar-top-xs-max {
				.w9sme-team-member-inner {
					.__member-info {
						order: 2;
					}

					.__avatar {
						order: 1;
					}
				}
			}
		}
	}

	//Style 1 / Style 1i - hover style 1

	&.item-style-1.item-hover-style-1, &.item-style-1i.item-hover-style-1 {
		.__member-info {
			.__social-list {
				opacity: 0;
				@include easing-animation();
			}
		}
		&:hover {
			.__avatar .__overlay {
				opacity: 0.7;
			}
			.__member-info {
				.__name {
					color: $w9sme-primary-color;
				}

				.__social-list {
					opacity: 1;
				}
			}
		}
	}

	//Style 1 / Style 1i - hover style 2
	&.item-style-1.item-hover-style-2, &.item-style-1i.item-hover-style-2 {
		background-color: #fff;
		@include easing-animation();
		@include box-shadow(0px 0px 12px transparent);

		.__avatar {
			.__avatar-inner {
				@include transform(scale(1));
				@include easing-animation();
			}
		}

		.__member-info {
			@include easing-animation();
			@include transform(translateX(0));
		}
		&:hover {
			@include box-shadow(0px 0px 12px #ddd);
			.__avatar .__avatar-inner {
				@include transform(scale(0.75));
			}
			//.__member-info {
			//	@include transform(translateY(-30px));
			//}
		}
	}

	&.item-style-1.item-hover-style-2 {
		&:hover {
			.__member-info {
				@include transform(translateY(-30px));
			}
		}
	}

	&.item-style-1i.item-hover-style-2 {
		&:hover {
			.__member-info {
				@include transform(translateY(30px));
			}
		}
	}

	@media (max-width: $screen-sm-max) {
		&.item-style-1i.avatar-top-sm-max.item-hover-style-2 {
			&:hover {
				.__member-info {
					@include transform(translateY(-30px));
				}
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		&.item-style-1i.avatar-top-xs-max.item-hover-style-2 {
			&:hover {
				.__member-info {
					@include transform(translateY(-30px));
				}
			}
		}
	}

	// Style 2
	&.item-style-2 {
		.__avatar-wrapper {
			padding-right: 55px;
			position:      relative;
			margin-bottom: 30px;

			.__social-list {
				font-size:     0;
				width:         55px;
				padding-left:  10px;
				padding-right: 10px;
				position:      absolute;
				bottom:        0;
				right:         0;

				li {
					padding: 0;
				}

				a {
					display:   block;
					width:     35px;
					height:    35px;
					font-size: 18px;
					color:     #999;
					position:  relative;
					i:before {
						position: absolute;
						top:      50%;
						left:     50%;
						@include transform(translate(-50%, -50%));
					}

					&:hover {
						//background-color: $w9sme-secondary-color;
						color:            $w9sme-primary-color;
					}
				}
			}
		}

		.__member-info {
			.__name {
				text-transform: uppercase;
				font-size:      14px;
				font-weight:    700;
				color:          #222222;
				letter-spacing: 0.05em;
				margin-bottom:  10px;
			}

			.__role {
				font-weight:    400;
				font-size:      14px;
				font-style:     italic;
				font-family:    $w9sme-secondary-font;
				color:          $w9sme-primary-color;
				letter-spacing: 0.05em;
				margin-bottom:  15px;
			}

			.__description {
				color:          #222;
				font-family:    $w9sme-primary-font;
				margin-bottom:  25px;
				letter-spacing: 0.05em;
				font-weight:    300;
			}

			.__social-list {
				margin-left:  -10px;
				margin-right: -10px;
				li {
					padding-left:  10px;
					padding-right: 10px;
					a {
						font-size: 16px;
						color:     #999;
						&:hover {
							color: $w9sme-primary-color;
						}
					}
				}
			}
		}
	}

	&.hide-social-icons {
		.__social-list {
			display: none !important;
		}
	}
}

