ul.w9sme-list {
	margin:     0;
	padding:    0;
	list-style: none;
	li {
		vertical-align: middle;
		a {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		i, span {
			vertical-align: middle;
		}
	}

	.__icon-wrapper, .__item-content {
		display:        table-cell;
		vertical-align: middle;
	}

	.__item-content {

		.__item, .__sub-title {
			display: block;
		}

		.__sub-title {
			color:       $w9sme-meta-text-color;
			font-size:   13px;
			font-weight: 300;
			line-height: 1.2;
		}
	}

	i.icon-type-bgi {
		background-position: center center;
		background-size:     cover;
	}

	&.list-align-icon-left {
		i {
			margin-right: 0.8em;
		}
	}

	&.list-align-icon-right {
		i {
			margin-left: 0.8em;
		}
	}

	&.list-style-horizontal {
		li.list-item {
			display: inline-block;
		}

		//&.list-fix-first-last {
		//li.list-item {
		//	&:first-child {
		//		padding-left: 0;
		//	}
		//
		//	&:last-child {
		//		padding-right: 0;
		//	}
		//}
		//}
	}

	//&.list-style-vertical {
	//	&.list-fix-first-last {
	//		li.list-item {
	//			&:first-child {
	//				padding-top: 0;
	//			}
	//
	//			&:last-child {
	//				padding-bottom: 0;
	//			}
	//		}
	//	}
	//}

	@for $i from 1 through 8 {
		&.list-style-horizontal.list-item-spacing-#{$i * 5} {
			li {
				margin-bottom: 10px;
				margin-right:  ($i * 5px);
			}
		}

		&.list-style-vertical.list-item-spacing-#{$i * 5} {
			li {
				margin-bottom: ($i * 5px);
			}
		}
	}
}
