.w9sme-sc-services.w9sme-services-style-1 {
	&.layout-grid {
		.services-item {
			margin-bottom: 45px;
		}
	}

	.services-item {
		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}

		.item-image {
			position: relative;
			.__overlay {
				position:         absolute;
				top:              0;
				left:             0;
				width:            100%;
				height:           100%;
				background-color: $w9sme-primary-color;
				opacity:          0.5;
				z-index:          1;
				@include transform(scale(0));
				@include easing-animation();
				i {
					top:         50%;
					position:    absolute;
					left:        50%;
					margin-top:  -24px;
					margin-left: -24px;
					font-size:   24px;
					color:       #fff;
					width:       48px;
					height:      48px;
					line-height: 48px;
					text-align:  center;
					//border:                2px solid #fff;
					&:before {
						display:     block;
						line-height: inherit;
					}
				}
			}

			img {
				width: 100%;
			}
		}

		.__booking-btn {
			.__btn {
				text-align:       center;
				width:            170px;
				height:           50px;
				line-height:      50px;
				text-transform:   uppercase;
				font-size:        14px;
				letter-spacing:   0.2em;
				font-weight:      600;
				margin:           auto;
				left:             0;
				top:              0;
				bottom:           0;
				right:            0;
				position:         absolute;
				background-color: $w9sme-secondary-color;
				color:            #fff;
				z-index:          2;
				@include transform(scale(0));
				&:hover {
					background-color: darken($w9sme-secondary-color, 10%);
				}
			}
		}

		.item-image-wrapper {
			margin-bottom: 20px;
			position:      relative;
		}

		&:hover {
			.item-image .__overlay, .__btn {
				@include transform(scale(1));
			}
		}

		.item-content {
			position: relative;
			.__title {
				font-size:      14px;
				text-transform: uppercase;
				line-height:    1.5;
				margin-bottom:  5px;
			}

			.__time {
				font-family: $w9sme-secondary-font;

				span {
					&:before {
						content: '(';
					}
					&:after {
						content: ')';
					}
				}
			}

			.show-price {
				padding-right: 90px;
			}

			.__price {
				position:    absolute;
				right:       0;
				top:         0;
				font-size:   18px;
				color:       $w9sme-primary-color;
				text-align:  right;
				font-weight: 500;
			}
		}

		.__excerpt {
			> p {
				margin-bottom: 0;
			}

			letter-spacing: 0.05em;
			margin-top:     5px;
		}
	}
}

.w9sme-sc-services.w9sme-services-style-2 {
	&.layout-grid {
		.services-item {
			margin-bottom: 30px;
		}
	}

	.services-item {
		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}

		.services-item-inner {
			position:       relative;
			padding-bottom: 65px;
			@include easing-animation();
			@include transform(translate(0, 0));
		}

		.item-image {
			height:                  400px;
			-webkit-background-size: cover;
			background-size:         cover;
			background-position:     center center;
			@include easing-animation();
			@include box-shadow(15px 15px 20px transparent);

		}

		.item-content-wrapper {
			position: absolute;
			bottom:   0;
			left:     0;
			width:    100%;
			padding:  0 25px 15px;
		}

		.item-content {
			position:         relative;
			z-index:          2;
			text-align:       center;
			background-color: rgba(#fff, 0.9);
			padding:          5px;
			@include easing-animation();
			//@include box-shadow(30px 30px 20px transparent);
			@include box-shadow(15px 15px 20px transparent);

			.item-content-inner {
				padding:      35px 15px 40px;
				border:       2px solid;
				border-color: $w9sme-secondary-color;
			}

			.__category {
				text-transform: uppercase;
				font-size:      12px;
				font-weight:    600;
				letter-spacing: 0.2em;
				margin-bottom:  5px;
			}

			.__title {
				font-size:     28px;
				font-family:   $w9sme-secondary-font;
				line-height:   1.3;
				font-weight:   400;
				margin-bottom: 10px;
			}
			.__group-meta {
				font-style:     italic;
				font-family:    $w9sme-secondary-font;
				letter-spacing: 0.05em;

				li {
					display: inline-block;
				}

				li.__separator {
					&:first-of-type, &:last-of-type {
						display: none;
					}
				}
			}
		}

		.__booking-btn {
			left:     0;
			bottom:   0;
			z-index:  5;
			position: absolute;
			width:    100%;
			.__btn {
				text-transform:   uppercase;
				font-size:        12px;
				letter-spacing:   0.2em;
				font-weight:      600;
				text-align:       center;
				display:          block;
				margin-left:      auto;
				margin-right:     auto;
				width:            170px;
				height:           44px;
				line-height:      44px;
				color:            #fff;
				z-index:          2;
				background-color: $w9sme-secondary-color;
				//
				//&:hover {
				//}
			}
		}

		&:hover {
			.services-item-inner {
				position:       relative;
				padding-bottom: 65px;
				@include transform(translate(-5px, -5px));
			}

			.item-image {
				@include box-shadow(15px 15px 20px rgba(#000, 0.3));
			}

			.item-content {
				@include box-shadow(15px 15px 20px rgba(#000, 0.3));
			}

			.__booking-btn .__btn {
				background-color: $w9sme-primary-color;
			}
		}
	}
}

.w9sme-sc-services.w9sme-services-style-3 {

	&.layout-grid {
		.services-item {
			margin-bottom: 30px;
		}
	}

	.services-item {
		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}

		.item-image {
			position: relative;
			.__overlay {
				position:         absolute;
				top:              0;
				left:             0;
				width:            100%;
				height:           100%;
				background-color: $w9sme-primary-color;
				opacity:          0;
				z-index:          1;
				@include easing-animation();
				i {
					top:         50%;
					position:    absolute;
					left:        50%;
					margin-top:  -24px;
					margin-left: -24px;
					font-size:   24px;
					color:       #fff;
					width:       48px;
					height:      48px;
					line-height: 48px;
					text-align:  center;
					&:before {
						display:     block;
						line-height: inherit;
					}
				}
			}

			img {
				width: 100%;
			}
		}

		.__booking-btn {
			.__btn {
				display:          block;
				width:            100%;
				text-align:       center;
				height:           30px;
				line-height:      30px;
				text-transform:   uppercase;
				font-size:        12px;
				letter-spacing:   0.2em;
				font-weight:      600;
				margin:           auto;
				background-color: $w9sme-secondary-color;
				color:            #fff;
				opacity:          0;
				z-index:          2;
				@include easing-animation();
				&:hover {
					background-color: darken($w9sme-secondary-color, 10%);
				}
			}
		}

		.item-image-wrapper {
			margin-bottom: 10px;
			padding-right: 10px;
			padding-left:  0;
			position:      relative;
		}

		&:hover {
			.item-image .__overlay {
				opacity: 0.5;

			}
			.__btn {
				opacity: 1;
			}
		}

		.item-content-wrapper {
			padding-left:  10px;
			padding-right: 10px;
		}

		.item-content {
			position: relative;
			.__title {
				font-size:      14px;
				text-transform: uppercase;
				line-height:    1.5;
				margin-bottom:  5px;
			}

			.__time {
				font-family: $w9sme-secondary-font;
				float:       left;
				line-height: 35px;

				& + .__price {
					float: right;
				}
			}

			.__price {
				font-size:   18px;
				color:       $w9sme-primary-color;
				font-weight: 500;
				line-height: 35px;
			}
		}

		.__excerpt {
			> p {
				margin-bottom: 0;
			}

			letter-spacing: 0.05em;
			margin-top:     5px;
		}
	}
}

.w9sme-sc-service-list {
	width:   100%;
	padding: 20px 35px;

	.service-list-item {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}

		display:       table;

		> * {
			display:        table-cell;
			vertical-align: bottom;
		}

		.__title {
			width:       100%;
			position:    relative;
			overflow:    hidden;
			font-weight: 400;
			font-size:   14px;
		}

		.__time {
			&:before {
				content: '(';
			}
			&:after {
				content: ')';
			}
		}

		.__price {
			padding-left: 10px;
			font-weight:  500;
		}
	}

	&.mCustomScrollbar {
		height:        (14*1.8*4 + 25*3 + 40)*1px;
		//padding-left: 0;
		padding-right: 0;
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			background:    #DDD;
			width:         6px;
			border-radius: 3px;
		}

		.mCSB_scrollTools .mCSB_draggerRail {
			background-color: transparent;
		}

		.mCSB_container {
			padding-right: 20px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.w9sme-sc-service-list {
		padding: 20px 20px;
		&.mCustomScrollbar {
			.mCSB_container {
				padding-right: 5px;
			}
		}
	}
}