.w9sme-heading-wrapper {
	margin-bottom: 20px;
	font-size:     0;
}

.w9sme-heading {
	line-height:   1.8;
	font-family:   inherit;
	font-style:    inherit;
	font-weight:   inherit;
	margin-bottom: 0;

	a {
		color: inherit;
		&:hover, &:focus {
			text-decoration: none;
		}
	}

	* {
		@include inline-block-el();
	}
}

.w9sme-heading.has-space + .w9sme-heading-subtitle, .w9sme-heading.has-space + .w9sme-separator {
	margin-top: 15px;
}

.w9sme-heading-subtitle + .w9sme-separator {
	margin-top: 20px;
}

.w9sme-heading-subtitle {
	line-height:    1.8;
	letter-spacing: 0.05em;
	margin-bottom:  0;
}

.w9sme-separator {
	display:    inline-block;
	height:     2px;
	width:      105px;
	margin-top: 15px;
}

.text-center {
	.w9sme-heading-subtitle {
		margin-left:  auto;
		margin-right: auto;
	}
}

.text-left {
	.w9sme-heading-subtitle {
		margin-right: auto;
		margin-left:  0;
	}
}

.text-right {
	.w9sme-heading-subtitle {
		margin-right: 0;
		margin-left:  auto;
	}
}

.responsive-font-size {
	@include transition(font-size 0.3s);
}

.w9sme-top-line {
	display:       inline-block;
	height:        5px;
	width:         46px;
	margin-bottom: 10px;
}
