
.w9sme-overlay-container {
	position: relative;
}

.w9sme-overlay {
	@include easing-animation();
	position: absolute;
	width:    100%;
	height:   100%;
	top:      0;
	left:     0;
}

//Not use it with clearfix
.w9sme-background-overlay-after {
	@include overlay-before();
}

//Hover dir

.w9sme-overlay-container {
	overflow: hidden;
	&.w9sme-overlay-hover-fade {
		.w9sme-overlay {
			opacity: 0;
		}
		&:hover {
			.w9sme-overlay {
				opacity: 1;
			}
		}
	}
	//Hover Dir

	&.__hoverdir {
		overflow: hidden;

		.w9sme-overlay {
			display:  none;
			position: absolute;
		}
	}

	//Fade In Group

	&.__animation-fade-in, &.__animation-fade-in-left, &.__animation-fade-in-right, &.__animation-fade-in-top, &.__animation-fade-in-bottom {
		.w9sme-overlay {
			opacity: 0;
		}
		&:hover {
			.w9sme-overlay {
				opacity: 1;
			}
		}
	}

	&.__animation-fade-in-left {
		.w9sme-overlay {
			@include translateX(-100%)
		}
		&:hover {
			.w9sme-overlay {
				@include translateX(0)
			}
		}
	}

	&.__animation-fade-in-right {
		.w9sme-overlay {
			@include translateX(100%)
		}
		&:hover {
			.w9sme-overlay {
				@include translateX(0)
			}
		}
	}

	&.__animation-fade-in-top {
		.w9sme-overlay {
			@include translateY(-100%)
		}
		&:hover {
			.w9sme-overlay {
				@include translateY(0)
			}
		}
	}

	&.__animation-fade-in-bottom {
		.w9sme-overlay {
			@include translateY(100%)
		}
		&:hover {
			.w9sme-overlay {
				@include translateY(0)
			}
		}
	}

	&.__animation-zoom-in {
		.w9sme-overlay {
			@include scale(0.1);
			opacity: 0;
		}
		&:hover {
			.w9sme-overlay {
				@include scale(1);
				opacity: 1;
			}
		}
	}

	&.__animation-flip-in-x {
		.w9sme-overlay {
			@include rotateX(90deg);
			opacity: 0;
		}
		&:hover {
			.w9sme-overlay {
				@include rotateX(0deg);
				opacity: 1;
			}
		}
	}

	&.__animation-flip-in-y {
		.w9sme-overlay {
			@include rotateY(90deg);
			opacity: 0;
		}
		&:hover {
			.w9sme-overlay {
				@include rotateY(0deg);
				opacity: 1;
			}
		}
	}
}


