/*!
 * Copyright(c) 2016, 9WPThemes
 * @filename: style-admin-panel.scss
 * @time    : 8/26/16 11:56 AM
 * @author  : 9WPThemes Team
 */

$main-color: #0085BA;

a.nav-tab.warning {
	background-color: rgba(red, 0.5);
	color:            #fff;
}

/*-------------------------------------
	STYLE ADMIN PANEL
---------------------------------------*/
.w9sme-page-wrapper {
	max-width:   1050px;
	margin-left: 10px;

	* {
		box-sizing: border-box;
	}

	.page-header {
		//margin-bottom: 50px;
		.w9sme-theme-info {
			width:   80%;
			display: inline-block;
		}
		h1.welcome {
			font-size:   42px;
			font-weight: 400;
			line-height: 1.2;

		}
		p.summary {
			line-height: 30px;
			font-size:   19px;
		}

		.w9sme-theme-logo {
			margin-top:   30px;
			margin-right: 20px;
			float:        right;
			position:     relative;
			display:      inline-block;
			img {
				width:  150px;
				height: 150px;
			}
			span.version {
				position:         absolute;
				width:            100%;
				height:           37px;
				left:             0;
				top:           100%;
				display:          block;
				text-align:       center;
				line-height:      37px;
				background-color: $main-color;
				color:            #fff;
				font-size:        14px;
				font-weight:      500;
			}
		}
	}

	.nav-tab-wrapper {
		border-bottom: 1px solid #dddddd;
		margin-bottom: 50px;
		.nav-tab {
			font-size: 18px;
			padding:   5px 20px;
		}
	}

	.white-board {
		background-color: #fff;
		border:           1px solid #dddddd;
		padding:          30px;
		margin-bottom:    50px;
	}

	/*-------------------------------------
		ABOUT PAGE
	---------------------------------------*/
	.page-about {
		font-size: 14px;
		.about-9wpthemes {
			.logo-9wpthemes-wrapper {
				float:        left;
				margin-right: 30px;
			}
			.description-9wpthemes {
				overflow: hidden;
				h3 {
					margin-top: 0;
				}
				p {
					font-size: inherit;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a {
					text-decoration: none;
					&:hover, &:focus {
						text-decoration: underline;
					}
				}

			}
		}

		.stickies-9wpthemes {
			.sticky {
				display:       inline-block;
				width:         100%/3;
				float:         left;
				margin-bottom: 60px;
				padding-right: 15px;

				h4 {
					margin-top: 0;
					i {
						line-height:    1.8;
						display:        inline-block;
						vertical-align: middle;
						margin-right:   10px;
						font-size:      18px;
						&:before {
							display: block;
						}
					}
				}

				p {
					margin-top:    0;
					margin-bottom: 1.33em;
					font-size:     inherit;
				}

			}
		}
	}

	/*-------------------------------------
		CHANGE LOG PAGE
	---------------------------------------*/
	.page-changelog {
		h2 {
			margin-bottom: 1.5em;
		}
	}

	/*-------------------------------------
		RESPONSIVE
	---------------------------------------*/
	@media (max-width: 1056px) {
		.page-header {
			.w9sme-theme-logo {
				float: none;
			}
		}
	}
	@media (max-width: 768px) {
		.page-header {
			padding-right: 15px;
			.w9sme-theme-info {
				width:   100%;
				display: inline-block;
			}
			h1.welcome {
				font-size: 30px;
			}
			p.summary {
				font-size: 16px;
			}
		}

		.page-about {
			.stickies-9wpthemes {
				.sticky {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 480px) {
		.page-about {
			.about-9wpthemes {
				padding: 15px;
				.logo-9wpthemes-wrapper {
					float:         none;
					text-align:    center;
					margin-right:  0;
					margin-bottom: 30px;
				}
			}
		}
	}

	/*-------------------------------------
		TABLE
	---------------------------------------*/
	table:not(.wp-list-table) {
		margin-bottom: 50px;

		tr {
			&:nth-child(2n) {
				th,
				td {
					background: #f9f9f9;
				}
			}
		}

		th {
			font-weight: 700;
			padding:     9px;
		}

		td:first-child {
			width: 33%;
		}

		td.help {
			width: 1em;
		}

		td {
			padding: 9px;

			mark {
				background: transparent none;
			}

			mark.yes {
				color: green;
			}

			mark.no {
				color: gray;
			}

			mark.error {
				color: red;
			}

			ul {
				margin: 0;
			}
		}
	}

	/*-------------------------------------
		page-install-demo
	---------------------------------------*/
	.page-install-demo {
		margin-bottom: 100px;
		overflow:      hidden;

		.first-notice {
			line-height: 27px;
			font-size:   17px;
		}


		.demo-list {
			margin: -15px;

			.demo-item {
				float:   left;
				width:   100%/3;
				padding: 15px;
				.demo-item-inner {
					position:           relative;
					-webkit-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.2);
					-moz-box-shadow:    0px -1px 10px 0px rgba(50, 50, 50, 0.2);
					box-shadow:         0px -1px 10px 0px rgba(50, 50, 50, 0.2);

					.screen-shot-wrapper {
						position: relative;
						overflow: hidden;
						&:before {
							content:     '';
							display:     block;
							padding-top: 100% * 2/3;
						}
					}

					.demo-screen-shot {
						background-color: #DDDDDD;
						position:         absolute;
						top:              0;
						left:             0;
						width:            100%;
						height:           100%;

						img {
							width: 100%;
						}
						.progressbar {
							width:    100%;
							height:   10px;
							position: absolute;
							left:     0;
							bottom:   0;
							.ui-progressbar-value {
								background-color:   $main-color;
								opacity:            0.7;
								height:             100%;
								-webkit-transition: all 500ms ease-in;
								-moz-transition:    all 500ms ease-in;
								-ms-transition:     all 500ms ease-in;
								-o-transition:      all 500ms ease-in;
								transition:         all 500ms ease-in;
							}
						}

						.installed-overlay {
							position:         absolute;
							z-index:          100;
							width:            100%;
							height:           100%;
							top:              0;
							left:             0;
							background-color: rgba(0, 133, 186, 0.5);
							text-align:       center;
							color:            #fff;
							font-size:        15px;
							font-weight:      600;

							.cell-vertical-align {
								display: table;
								width:   100%;
								height:  100%;

								.cell-middle {
									display:        table-cell;
									vertical-align: middle;
								}
							}
						}
					}

					.demo-item-info {
						background-color: #fff;
						padding:          10px 15px;
						text-align:       right;
						//&.installed {
						//	background-color: rgba(0, 133, 186, 0.5);
						//	span.demo-title {
						//		color: #fff;
						//	}
						//}

						span.spinner {
							float:        none;
							display:      inline-block;
							margin-right: 0;
						}
						span.demo-title {
							float:       left;
							line-height: 28px;
							font-weight: 600;
							font-size:   15px;
							margin-left: 10px;
						}
					}

				}
			}
		}

		a.button-show-log {
			display:               inline-block;
			position:              fixed;
			right:                 20px;
			bottom:                40px;
			width:                 50px;
			height:                50px;
			text-align:            center;
			-webkit-border-radius: 50%;
			-moz-border-radius:    50%;
			border-radius:         50%;
			line-height:           50px;
			span {
				line-height: inherit;
				margin:      0;
				display:     block;
				font-size:   30px;
			}
		}

	}

	@media (max-width: 768px) {
		.page-install-demo {
			a.button-show-log {
				display: none;
			}
		}
	}

	@media (max-width: 1270px) {
		.page-install-demo {
			.demo-list {
				.demo-item {
					width: 50%;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.page-install-demo {
			.demo-list {
				.demo-item {
					width: 100%;
				}
			}
		}
	}

	/*-------------------------------------
		page-other-products
	---------------------------------------*/
	.page-other-products {
		.product-list {
			.product-item {
				clear:          both;
				overflow:       hidden;
				padding-bottom: 45px;

				&:not(:last-child) {
					border-bottom: 1px solid #ddd;
				}
				&:not(:first-child) {
					margin-top: 45px;
				}

				.product-thumbnail {
					width:         50%;
					float:         left;
					padding-right: 15px;
					img {
						width: 100%;
					}
				}
				.product-info {
					padding-left: 15px;
					float:        left;
					width:        50%;
					color:        #666;

					h2.tp-entry-title {
						font-size: 15px;
					}

					p.tp-attr {
						width:         100%;
						margin-bottom: 10px;
						span {
							letter-spacing: 0.05em;
							line-height:    1.8;
						}
						span.attr-name {
							min-width: 140px;
							display:   inline-block;
						}
						span.attr-value {
							a {
								color:           $main-color;
								text-decoration: none;
								&:hover, &:focus {
									text-decoration: none;
									border-bottom:   1px solid $main-color;
								}
							}
						}
						span.rating + span.attr-value {
							color:         #999;
							margin-left:   15px;
							border-bottom: 1px solid #999;
						}
					}

					.tp-entry-btn-actions {
						margin-top: 20px;
					}
				}

				span.rating {
					position:       relative;
					overflow:       hidden;
					display:        inline-block;
					vertical-align: middle;
					color:          #ccc;
					margin-right:   7px;
					//letter-spacing: 0.5em;
					&:before {
						content:     "\f005";
						font-family: 'fontawesome';
					}

					span.star {
						overflow: hidden;
						position: absolute;
						//letter-spacing: 0.5em;
						top:      0;
						left:     0;
						&:before {
							color:       #FFD24D;
							content:     "\f005";
							font-family: 'fontawesome';
						}
					}
				}
			}
		}

		.load-more-product {
			text-align: center;
			.loading-image {
				padding: 4px;
				display: none;
			}

			&.loading {
				a.button {
					display: none;
				}
				.loading-image {
					display: block;
				}
			}
		}
	}

	@media (max-width: 782px) {
		.page-other-products {
			.product-list {
				.product-item {
					.product-thumbnail {
						width:         100%;
						float:         none;
						padding-right: 0;
						img {
							width: auto;
						}
					}
					.product-info {
						padding-left: 0;
						width:        100%;
						color:        #666;
					}
				}
			}
		}
	}

	/*-------------------------------------
		REQUIRED PLUGINS
	---------------------------------------*/
	.page-content {
		margin-top: -20px;
		.notice, div.error, div.updated {
			margin-left:  0;
			margin-right: 0;
		}
	}
}

.ui-dialog {
	position: fixed !important;
}

#log-dialog {
	p {
		margin-top: 0;
		strong {
			float: left;
		}
		span {
			overflow: hidden;
			display:  block;
		}
	}
	p.info {
		color: purple;
	}

	p.error {
		color: red;
	}

	p.warning {
		color: darkorange;
	}

	p.success {
		color: green;
	}
}

#confirm-install-demo {
	display: none;
	p.question {
		margin-top:  0;
		font-size:   18px;
		font-weight: 600;
		span {
			color: $main-color;
		}
	}

	.options {
		p {
			margin-top:    0;
			margin-bottom: 10px;
		}
	}
}

.page-changelog {
	h4 {
		font-size: 1.2em;
	}
	ul {
		list-style:   disc;
		padding-left: 40px;
	}
}