$w9sme-transition-time: 0.3s;
$w9sme-transition-longtime: 0.6s;
$w9sme-theme-url: "http://localhost/wp/w9/wp-content/themes/w9sme/";
$w9sme-primary-color: #3b549f;
$w9sme-secondary-color: #f8343e;
$w9sme-text-color: #444444;
$w9sme-meta-text-color: #888888;
$w9sme-border-color: rgba(128, 128, 128, 0.2);
$w9sme-primary-font: Open Sans;
$w9sme-secondary-font: Prata;
$w9sme-third-font: blacksword, sans-serif;
$w9sme-input-style: normal;
$w9sme-most-used-colors: ();
$w9sme-page-leftzone-width: 300px;
$w9sme-page-leftzone-breakpoint: 1500px;
$w9sme-page-rightzone-width: 300px;
$w9sme-page-rightzone-breakpoint: 1500px;
$w9sme-default-nav-item-color: #fff;
$w9sme-default-nav-menu-item-padding-left: 20px;
$w9sme-default-nav-menu-item-padding-right: 20px;
$w9sme-header-nav-breakpoint: 992px;
$w9sme-mobile-menu-item-color: #444;
$w9sme-page-title-text-color: #fff;
$w9sme-page-title-bg-color: rgba(0, 0, 0, 0.5);
$w9sme-page-title-top-line-color: #ffffff;
$w9sme-footer-background-color: #333;
$w9sme-footer-text-color: #888;
$w9sme-footer-heading-text-color: #fff;
$w9sme-footer-link-color: #fff;
$w9sme-footer-link-hover-color: #fff;
$w9sme-menu-sub-item-size-width: 220px;
$w9sme-menu-sub-item-size-height: 38px;
$w9sme-menu-sub-item-size-units: px;
$w9sme-menu-sub-item-color-regular: #ffffff;
$w9sme-menu-sub-item-color-hover: #2e2e2e;
$w9sme-menu-sub-item-color-active: #2e2e2e;
