/*!
 * Copyright(c) 2016, 9WPThemes
 * @filename: style-admin-panel.scss
 * @time    : 8/26/16 11:56 AM
 * @author  : 9WPThemes Team
 */
a.nav-tab.warning {
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
}
/*-------------------------------------
 STYLE ADMIN PANEL
 ---------------------------------------*/
.w9sme-page-wrapper {
  max-width: 1050px;
  margin-left: 10px;
  /*-------------------------------------
   ABOUT PAGE
   ---------------------------------------*/
  /*-------------------------------------
   CHANGE LOG PAGE
   ---------------------------------------*/
  /*-------------------------------------
   RESPONSIVE
   ---------------------------------------*/
  /*-------------------------------------
   TABLE
   ---------------------------------------*/
  /*-------------------------------------
   page-install-demo
   ---------------------------------------*/
  /*-------------------------------------
   page-other-products
   ---------------------------------------*/
  /*-------------------------------------
   REQUIRED PLUGINS
   ---------------------------------------*/
}
.w9sme-page-wrapper * {
  box-sizing: border-box;
}
.w9sme-page-wrapper .page-header .w9sme-theme-info {
  width: 80%;
  display: inline-block;
}
.w9sme-page-wrapper .page-header h1.welcome {
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
}
.w9sme-page-wrapper .page-header p.summary {
  line-height: 30px;
  font-size: 19px;
}
.w9sme-page-wrapper .page-header .w9sme-theme-logo {
  margin-top: 30px;
  margin-right: 20px;
  float: right;
  position: relative;
  display: inline-block;
}
.w9sme-page-wrapper .page-header .w9sme-theme-logo img {
  width: 150px;
  height: 150px;
}
.w9sme-page-wrapper .page-header .w9sme-theme-logo span.version {
  position: absolute;
  width: 100%;
  height: 37px;
  left: 0;
  top: 100%;
  display: block;
  text-align: center;
  line-height: 37px;
  background-color: #0085ba;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.w9sme-page-wrapper .nav-tab-wrapper {
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}
.w9sme-page-wrapper .nav-tab-wrapper .nav-tab {
  font-size: 18px;
  padding: 5px 20px;
}
.w9sme-page-wrapper .white-board {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  margin-bottom: 50px;
}
.w9sme-page-wrapper .page-about {
  font-size: 14px;
}
.w9sme-page-wrapper .page-about .about-9wpthemes .logo-9wpthemes-wrapper {
  float: left;
  margin-right: 30px;
}
.w9sme-page-wrapper .page-about .about-9wpthemes .description-9wpthemes {
  overflow: hidden;
}
.w9sme-page-wrapper .page-about .about-9wpthemes .description-9wpthemes h3 {
  margin-top: 0;
}
.w9sme-page-wrapper .page-about .about-9wpthemes .description-9wpthemes p {
  font-size: inherit;
}
.w9sme-page-wrapper .page-about .about-9wpthemes .description-9wpthemes p:last-child {
  margin-bottom: 0;
}
.w9sme-page-wrapper .page-about .about-9wpthemes .description-9wpthemes a {
  text-decoration: none;
}
.w9sme-page-wrapper .page-about .about-9wpthemes .description-9wpthemes a:hover, .w9sme-page-wrapper .page-about .about-9wpthemes .description-9wpthemes a:focus {
  text-decoration: underline;
}
.w9sme-page-wrapper .page-about .stickies-9wpthemes .sticky {
  display: inline-block;
  width: 33.33333%;
  float: left;
  margin-bottom: 60px;
  padding-right: 15px;
}
.w9sme-page-wrapper .page-about .stickies-9wpthemes .sticky h4 {
  margin-top: 0;
}
.w9sme-page-wrapper .page-about .stickies-9wpthemes .sticky h4 i {
  line-height: 1.8;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 18px;
}
.w9sme-page-wrapper .page-about .stickies-9wpthemes .sticky h4 i:before {
  display: block;
}
.w9sme-page-wrapper .page-about .stickies-9wpthemes .sticky p {
  margin-top: 0;
  margin-bottom: 1.33em;
  font-size: inherit;
}
.w9sme-page-wrapper .page-changelog h2 {
  margin-bottom: 1.5em;
}
@media (max-width: 1056px) {
  .w9sme-page-wrapper .page-header .w9sme-theme-logo {
    float: none;
  }
}
@media (max-width: 768px) {
  .w9sme-page-wrapper .page-header {
    padding-right: 15px;
  }
  .w9sme-page-wrapper .page-header .w9sme-theme-info {
    width: 100%;
    display: inline-block;
  }
  .w9sme-page-wrapper .page-header h1.welcome {
    font-size: 30px;
  }
  .w9sme-page-wrapper .page-header p.summary {
    font-size: 16px;
  }
  .w9sme-page-wrapper .page-about .stickies-9wpthemes .sticky {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .w9sme-page-wrapper .page-about .about-9wpthemes {
    padding: 15px;
  }
  .w9sme-page-wrapper .page-about .about-9wpthemes .logo-9wpthemes-wrapper {
    float: none;
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.w9sme-page-wrapper table:not(.wp-list-table) {
  margin-bottom: 50px;
}
.w9sme-page-wrapper table:not(.wp-list-table) tr:nth-child(2n) th, .w9sme-page-wrapper table:not(.wp-list-table) tr:nth-child(2n) td {
  background: #f9f9f9;
}
.w9sme-page-wrapper table:not(.wp-list-table) th {
  font-weight: 700;
  padding: 9px;
}
.w9sme-page-wrapper table:not(.wp-list-table) td:first-child {
  width: 33%;
}
.w9sme-page-wrapper table:not(.wp-list-table) td.help {
  width: 1em;
}
.w9sme-page-wrapper table:not(.wp-list-table) td {
  padding: 9px;
}
.w9sme-page-wrapper table:not(.wp-list-table) td mark {
  background: transparent none;
}
.w9sme-page-wrapper table:not(.wp-list-table) td mark.yes {
  color: green;
}
.w9sme-page-wrapper table:not(.wp-list-table) td mark.no {
  color: gray;
}
.w9sme-page-wrapper table:not(.wp-list-table) td mark.error {
  color: red;
}
.w9sme-page-wrapper table:not(.wp-list-table) td ul {
  margin: 0;
}
.w9sme-page-wrapper .page-install-demo {
  margin-bottom: 100px;
  overflow: hidden;
}
.w9sme-page-wrapper .page-install-demo .first-notice {
  line-height: 27px;
  font-size: 17px;
}
.w9sme-page-wrapper .page-install-demo .demo-list {
  margin: -15px;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item {
  float: left;
  width: 33.33333%;
  padding: 15px;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner {
  position: relative;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.2);
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .screen-shot-wrapper {
  position: relative;
  overflow: hidden;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .screen-shot-wrapper:before {
  content: '';
  display: block;
  padding-top: 66.66667%;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-screen-shot {
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-screen-shot img {
  width: 100%;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-screen-shot .progressbar {
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-screen-shot .progressbar .ui-progressbar-value {
  background-color: #0085ba;
  opacity: 0.7;
  height: 100%;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-screen-shot .installed-overlay {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 133, 186, 0.5);
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-screen-shot .installed-overlay .cell-vertical-align {
  display: table;
  width: 100%;
  height: 100%;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-screen-shot .installed-overlay .cell-vertical-align .cell-middle {
  display: table-cell;
  vertical-align: middle;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-item-info {
  background-color: #fff;
  padding: 10px 15px;
  text-align: right;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-item-info span.spinner {
  float: none;
  display: inline-block;
  margin-right: 0;
}
.w9sme-page-wrapper .page-install-demo .demo-list .demo-item .demo-item-inner .demo-item-info span.demo-title {
  float: left;
  line-height: 28px;
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
}
.w9sme-page-wrapper .page-install-demo a.button-show-log {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 50px;
}
.w9sme-page-wrapper .page-install-demo a.button-show-log span {
  line-height: inherit;
  margin: 0;
  display: block;
  font-size: 30px;
}
@media (max-width: 768px) {
  .w9sme-page-wrapper .page-install-demo a.button-show-log {
    display: none;
  }
}
@media (max-width: 1270px) {
  .w9sme-page-wrapper .page-install-demo .demo-list .demo-item {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .w9sme-page-wrapper .page-install-demo .demo-list .demo-item {
    width: 100%;
  }
}
.w9sme-page-wrapper .page-other-products .product-list .product-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 45px;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item:not(:first-child) {
  margin-top: 45px;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-thumbnail {
  width: 50%;
  float: left;
  padding-right: 15px;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-thumbnail img {
  width: 100%;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info {
  padding-left: 15px;
  float: left;
  width: 50%;
  color: #666;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info h2.tp-entry-title {
  font-size: 15px;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info p.tp-attr {
  width: 100%;
  margin-bottom: 10px;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info p.tp-attr span {
  letter-spacing: 0.05em;
  line-height: 1.8;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info p.tp-attr span.attr-name {
  min-width: 140px;
  display: inline-block;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info p.tp-attr span.attr-value a {
  color: #0085ba;
  text-decoration: none;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info p.tp-attr span.attr-value a:hover, .w9sme-page-wrapper .page-other-products .product-list .product-item .product-info p.tp-attr span.attr-value a:focus {
  text-decoration: none;
  border-bottom: 1px solid #0085ba;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info p.tp-attr span.rating + span.attr-value {
  color: #999;
  margin-left: 15px;
  border-bottom: 1px solid #999;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item .product-info .tp-entry-btn-actions {
  margin-top: 20px;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item span.rating {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  color: #ccc;
  margin-right: 7px;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item span.rating:before {
  content: "\f005";
  font-family: 'fontawesome';
}
.w9sme-page-wrapper .page-other-products .product-list .product-item span.rating span.star {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.w9sme-page-wrapper .page-other-products .product-list .product-item span.rating span.star:before {
  color: #ffd24d;
  content: "\f005";
  font-family: 'fontawesome';
}
.w9sme-page-wrapper .page-other-products .load-more-product {
  text-align: center;
}
.w9sme-page-wrapper .page-other-products .load-more-product .loading-image {
  padding: 4px;
  display: none;
}
.w9sme-page-wrapper .page-other-products .load-more-product.loading a.button {
  display: none;
}
.w9sme-page-wrapper .page-other-products .load-more-product.loading .loading-image {
  display: block;
}
@media (max-width: 782px) {
  .w9sme-page-wrapper .page-other-products .product-list .product-item .product-thumbnail {
    width: 100%;
    float: none;
    padding-right: 0;
  }
  .w9sme-page-wrapper .page-other-products .product-list .product-item .product-thumbnail img {
    width: auto;
  }
  .w9sme-page-wrapper .page-other-products .product-list .product-item .product-info {
    padding-left: 0;
    width: 100%;
    color: #666;
  }
}
.w9sme-page-wrapper .page-content {
  margin-top: -20px;
}
.w9sme-page-wrapper .page-content .notice, .w9sme-page-wrapper .page-content div.error, .w9sme-page-wrapper .page-content div.updated {
  margin-left: 0;
  margin-right: 0;
}
.ui-dialog {
  position: fixed !important;
}
#log-dialog p {
  margin-top: 0;
}
#log-dialog p strong {
  float: left;
}
#log-dialog p span {
  overflow: hidden;
  display: block;
}
#log-dialog p.info {
  color: purple;
}
#log-dialog p.error {
  color: red;
}
#log-dialog p.warning {
  color: darkorange;
}
#log-dialog p.success {
  color: green;
}
#confirm-install-demo {
  display: none;
}
#confirm-install-demo p.question {
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
}
#confirm-install-demo p.question span {
  color: #0085ba;
}
#confirm-install-demo .options p {
  margin-top: 0;
  margin-bottom: 10px;
}
.page-changelog h4 {
  font-size: 1.2em;
}
.page-changelog ul {
  list-style: disc;
  padding-left: 40px;
}
