//------------------------------------------
//	Vacancy Archive
//------------------------------------------

.vacancy-table-wrapper {
	#vacancy-table_wrapper {
		.dataTables_length {
			margin-bottom: 10px;
			select {
				height:           30px;
				width:            auto;
				background-color: transparent;
				font-family:      $w9sme-primary-font;
				font-style:       normal;
			}
		}

		.dataTables_filter {
			margin-bottom: 10px;
			input {
				height:  30px;
				width:   auto;
				padding: 0 10px;
			}
		}

		.dataTables_processing {
			width:            auto;
			height:           auto;
			margin-left:      auto;
			background-color: #fff;
			background-image: none;
			z-index:          100;
			padding:          5px 15px;
			border:           1px solid $w9sme-border-color;
		}

		.dataTables_paginate {
			.paginate_button {
				padding:          0 10px;
				margin-left:      5px;
				background-image: none;

				&.current, &.current:hover {
					background-color: #fff;
				}

				&:not(.disabled):not(.current):hover {
					background-color: #333;
					color:            #fff;
				}
			}
		}

		.vacancy-table {
			margin-top:   10px;
			border:       none;
			border-right: 1px solid $w9sme-border-color;

			tbody td {
				border-bottom:  1px solid $w9sme-border-color;
				border-left:    1px solid $w9sme-border-color;
				border-top:     none;
				border-right:   none;
				padding:        8px 10px;
				line-height:    1.8em;
				letter-spacing: normal;

				a {
					color: $w9sme-text-color;
					&:hover {
						text-decoration: underline;
					}
				}

				&:before {
					top:        50%;
					margin-top: -9px;
				}
			}

			tbody tr[role="row"] td {
				&:first-child {
					text-align: center;
				}
			}

			&.collapsed tbody tr[role="row"] td {
				&:first-child {
					padding-left: 25px;
				}
			}
		}

		.vacancy-table thead th {
			background-color: #eeeeee;
			text-transform:   uppercase;
			font-weight:      bold;
			position:         relative;
			border:           none;
			padding:          10px 30px;
			line-height:      1.8em;

			&:after {
				content:                 "\f078";
				display:                 inline-block;
				vertical-align:          middle;
				font:                    normal normal normal 12px/1 FontAwesome;
				color:                   #aaaaaa;
				text-rendering:          auto;
				-webkit-font-smoothing:  antialiased;
				-moz-osx-font-smoothing: grayscale;
				transform:               translate(0, 0);
				position:                absolute;
				right:                   15px;
				top:                     50%;
				margin-top:              -7px;
			}

			&:hover {
				&:after {
					color: $w9sme-primary-color;
				}
			}

			&.sorting_asc {
				background-color: $w9sme-primary-color;
				color:            #fff;
				&:after {
					content: "\f077";
					color:   #fff;
				}
			}

			&.sorting_desc {
				background-color: $w9sme-primary-color;
				color:            #fff;
				&:after {
					color: #fff;
				}
			}

			&.sorting_disabled {
				padding-left:  10px;
				padding-right: 10px;
				&:after {
					display: none;
				}
			}
		}

		table.dataTable thead th {
			//background-image: url('#{$w9sme-theme-url}/assets/images/arrow-down.png');
			background-image: none;
		}
	}

}

//------------------------------------------
//	VACANCY SINGLE
//------------------------------------------
.site-main-single.vacancy-single {
	.vacancy-meta-wrapper {

		.vacancy-meta {
			a {
				&:hover {
					text-decoration: underline;
				}
			}
			.__title {

			}
		}

		.w9sme-social-share-wrapper {
			display:        inline-block;
			vertical-align: middle;

			a {
				color: $w9sme-text-color;

				&:hover {
					text-decoration: none;
					color:           $w9sme-primary-color;
				}
			}
		}
	}

	.feature-wrapper {
		border-bottom:  1px solid $w9sme-border-color;
		padding-bottom: 30px;
		margin-bottom:  30px;
	}

	@media (max-width: $screen-sm-min) {
		.col-sm-4 .vacancy-meta-wrapper {
			margin-top: 15px;
		}
	}
}