//------------------------------------------
//	RATING
//------------------------------------------
span.rating {
	position:       relative;
	overflow:       hidden;
	display:        inline-block;
	vertical-align: middle;
	color:          #ccc;
	//margin-right:   px;
	line-height: 1;
	letter-spacing: 0.3em;
	&:before {
		content:     "\e10b";
		font-family: '9wpthemes';
	}

	span.star {
		overflow: hidden;
		position: absolute;
		//letter-spacing: 0.5em;
		top:      0;
		left:     0;
		color:    #FFD24D;
		&:before {
			content:     "\e10b";
			font-family: '9wpthemes';
		}
	}
}

//------------------------------------------
//	Filter
//------------------------------------------

.filter-style-simple {
	margin-left:   -15px;
	margin-right:  -15px;
	margin-bottom: 70px;
	//width:          100%;
	li {
		text-transform: uppercase;
		display:        inline-block;
		padding-left:   15px;
		padding-right:  15px;
		font-weight:    600;
		&:after {
			opacity: 0;
			content: '';
			display: block;
			border:  1px solid;
		}

		a {
			font-size:     14px;
			color:         inherit;
			padding-left:  8px;
			padding-right: 8px;
		}

		&.active, &:hover {
			color: $w9sme-primary-color;
			&:after {
				opacity: 1;
			}
			a {
				color: $w9sme-primary-color;
			}
		}
	}
}