.event-loop {
	.article-wrapper:not(:last-of-type) {
		margin-top:     0;
		padding-bottom: 60px;
	}

	.entry-header {
		position: relative;
		margin-bottom: 35px;
		.__discount-tag {
			position: absolute;
			background-color: $w9sme-secondary-color;
			color: $w9sme-secondary-color;
			font-weight: 600;
			font-size: 18px;
			top: 40px;
			left: -10px;
			padding: 14px 20px;
			line-height: 20px;
			@include easing-animation();

			span {
				color: #fff;
			}

			.__acute-angle-1, .__acute-angle-2 {
				position: absolute;
				border-width: 12px;
				border-style: solid;
				left: 100%;
				border-color: inherit;
				border-right-color: transparent;
			}

			.__acute-angle-1 {
				top: 0;
				border-bottom-color: transparent;
			}

			.__acute-angle-2 {
				bottom: 0;
				border-top-color: transparent;
			}
		}

		&:hover {
			.__discount-tag {
				background-color: $w9sme-primary-color;
				color: $w9sme-primary-color;
			}
		}
	}

	.entry-title {
		font-weight:    400;
		color:          #222;
		text-transform: uppercase;
	}

	.entry-content {
		font-family: $w9sme-secondary-font;
	}

	.__group-meta-1 {
		font-style:    italic;
		font-family:   $w9sme-secondary-font;
		margin-bottom: 20px;

		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}

		li {
			display: inline-block;
		}

		li.__separator {
			&:first-of-type, &:last-of-type {
				display: none;
			}
		}
	}

	.__group-meta-2 {
		font-size:      12px;
		text-transform: uppercase;
		color:          $w9sme-meta-text-color;
		font-weight:    600;
		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}

		.w9sme-social-share-wrapper {
			float: left;
			.social-share {
				margin-left: -10px;
				margin-right: -10px;
			}
		}

		.entry-meta-comment {
			float: right;
		}
	}

	.entry-content + .__group-meta-2 {
		margin-top: 40px;
	}

	@media (max-width: $screen-xs-max) {
		.article-wrapper {
			padding-bottom: 30px;
		}

		.entry-content + .__group-meta-2 {
			margin-top: 25px;
		}

		.__group-meta-2 {
			.entry-meta-comment {
				margin-top: 10px;
				width: 100%;
				float: left;
			}
		}
	}
}

.event-single {
	.article-wrapper {

	}

	.entry-title {
		font-weight:    400;
		color:          #222;
		font-size: 36px;
		line-height: 1.3;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	.entry-title + .entry-thumbnail-wrapper, .entry-title + .entry-content {
		margin-top: 25px;
	}


	.__group-meta-1 {
		font-style:    italic;
		font-family:   $w9sme-secondary-font;
		margin-bottom: 25px;

		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}

		li {
			display: inline-block;
		}

		li.__separator {
			&:first-of-type, &:last-of-type {
				display: none;
			}
		}
	}

	.entry-thumbnail-wrapper {
		position: relative;
		margin-bottom: 35px;
		.__discount-tag {
			position: absolute;
			background-color: $w9sme-secondary-color;
			color: $w9sme-secondary-color;
			font-weight: 600;
			font-size: 18px;
			top: 40px;
			left: -10px;
			padding: 14px 20px;
			line-height: 20px;
			@include easing-animation();

			span {
				color: #fff;
			}

			.__acute-angle-1, .__acute-angle-2 {
				position: absolute;
				border-width: 12px;
				border-style: solid;
				left: 100%;
				border-right-color: transparent;
			}

			.__acute-angle-1 {
				top: 0;
				border-bottom-color: transparent;
			}

			.__acute-angle-2 {
				bottom: 0;
				border-top-color: transparent;
			}
		}

		&:hover {
			.__discount-tag {
				background-color: $w9sme-primary-color;
				color: $w9sme-primary-color;
			}
		}
	}

	.w9sme-social-share-wrapper {
		text-align: right;
		color:          $w9sme-meta-text-color;
		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}
		.social-share {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}
