//------------------------------------------
//	FOOTER AREA
//------------------------------------------
.site-footer .footer-content-area {
	position:         relative;

	background-color: $w9sme-footer-background-color;
	color:            $w9sme-footer-text-color;

	h1, h2, h3, h4, h5, .w9sme-widget-title, .widget_title {
		color: $w9sme-footer-heading-text-color;
	}

	a {
		color: $w9sme-footer-link-color;

		&:hover, &:focus {
			color: $w9sme-footer-link-hover-color;
		}
	}

	ul li a {
		color: $w9sme-footer-link-color;

		&:hover, &:focus {
			color: $w9sme-footer-link-hover-color;
		}
	}

}

//------------------------------------------
//	WIDGETS
//------------------------------------------
footer.site-footer {
	.w9sme-widget {
		background-color: transparent;
		border:           none;
		color:            inherit;
		margin-bottom:    0;
		padding:          0;
		letter-spacing:   0.05em;

		.w9sme-widget-title {
			margin-bottom: 30px;
		}

		ul {
			li {
				border-bottom: none;
				padding:       0.35em 0;

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	.w9sme-widget-social-profiles {
		.social-profiles {
			@include social-profiles();
		}
	}

	.footer-sidebar {
		section + section:not(.widget-width-50) {
			margin-top: 45px;
		}

		section:not(.widget-width-50) + section.widget-width-50 {
			margin-top: 45px;
		}
	}

	section.footer-content-area {
		.widget_text {
			@include middle();
		}
	}
}

@media (max-width: $screen-sm-max) {
	footer.site-footer {
		//.widget_text, .widget_categories, .widget_nav_menu, .w9sme-widget-logo-info {
		//	text-align: center;
		//}
		//
		section.footer-content-area {
			section.w9sme-widget {
				text-align: center;
			}

			.w9sme-widget-social-profiles {
				ul.social-profiles {
					text-align: center;
				}
			}
		}
	}
}