/*-------------------------------------
HEADER STYLE
---------------------------------------*/

.w9sme-before-main-header {
	z-index: 1200;

	.w9sme-widget {
		margin-bottom: 0;
	}
}

.w9sme-main-header, .w9sme-before-main-header, .w9sme-after-main-header {
	position: relative;
}

// Main nav wrapper
.w9sme-main-header {
	&.w9sme-menu-overlay-wrapper {
		position: absolute;
		width:    100%;
	}
}

// Main nav boxed
@media (min-width: $screen-xlg) {
	.w9sme-menu-boxed-container-xlg.w9sme-main-nav {
		.w9sme-nav-body {
			max-width: 1570px;
			> .container-xlg {
				padding-left:  0;
				padding-right: 0;
			}
			.w9sme-nav-body-content {
				padding-left:  30px;
				padding-right: 30px;
			}
		}
	}
}

@media (min-width: $screen-lg) {
	.w9sme-menu-boxed-container.w9sme-main-nav {
		.w9sme-nav-body {
			max-width: 1170px;
			> .container {
				padding-left:  0;
				padding-right: 0;
			}
			.w9sme-nav-body-content {
				padding-left:  30px;
				padding-right: 30px;
			}
		}
	}
}

// ========================================
// ============== Main nav ================
// ========================================

//enable overlay
.w9sme-nav-body, .w9sme-tree-menu .sub-menu, .w9sme-mega-menu > .sub-menu {
	@include overlay-before();
}

.w9sme-main-nav {
	transition:  background $w9sme-transition-time, transform $w9sme-transition-time, padding $w9sme-transition-time ease;
	position:    relative;
	z-index:     1302;
	width:       100%;
	left:        0;
	right:       0;
	will-change: transform, position;

	.w9sme-nav-body {
		position:     relative;
		max-width:    100%;
		margin-left:  auto;
		margin-right: auto;

		.layout-boxed & {
			width: 1200px;
		}
		.layout-extended & {
			width: 1600px;
		}

		@media (min-width: $screen-xlg) {
			> .container-fluid {
				padding-left:  30px;
				padding-right: 30px;
			}
		}
	}

	.w9sme-main-menu {
		margin-left:  -$w9sme-default-nav-menu-item-padding-left;
		margin-right: -$w9sme-default-nav-menu-item-padding-right;
	}

	a {
		text-decoration: none;
	}

	//Sticky
	.is-sticky & {
		position: fixed;
		top:      0;

		@media (min-width: $w9sme-page-leftzone-breakpoint) {
			.page-leftzone-default-open &, .page-leftzone-open & {
				padding-left: $w9sme-page-leftzone-width;
			}
		}

		@media (min-width: $w9sme-page-rightzone-breakpoint) {
			.page-rightzone-default-open &, .page-rightzone-open & {
				padding-right: $w9sme-page-rightzone-width;
			}
		}

		.admin-bar & {
			@media (min-width: 601px) {
				top: 46px
			}
			@media (min-width: 783px) {
				top: 31px;
			}
		}

		&.headroom--not-top:not(.w9sme-headroom) {
			animation: slideInDown 0.5s;
		}

		&.headroom--top {
			transform: translateY(-100%);
		}
	}
}

//Headroom
.w9sme-headroom {
	&.headroom--pinned {
		@include translateY(0);
	}
	&.headroom--unpinned {
		@include translateY(-100%);
	}
}

.is-sticky .w9sme-nav-body {
	background-image: none; // Make background image discontinue in sticky menu
}

html:not(.flexbox) {
	.w9sme-nav-body-content {
		display: table;

		.w9sme-nav-item {
			display:        table-cell !important;
			vertical-align: middle !important;
		}
	}

	.w9sme-nav-main-menu-wrapper {
		width: 99%;
	}
}

.w9sme-nav-body-content {
	@include flexbox();
	@include flex-wrap(wrap);
	display:     flex;
	flex-wrap:   wrap;
	align-items: stretch;
	position:    relative;
	height:      100%;

	.w9sme-nav-item {
		@include easing-animation();
		display:     flex;
		align-items: center;

		.w9sme-block-icon {
			font-size:   18px;
			width:       40px;
			height:      40px;
			text-align:  center;
			line-height: 40px;
		}
	}

	.w9sme-nav-toggle-leftzone-wrapper,
	.w9sme-nav-toggle-rightzone-wrapper,
	.w9sme-nav-popup-wrapper,
	.w9sme-nav-search-wrapper,
	.w9sme-nav-cart-wrapper {
		padding-top:    10px;
		padding-bottom: 10px;
	}

	//.w9sme-nav-search-wrapper, .w9sme-nav-cart-wrapper {
	//	.w9sme-block-icon {
	//		width:       30px;
	//		height:      30px;
	//		line-height: 30px;
	//		color: #fff;
	//		font-size: 14px;
	//	}
	//}
	//
	//.w9sme-nav-search-wrapper {
	//	.w9sme-block-icon {
	//		background-color: $w9sme-primary-color;
	//	}
	//}
	//
	.w9sme-nav-cart-wrapper {
		.w9sme-block-icon {
			//color: #666;
			font-size: 19px;
		}
	}
}

//Enable separator
.w9sme-nav-enable-separator {
	.w9sme-nav-body-content {
		border-right: 1px solid;
	}
	.w9sme-nav-item {
		border-left: 1px solid;
	}
}

// ========================================
// ==== Responsive main nav and module ====
// ========================================

//In mobile
@media (max-width: $w9sme-header-nav-breakpoint - 1px) {
	.w9sme-main-nav .w9sme-nav-item {
		&.biggest-nav-item-mobile {
			@include flex(10);
			html:not(.flexbox) & {
				width: 99%;
			}
			> * {
				margin-left:  auto;
				margin-right: auto;
			}
			&.nav-item-mobile-left > * {
				float:       left;
				margin-left: 0;
			}
			&.nav-item-mobile-right > * {
				float:        right;
				margin-right: 0;
			}
		}

		&.nav-item-mobile-none {
			display: none;
		}

		@for $i from 0 through 8 {
			&.nav-item-mobile-#{$i} {
				@include order($i + 1);
				@include flexbox();

				html:not(.flexbox) & {
					display: table-cell;
				}
			}
		}
	}
}

//In desktop
@media (min-width: $w9sme-header-nav-breakpoint) {
	.w9sme-main-nav .w9sme-nav-item {
		&.biggest-nav-item-desktop {
			@include flex(10);
			html:not(.flexbox) & {
				width: 99%;
			}
			> * {
				margin-left:  auto;
				margin-right: auto;
			}
			&.nav-item-desktop-left > * {
				float:       left;
				margin-left: 0;
			}
			&.nav-item-desktop-right > * {
				float:        right;
				margin-right: 0;
			}
		}

		&.nav-item-desktop-none {
			display: none;
		}

		@for $i from 0 through 8 {
			&.nav-item-desktop-#{$i} {
				@include order($i + 1);
				@include flexbox();

				html:not(.flexbox) {
					display: table-cell;
				}
			}
		}

		//Desktop sticky
		.is-sticky & {
			&.nav-item-desktop-sticky-none {
				display: none;
			}

			@for $i from 0 through 8 {
				&.nav-item-desktop-sticky-#{$i} {
					@include order($i + 1);
					@include flexbox();

					html:not(.flexbox) & {
						display: table-cell;
					}
				}
			}
		}
	}
}

// ========================================
// ========== Main nav modules ============
// ========================================

// Logo
.w9sme-nav-logo-wrapper {
	.w9sme-logo-link {
		background: transparent !important;
	}
	img {
		@include easing-animation();
		max-width: initial;
	}
}

//Mini Cart
.w9sme-nav-cart-wrapper {
	position: relative;
}

.w9sme-mini-cart {
	.__cart-toggle {
		position: relative;
		display:  block;

		.__number-product {
			position:         absolute;
			background-color: $w9sme-primary-color;
			color:            #fff;
			top:              0;
			right:            0;
			font-size:        11px;
			width:            20px;
			height:           20px;
			line-height:      20px;
			border-radius:    50%;
			font-family:      sans-serif;
			opacity:          0;
			text-align:       center;
			@include easing-animation();
		}
	}

	.__cart-wrapper {
		position: absolute;
		display:  none;
		top:      100%;
		right:    0;
		height:   auto;
		width:    380px;

		a {
			//color: inherit !important;
		}
		//border:   1px solid rgba(128, 128, 128, 0.15);

		ul.cart_list, ul.product_list_widget {
			list-style:    none;
			padding:       0;
			margin:        0 5px;
			margin-bottom: 30px;
		}

		.w9sme-mini-cart .cart_list_wrapper {
			padding: 30px 15px 20px 15px;
		}

		@media (max-width: $screen-xxs) {
			position: fixed;
			width:    100%;
		}

		@media (max-width: 320px) {
			.product-item-thumbnail, a.remove {
				display: none;
			}
		}
	}

	&.dropdown.open {
		.__cart-wrapper {
			display: block;
		}
	}
}

//Search area
.popup-area-type-w9sme-search {
	> .mfp-close {
		display: none;
	}
}

.w9sme-popup-search {
	.w9sme-search-form-wrapper {
		position: relative;
	}

	.w9sme-ajax-search-content {
		min-height: 50vh;
		padding:    30px 10px 15px;
		position:   relative;
		z-index:    2;

		.__loading {
			position: absolute;
			display:  none;
			top:      0;
			left:     0;
			width:    100%;
			height:   100%;
			z-index:  -1;
		}

		&.loading .__loading {
			display: block;
		}
	}

	.mfp-close {
		left:        initial;
		right:       0;
		top:         -5px;
		margin-left: 0;
		font-size:   18px;
	}

	.search-form {
		.search-field {
			border:         0;
			padding-left:   45px;
			padding-bottom: 10px;
			padding-right:  15px;
			border-bottom:  1px solid;
			font-size:      16px;

		}
		::-webkit-input-placeholder {
			//text-transform: uppercase;
			color:          inherit;
		}

		:-moz-placeholder { /* Firefox 18- */
			//text-transform: uppercase;
			color:          inherit;
		}

		::-moz-placeholder { /* Firefox 19+ */
			//text-transform: uppercase;
			color:          inherit;
		}

		:-ms-input-placeholder {
			//text-transform: uppercase;
			color:          inherit;
		}

		button[type="submit"] {
			right: auto;
			top:   -5px;
			left:  0;
		}
	}
}

//Custom content
.w9sme-nav-custom-content {
	.inline-block-el {
		vertical-align: middle;
	}
}

// ========================================
// ============== Main menu ===============
// ========================================
.w9sme-main-menu, .w9sme-mobile-menu {
	ul, li {
		@include list-unstyled();
	}
	ul {
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
	}
}

.w9sme-main-menu-content {
	/* Menu layout */
	.menu-item {
		.sub-menu {
			z-index:             1000;
			position:            absolute;
			display:             none;
			background-size:     cover;
			background-position: center center;
		}
		> a {
			max-width: 100%;
			display:   block;
		}
	}

	/*LV 0*/
	> .menu-item {
		display:        block;
		float:          left;
		text-transform: uppercase;
		font-size:      12px;
		//font-weight:    600;
		i {
			font-size: 14px;
		}
	}

	.w9sme-main-nav & > .menu-item .menu-item li.menu-item > a {
		font-size: 11px;
	}

		// Tree menu
	> .menu-item.w9sme-tree-menu {
		.sub-menu {
			width: $w9sme-menu-sub-item-size-width;
		}
		&, .menu-item {
			position: relative;
		}

		//Multi column
		@for $i from 1 through 6 {
			&.w9sme-tree-#{$i}-col {
				> .sub-menu {
					width: $w9sme-menu-sub-item-size-width  * $i;
					> .menu-item {
						width: 100%/$i;
						float: left;
						> a {
							width: 100%;
						}
					}
				}

				&.sub-menu-on-center > .sub-menu {
					margin-left: ( -$w9sme-menu-sub-item-size-width * $i) / 2;
				}
			}
		}

		//lv>1 sub menu
		.sub-menu {
			.menu-item {
				.sub-menu {
				}
			}
		}

		//LV1
		> .sub-menu {
			top: 100%;
		}

		//Menu Item Align
		&.sub-menu-on-right, & {
			.sub-menu {
				left:  100%;
				right: auto;
			}

			> .sub-menu {
				left:  0;
				right: auto;
			}
		}

		.sub-menu-on-right > .sub-menu {
			left:  100%;
			right: auto;
		}

		&.sub-menu-on-center {
			> .sub-menu {
				left:        50%;
				margin-left: -$w9sme-menu-sub-item-size-width / 2;
				right:       auto;
			}
		}

		&.sub-menu-on-left {
			.sub-menu {
				left:  auto;
				right: 100%;
			}

			> .sub-menu {
				left:  auto;
				right: 0;
			}
		}

		.sub-menu-on-left > .sub-menu {
			left:  auto;
			right: 100%;
		}
	}

	// Mega menu
	.menu-item.w9sme-mega-menu {
		@for $i from 1 through 6 {
			&.w9sme-mega-#{$i}-col > .sub-menu > .menu-item {
				width: 100%/$i;
			}
		}
		> .sub-menu {
			position: absolute;
			width:    100%;
			left:     0;

			> .menu-item {
				position: relative;
				float:    left;
			}

			//lv>1
			.sub-menu {
				position: relative;
				display:  block;
			}
		}
	}
	//Get content template for nav
	.menu-item.w9sme-menu-item-include-content-template {
		> ul.sub-menu {
			display: none !important;
		}

		.w9sme-menu-content-template-wrapper {

		}
	}

	li.menu-item {
		&.menu-item_active-link {
			> a , > a:hover, > a:active {
				&, .is-sticky .w9sme-nav-body & {
					color: $w9sme-primary-color;
				}
			}
		}
	}
}

.w9sme-main-menu-content.submenu-reverse > .menu-item.w9sme-tree-menu > .sub-menu {
	bottom: 100%;
	top: auto;
}

$fadespacing: 100px;
$fadetime: 0.5s;
$transform_time: 0.4s;
$movetime: 0.5s;
/* Hover effect */
.w9sme-main-menu-content {
	.sub-menu {
		z-index: -1;
	}

	> .menu-item {
		&:hover {
			> .sub-menu {
				display: block;
			}
		}

		&.w9sme-tree-menu {
			.menu-item:hover {
				> .sub-menu {
					display: block;
				}
			}
		}
	}

	&.w9sme-effect-fade {
		> .menu-item, & .w9sme-tree-menu .menu-item {
			> .sub-menu {
				opacity:    0;
				display:    block;
				visibility: collapse;
				@include transition(all 0s);
			}
			&:hover {
				> .sub-menu {
					opacity:    1;
					visibility: visible;
					@include transition(opacity $fadetime);
				}
			}
		}
	}
	&.w9sme-effect-fade-up {
		> .menu-item, & .w9sme-tree-menu .menu-item {
			> .sub-menu {
				opacity:    0;
				display:    block;
				visibility: collapse;
				@include transition(all 0s);
				@include translateY($fadespacing);
			}
			&:hover {
				> .sub-menu {
					opacity:    1;
					visibility: visible;
					@include transition(opacity $fadetime, transform $transform_time);
					@include translateY(0px);
				}
			}
		}
	}
	&.w9sme-effect-fade-down {
		> .menu-item, & .w9sme-tree-menu .menu-item {
			> .sub-menu {
				opacity:    0;
				display:    block;
				visibility: collapse;
				@include transition(all 0s);
				@include translateY(-$fadespacing);
				z-index:    -1;
			}
			&:hover {
				> .sub-menu {
					opacity:    1;
					visibility: visible;
					@include transition(opacity $fadetime, transform $transform_time, z-index 0s $transform_time);
					@include translateY(0px);
					z-index:    1000;
				}
			}
		}
	}
	&.w9sme-effect-fade-left {
		> .menu-item, & .w9sme-tree-menu .menu-item {
			> .sub-menu {
				opacity:    0;
				display:    block;
				visibility: collapse;
				@include transition(all 0s);
				@include translateX(-$fadespacing);
			}
			&:hover {
				> .sub-menu {
					opacity:    1;
					visibility: visible;
					@include transition(opacity $fadetime, transform $transform_time);
					@include translateX(0px);
				}
			}
		}
	}
	&.w9sme-effect-fade-right {
		> .menu-item, & .w9sme-tree-menu .menu-item {
			> .sub-menu {
				opacity:    0;
				display:    block;
				visibility: collapse;
				@include transition(all 0s);
				@include translateX($fadespacing);
			}
			&:hover {
				> .sub-menu {
					opacity:    1;
					visibility: visible;
					@include transition(opacity $fadetime, transform $transform_time);
					@include translateX(0px);
				}
			}
		}
	}
	&.w9sme-effect-dropdown {
		> .menu-item, & .w9sme-tree-menu .menu-item {
			> .sub-menu {
				display: block;
				opacity: 0;
				@include transition(all 0s);
				@include translateY(-100%);
				z-index: -1;
			}
			&:hover {
				> .sub-menu {
					@include transition(transform $movetime);
					@include translateY(0);
					opacity: 1;
					z-index: 1000;
				}
			}
		}
	}
}

.w9sme-main-menu-content {
	> .menu-item {
		> a {
			position:       relative;
			vertical-align: middle;
			display:        table-cell;

			.w9sme-parent-caret {
				display:        inline-block;
				vertical-align: middle;
				font-size:      55%;
				margin-left:    5px;

				&:before {
					display: block;
				}
			}

		}
		&.active > a, > a.active, a:active, &.current-menu-item > a {
			//color: $w9sme-menu-item-color-active;
		}
		&:hover {
			> a {
				//color: $w9sme-menu-item-color-hover;
			}
		}

		//Submenu
		.sub-menu {
			background-clip: padding-box;
			.menu-item {
				> a {
					position:       relative;
					line-height:    $w9sme-menu-sub-item-size-height - 10px;
					padding-top:    5px;
					padding-bottom: 5px;
					height:         auto;
				}
				&:not(.menu-item_active-link) > a {
					color:          $w9sme-menu-sub-item-color-regular;
					&.active, &:active {
						color: $w9sme-menu-sub-item-color-active;
					}
				}
			}
		}

		//Tree menu{
		&.w9sme-tree-menu {
			.sub-menu {
				.menu-item {
					&:hover {
						> a {
							color: $w9sme-menu-sub-item-color-hover;
						}

						.sub-menu {
							top: 0;
						}
					}
					.w9sme-parent-caret {
						position:    absolute;
						display:     block;
						font-size:   8px;
						line-height: 8px;
						height:      8px;
						margin-top:  -4px;
						right:       5px;
						top:         50%;

						&:before {
							display: block;
						}
					}
				}
			}
		}

		&.w9sme-mega-menu {
			li.menu-item {
				&:not(.menu-item_active-link) {
					> a {
						color: $w9sme-menu-sub-item-color-regular;
						&:hover {
							color: $w9sme-menu-sub-item-color-hover
						}
					}
				}
				.sub-menu {
					padding: 0;
					margin:  0;

					.menu-item {
						padding-left:  0;
						padding-right: 0;
					}
				}
				.w9sme-parent-caret {
					display: none;
				}
			}
		}
	}
}

//Mega menu separator
.w9sme-enable-mega-menu-separator .w9sme-mega-menu > .sub-menu > .menu-item:not(:first-child) {
	border-left-width: 1px;
	border-left-style: solid;
}

.w9sme-enable-mega-menu-separator .w9sme-mega-menu > .sub-menu {
	padding: 30px 0;
}

.w9sme-enable-mega-menu-separator .w9sme-mega-menu:hover > .sub-menu {
	@include flexbox();
}

//Menu item hover effect
//Underline
.w9sme-menu-item-hover-underline > .menu-item {
	> a {
		&:after {
			@include easing-animation(width);
			content:       "";
			position:      relative;
			display:       block;
			width:         0;
			height:        0;
			border-bottom: 2px solid;
			left:          50%;
			@include translateX(-50%);
		}
	}
	&:hover > a:after {
		width: 100%;
	}
}

// magic line
.w9sme-menu-item-hover-magic-line-top, .w9sme-menu-item-hover-magic-line-bottom {
	li.magic-line {
		position: absolute;
		height: 4px;
		background: $w9sme-primary-color;
		left: -10000px;
		width: 10px;
		z-index: 50;
	}

	li.menu-item > a {
		z-index: 100;
	}
}

.w9sme-menu-item-hover-magic-line-top {
	li.magic-line {
		top: 0;
	}
}

.w9sme-menu-item-hover-magic-line-bottom {
	li.magic-line {
		bottom: 0;
	}
}

//Bracket
.w9sme-menu-item-hover-bracket > .menu-item {
	> a {
		&:before, &:after {
			@include easing-animation(transform);
			display: inline-block;
			opacity: 0;
		}
		&:before {
			content:      '[';
			margin-right: 8px;
			@include translateX(20px);
		}
		&:after {
			content:     ']';
			margin-left: 8px;
			@include translateX(-20px);
		}
	}

	&:hover {
		> a {
			&:before, &:after {
				opacity: 1;
				@include translateX(0);
			}
		}
	}
}

//Sub menu item hover effect
.w9sme-menu-sub-item-hover-move-right .sub-menu {
	a:hover {
		@include translateX(20px);
	}
}

.w9sme-menu-sub-item-hover-move-left .sub-menu {
	a:hover {
		@include translateX(-20px);
	}
}

.w9sme-menu-sub-item-hover-left-border, .w9sme-menu-sub-item-hover-left-border {
	.sub-menu a {
		&:before {
			@include easing-animation();
			position:         absolute;
			content:          '';
			background-color: $w9sme-menu-sub-item-color-hover;
			width:            5px;
			height:           100%;
			top:              0;
			display:          block;
			opacity:          0;
		}
		&:hover:before {
			opacity: 1;
		}
	}
}

.w9sme-menu-sub-item-hover-left-border .sub-menu a:before {
	left: 0;
}

.w9sme-menu-sub-item-hover-right-border .sub-menu a:before {
	right: 0;
}

//Menu icon
.w9sme-menu-icon {
	display:        inline-block;
	margin-right:   5px;
	margin-top:     -3px;
	vertical-align: middle;
	&:before {
		display: block;
	}
}
