//------------------------------------------
//	w9sme-page-transitions-wrapper
//------------------------------------------
.w9sme-page-transitions, .w9sme-page-transitions-wrapper {
	top:        0;
	position:   fixed;
	left:       0;
	width:      100%;
	height:     100%;
	z-index:    100000;
	text-align: center;

	h3.loading-text {
		margin: 25px 0;
	}
}
