.w9sme-service {
	margin-bottom: 45px;

	.__thumbnail {
		position: relative;
		.__overlay {
			position:         absolute;
			top:              0;
			left:             0;
			width:            100%;
			height:           100%;
			background-color: $w9sme-primary-color;
			@include easing-animation();
			i {
				top:         50%;
				position:    absolute;
				left:        50%;
				margin-top:  -24px;
				margin-left: -24px;
				font-size:   24px;
				color:       #fff;
				width:       48px;
				height:      48px;
				line-height: 48px;
				text-align:  center;
				//border:                2px solid #fff;
				&:before {
					display:     block;
					line-height: inherit;
				}
			}
		}

		img {
			width: 100%;
		}
	}

	.entry-header {
		//margin-bottom: 20px;
		position: relative;
	}

	.entry-content {
		position: relative;
		.__title {
			color:          #222;
			font-size:      14px;
			text-transform: uppercase;
			line-height:    1.5;
			margin-bottom:  5px;
		}

		.__excerpt {
			> p {
				margin-bottom: 0;
			}

			letter-spacing: 0.05em;
			margin-top:     5px;
		}
	}
}

.w9sme-service-classic {
	.__thumbnail {
		.__overlay {
			opacity: 0.5;
			@include transform(scale(0));
		}
	}

	&:hover {
		.__thumbnail .__overlay, .__booking-btn .__btn {
			@include transform(scale(1));
		}
	}

	.__booking-btn {
		.__btn {
			text-align:       center;
			width:            170px;
			height:           50px;
			line-height:      50px;
			text-transform:   uppercase;
			font-size:        14px;
			letter-spacing:   0.2em;
			font-weight:      600;
			margin:           auto;
			left:             0;
			top:              0;
			bottom:           0;
			right:            0;
			position:         absolute;
			background-color: $w9sme-secondary-color;
			color:            #fff;
			@include transform(scale(0));
			&:hover {
				background-color: darken($w9sme-secondary-color, 10%);
			}
		}
	}

	.entry-header {
		margin-bottom: 20px;
		position:      relative;
	}

	.entry-content {
		.__time {
			font-family: $w9sme-secondary-font;

			span {
				&:before {
					content: '(';
				}
				&:after {
					content: ')';
				}
			}
		}

		.entry-content-inner {
			padding-right: 90px;
		}

		.__price {
			position:   absolute;
			right:      0;
			top:        0;
			font-size:  18px;
			color:      $w9sme-primary-color;
			text-align: right;
		}
	}
}

.w9sme-service-horizontal {
	margin-bottom: 30px;

	.__thumbnail {
		.__overlay {
			opacity: 0;
		}
	}

	.entry-header {
		margin-bottom: 10px;
		padding:       10px;
	}

	.entry-content {
		padding: 10px;
		.__price {
			color:       $w9sme-primary-color;
			font-weight: 500;
			font-size:   18px;
			line-height: 35px;
		}

		.__time {
			font-family: $w9sme-secondary-font;
			float:       left;
			line-height: 35px;

			& + .__price {
				float: right;
			}
		}

	}

	.__booking-btn {
		.__btn {
			display:          inline-block;
			text-align:       center;
			width:            100%;
			height:           30px;
			line-height:      30px;
			text-transform:   uppercase;
			font-size:        12px;
			letter-spacing:   0.2em;
			font-weight:      600;
			margin:           auto;
			opacity:          0;
			background-color: $w9sme-secondary-color;
			color:            #fff;
			@include easing-animation();
			&:hover {
				background-color: darken($w9sme-secondary-color, 10%);
			}
		}
	}

	&:hover {
		.__booking-btn .__btn {
			opacity: 1;
		}

		.__thumbnail .__overlay {
			opacity: 0.5;
		}
	}
}

//------------------------------------------
//	SINGLE SERVICE
//------------------------------------------
.service-single {
	.service-meta-wrapper {
		.service-meta {
			a {
				&:hover {
					text-decoration: underline;
				}
			}
			.__title {

			}
		}

		.w9sme-social-share-wrapper {
			display:        inline-block;
			vertical-align: middle;

			a {
				color: $w9sme-text-color;

				&:hover {
					text-decoration: none;
					color:           $w9sme-primary-color;
				}
			}
		}
	}

	.feature-wrapper {
		border-bottom:  1px solid $w9sme-border-color;
		padding-bottom: 30px;
		margin-bottom:  30px;
	}

	@media (max-width: $screen-sm-min) {
		.col-sm-4 .service-meta-wrapper {
			margin-top: 15px;
		}
	}

	.entry-content-wrapper .entry-title {
		font-weight:    400;
		font-size:      32px;
		text-transform: uppercase;
		margin-bottom:  10px;
	}

	.entry-title + .entry-thumbnail-wrapper, .entry-title + .entry-content {
		margin-top: 25px;
	}

	.__group-meta-1 {
		font-style:    italic;
		font-family:   $w9sme-secondary-font;
		margin-bottom: 25px;

		a {
			color: inherit;
			&:hover {
				color: $w9sme-primary-color;
			}
		}

		li {
			display: inline-block;
		}

		li.__separator {
			&:first-of-type, &:last-of-type {
				display: none;
			}
		}
	}

	.entry-thumbnail-wrapper {
		position:      relative;
		margin-bottom: 35px;
	}

	//.w9sme-social-share-wrapper {
	//	text-align: right;
	//	color:      $w9sme-meta-text-color;
	//	a {
	//		color: inherit;
	//		&:hover {
	//			color: $w9sme-primary-color;
	//		}
	//	}
	//	.social-share {
	//		margin-left:  -10px;
	//		margin-right: -10px;
	//	}
	//}

	.entry-content-wrapper {
		margin-bottom: 0;
	}

	.entry-content-wrapper + .related-service-block {
		margin-top: 60px;
	}

	.related-service-block {
		border-top:  1px solid #cccccc;
		padding-top: 45px;
		.related-service-title {
			font-size:      18px;
			text-transform: uppercase;
			color:          #222;
			margin-bottom:  35px;
		}
	}
}