//
// Copyright(c) 2016, 9WPThemes
// @filename: subzone.scss
// @time    : 9/26/16 6:48 PM
// @author  : 9WPThemes Team
//

//Side Area
.page-wrapper {
	position: relative;
	@include easing-animation();

	//Left Zone
	.page-leftzone, .page-rightzone {
		@include easing-animation();
		max-width: 100%;
		position:  fixed;
		top:       0;
		height:    100%;
		z-index:   100000;
		overflow:  auto;

		.zone-content {
			position:   relative;
			min-height: 100%;
		}

		&.zone-fixed {
			.zone-content {
				display:        flex;
				flex-direction: column;
				width:          100%;
				min-height:     100%;
				overflow:       hidden;
			}

			.sidebar-zone-main {
				flex: 10;
			}

			.sidebar-zone-bottom {
				.w9sme-widget {
					margin-bottom: 25px;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			.sidebar {
				position: relative;
				z-index:  10;
			}
		}

		.w9sme-widget {
			width: auto;
		}

		&.zone-static {
			position: absolute;
		}

		.dismiss-zone {
			position:       absolute;
			z-index:        20;
			top:            5px;
			padding-bottom: 0 !important;
			width:          30px;
			height:         30px;
			text-align:     center;
			line-height:    30px;

			&.dismiss-left {
				padding-right: 0 !important;
				left:          5px;
			}
			&.dismiss-right {
				padding-left: 0;
				right:        5px;
			}

			a {
				text-decoration: none;
			}
		}
	}

	.page-leftzone {
		width: $w9sme-page-leftzone-width;
		left:  -$w9sme-page-leftzone-width;
	}

	.page-rightzone {
		width: $w9sme-page-rightzone-width;
		right: -$w9sme-page-rightzone-width;
	}

	@media (min-width: $w9sme-page-leftzone-breakpoint) {
		.page-leftzone-default-open &, .page-leftzone-open & {
			padding-left: $w9sme-page-leftzone-width;
			.page-leftzone {
				left: 0;
			}
		}

		.page-leftzone-default-open & {
			.page-leftzone .dismiss-zone, .w9sme-leftzone-caller {
				display: none;
			}
		}
	}

	@media (max-width: $w9sme-page-leftzone-breakpoint - 1) {
		.page-leftzone-open & {
			.page-leftzone {
				left: 0;
			}
		}
	}

	@media (min-width: $w9sme-page-rightzone-breakpoint) {
		.page-rightzone-default-open &, .page-rightzone-open & {
			padding-right: $w9sme-page-rightzone-width;
			.page-rightzone {
				right: 0;
			}
		}

		.page-rightzone-default-open & {
			.page-rightzone .dismiss-zone, .w9sme-rightzone-caller {
				display: none;
			}
		}
	}

	@media (max-width: $w9sme-page-rightzone-breakpoint - 1) {
		.page-rightzone-open & {
			.page-rightzone {
				right: 0;
			}
		}
	}
}

// change some module style in subzone content
.zone-content {
	.widget_search {
		.search-field {
			background-color: rgba(128, 128, 128, 0.3);
			border-color:     transparent;
		}
	}
}