section.site-title {
	position:         relative;
	overflow:         hidden;
	//margin-bottom:    $w9sme-page-title-margin-bottom;
	background-color: $w9sme-page-title-bg-color;
	color:            $w9sme-page-title-text-color;
}

//.site-title-inner-wrapper .row {
//	display:   flex;
//	flex-wrap: wrap;
//
//	> div {
//		-webkit-box-align:      stretch;
//		-webkit-align-items:    stretch;
//		-ms-flex-align:         stretch;
//		align-items:            stretch;
//		align-self:             center;
//		display:                flex;
//		-webkit-flex-direction: column;
//		-ms-flex-direction:     column;
//		flex-direction:         column;
//		-webkit-box-flex:       1;
//		-webkit-flex-grow:      1;
//		-ms-flex-positive:      1;
//		flex-grow:              1;
//	}
//
//}

.site-title-inner {
	//padding-top:    $w9sme-page-title-padding-top;
	//padding-bottom: $w9sme-page-title-padding-bottom;
	padding-top:    105px;
	padding-bottom: 80px;

	p.sub-title {
		font-size:   14px;
		font-family: $w9sme-secondary-font;
		line-height: 1.2;
	}

	h1.title {
		line-height:   1.2;
		font-size:     28px;
		font-weight:   600;
		margin-bottom: 10px;

		//font-size:   $w9sme-page-title-title-fz;
		//font-weight: $w9sme-page-title-title-fw;
		@media screen and (max-width: $screen-xs-max) {
			font-size: 20px !important;
		}

		&.top-line {
			&:before {
				content:          '';
				display:          block;
				width:            46px;
				height:           5px;
				background-color: $w9sme-page-title-top-line-color;
				margin-bottom:    20px;
			}
		}
	}

	.__inner-wrapper {
		display:         flex;
		flex-wrap:       nowrap;
		flex-direction:  row;
		justify-content: space-between;
		align-items:     center;

		.__inner-left, .__inner-right {
			display:   inline-block;
			flex-grow: 1;
		}

		.__inner-right {
			text-align: right;
		}

	}

	&.text-right {
		.top-line {
			&:before {
				margin-left: auto;
			}
		}
	}

	&.text-left {
		.top-line {
			&:before {
				margin-right: auto;
			}
		}
	}

	&.text-center {
		.top-line {
			&:before {
				margin-right: auto;
				margin-left:  auto;
			}
		}
	}

}

@media (max-width: $screen-xs-max) {
	.site-title-inner {
		.__inner-wrapper {
			flex-wrap:      wrap;
			flex-direction: column;
			align-items:    flex-start;

			.__inner-right {
				padding-top: 25px;
			}
		}
	}
}


