/*!
 * jQuery UI Bootstrap (0.5)
 * http://addyosmani.github.com/jquery-ui-bootstrap
 *
 * Copyright 2012 - 2013, Addy Osmani
 * Dual licensed under the MIT or GPL Version 2 licenses.
 *
 * Portions copyright jQuery UI & Twitter Bootstrap
 */
.redux-container, .control-section-redux, .control-panel-redux, .redux-metabox {
  /* Interaction Cues
   ----------------------------------*/
  /* Icons
   ----------------------------------*/
  /* states and images */
  /* Misc visuals
   ----------------------------------*/
  /*
   * jQuery UI CSS Framework 1.10.0
   *
   * Copyright 2013, AUTHORS.txt (http://jqueryui.com/about)
   * Dual licensed under the MIT or GPL Version 2 licenses.
   * http://jquery.org/license
   *
   *
   *
   * To view and modify this theme, visit http://jqueryui.com/themeroller/
   */
  /* Component containers
   ----------------------------------*/
  /* Interaction states
   ----------------------------------*/
  /* Interaction Cues
   ----------------------------------*/
  /* For IE8 - See #6059 */
  /* Icons
   ----------------------------------*/
  /* states and images */
  /* positioning */
  /* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
  /* Misc visuals
   ----------------------------------*/
  /* Corner radius */
  /* Overlays */
  /*
   * jQuery UI Accordion 1.10.0
   *
   * Copyright 2013, AUTHORS.txt (http://jqueryui.com/about)
   * Dual licensed under the MIT or GPL Version 2 licenses.
   * http://jquery.org/license
   *
   * http://jqueryui.com/accordion/
   */
  /* IE/Win - Fix animation bug - #4615 */
  /*
   * jQuery UI Button 1.10.0
   *
   * Copyright 2013, AUTHORS.txt (http://jqueryui.com/about)
   * Dual licensed under the MIT or GPL Version 2 licenses.
   * http://jquery.org/license
   *
   * http://docs.jquery.com/UI/Button#theming
   */
  /* the overflow property removes extra width in IE */
  /* to make room for the icon, a width needs to be set here */
  /* button elements seem to need a little more width */
  /*button text element */
  /* no icon support for input elements, provide padding by default */
  /* input.ui-button { padding: .4em 1em; } */
  /*button icon element(s) */
  /*button sets*/
  /* workarounds */
  /* reset extra padding in Firefox */
  /*
   * jQuery UI Datepicker 1.9.0
   *
   * Copyright 2012-10-11, AUTHORS.txt (http://jqueryui.com/about)
   * Dual licensed under the MIT or GPL Version 2 licenses.
   * http://jquery.org/license
   *
   * http://jqueryui.com/datepicker/
   */
  /* with multiple calendars */
  /* RTL support */
  /* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
}
.redux-container .ui-state-disabled, .control-section-redux .ui-state-disabled, .control-panel-redux .ui-state-disabled, .redux-metabox .ui-state-disabled {
  cursor: default !important;
}
.redux-container .ui-icon, .control-section-redux .ui-icon, .control-panel-redux .ui-icon, .redux-metabox .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.redux-container .ui-widget-content, .control-section-redux .ui-widget-content, .control-panel-redux .ui-widget-content, .redux-metabox .ui-widget-content {
  border: 1px solid #aaa;
  background: #fff url(../images/jquery-ui/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x;
  color: #404040;
}
.redux-container .ui-widget-header, .control-section-redux .ui-widget-header, .control-panel-redux .ui-widget-header, .redux-metabox .ui-widget-header {
  font-weight: bold;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #666;
}
.redux-container .ui-widget-header a, .control-section-redux .ui-widget-header a, .control-panel-redux .ui-widget-header a, .redux-metabox .ui-widget-header a {
  color: #222;
}
.redux-container .ui-state-default, .control-section-redux .ui-state-default, .control-panel-redux .ui-state-default, .redux-metabox .ui-state-default, .redux-container .ui-widget-content .ui-state-default, .control-section-redux .ui-widget-content .ui-state-default, .control-panel-redux .ui-widget-content .ui-state-default, .redux-metabox .ui-widget-content .ui-state-default, .redux-container .ui-widget-header .ui-state-default, .control-section-redux .ui-widget-header .ui-state-default, .control-panel-redux .ui-widget-header .ui-state-default, .redux-metabox .ui-widget-header .ui-state-default {
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  overflow: visible;
}
.redux-container .ui-state-default a, .control-section-redux .ui-state-default a, .control-panel-redux .ui-state-default a, .redux-metabox .ui-state-default a, .redux-container .ui-state-default a:link, .control-section-redux .ui-state-default a:link, .control-panel-redux .ui-state-default a:link, .redux-metabox .ui-state-default a:link, .redux-container .ui-state-default a:visited, .control-section-redux .ui-state-default a:visited, .control-panel-redux .ui-state-default a:visited, .redux-metabox .ui-state-default a:visited {
  color: #555;
  text-decoration: none;
}
.redux-container .ui-state-hover, .control-section-redux .ui-state-hover, .control-panel-redux .ui-state-hover, .redux-metabox .ui-state-hover, .redux-container .ui-widget-content .ui-state-hover, .control-section-redux .ui-widget-content .ui-state-hover, .control-panel-redux .ui-widget-content .ui-state-hover, .redux-metabox .ui-widget-content .ui-state-hover, .redux-container .ui-widget-header .ui-state-hover, .control-section-redux .ui-widget-header .ui-state-hover, .control-panel-redux .ui-widget-header .ui-state-hover, .redux-metabox .ui-widget-header .ui-state-hover, .redux-container .ui-state-focus, .control-section-redux .ui-state-focus, .control-panel-redux .ui-state-focus, .redux-metabox .ui-state-focus, .redux-container .ui-widget-content .ui-state-focus, .control-section-redux .ui-widget-content .ui-state-focus, .control-panel-redux .ui-widget-content .ui-state-focus, .redux-metabox .ui-widget-content .ui-state-focus, .redux-container .ui-widget-header .ui-state-focus, .control-section-redux .ui-widget-header .ui-state-focus, .control-panel-redux .ui-widget-header .ui-state-focus, .redux-metabox .ui-widget-header .ui-state-focus {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.redux-container .ui-state-hover a, .control-section-redux .ui-state-hover a, .control-panel-redux .ui-state-hover a, .redux-metabox .ui-state-hover a, .redux-container .ui-state-hover a:hover, .control-section-redux .ui-state-hover a:hover, .control-panel-redux .ui-state-hover a:hover, .redux-metabox .ui-state-hover a:hover, .redux-container .ui-state-hover a:link, .control-section-redux .ui-state-hover a:link, .control-panel-redux .ui-state-hover a:link, .redux-metabox .ui-state-hover a:link, .redux-container .ui-state-hover a:visited, .control-section-redux .ui-state-hover a:visited, .control-panel-redux .ui-state-hover a:visited, .redux-metabox .ui-state-hover a:visited {
  color: #212121;
  text-decoration: none;
}
.redux-container .ui-state-active, .control-section-redux .ui-state-active, .control-panel-redux .ui-state-active, .redux-metabox .ui-state-active, .redux-container .ui-widget-content .ui-state-active, .control-section-redux .ui-widget-content .ui-state-active, .control-panel-redux .ui-widget-content .ui-state-active, .redux-metabox .ui-widget-content .ui-state-active, .redux-container .ui-widget-header .ui-state-active, .control-section-redux .ui-widget-header .ui-state-active, .control-panel-redux .ui-widget-header .ui-state-active, .redux-metabox .ui-widget-header .ui-state-active {
  border: 1px solid #aaa;
  font-weight: normal;
  color: #212121;
}
.redux-container .ui-state-active a, .control-section-redux .ui-state-active a, .control-panel-redux .ui-state-active a, .redux-metabox .ui-state-active a, .redux-container .ui-state-active a:link, .control-section-redux .ui-state-active a:link, .control-panel-redux .ui-state-active a:link, .redux-metabox .ui-state-active a:link, .redux-container .ui-state-active a:visited, .control-section-redux .ui-state-active a:visited, .control-panel-redux .ui-state-active a:visited, .redux-metabox .ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}
.redux-container .ui-widget :active, .control-section-redux .ui-widget :active, .control-panel-redux .ui-widget :active, .redux-metabox .ui-widget :active {
  outline: none;
}
.redux-container .ui-state-highlight p, .control-section-redux .ui-state-highlight p, .control-panel-redux .ui-state-highlight p, .redux-metabox .ui-state-highlight p, .redux-container .ui-state-error p, .control-section-redux .ui-state-error p, .control-panel-redux .ui-state-error p, .redux-metabox .ui-state-error p, .redux-container .ui-state-default p, .control-section-redux .ui-state-default p, .control-panel-redux .ui-state-default p, .redux-metabox .ui-state-default p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin: 7px 15px;
}
.redux-container .ui-state-highlight, .control-section-redux .ui-state-highlight, .control-panel-redux .ui-state-highlight, .redux-metabox .ui-state-highlight, .redux-container .ui-widget-content .ui-state-highlight, .control-section-redux .ui-widget-content .ui-state-highlight, .control-panel-redux .ui-widget-content .ui-state-highlight, .redux-metabox .ui-widget-content .ui-state-highlight, .redux-container .ui-widget-header .ui-state-highlight, .control-section-redux .ui-widget-header .ui-state-highlight, .control-panel-redux .ui-widget-header .ui-state-highlight, .redux-metabox .ui-widget-header .ui-state-highlight {
  position: relative;
  margin-bottom: 18px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
}
.redux-container .ui-state-highlight a, .control-section-redux .ui-state-highlight a, .control-panel-redux .ui-state-highlight a, .redux-metabox .ui-state-highlight a, .redux-container .ui-widget-content .ui-state-highlight a, .control-section-redux .ui-widget-content .ui-state-highlight a, .control-panel-redux .ui-widget-content .ui-state-highlight a, .redux-metabox .ui-widget-content .ui-state-highlight a, .redux-container .ui-widget-header .ui-state-highlight a, .control-section-redux .ui-widget-header .ui-state-highlight a, .control-panel-redux .ui-widget-header .ui-state-highlight a, .redux-metabox .ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.redux-container .ui-state-error, .control-section-redux .ui-state-error, .control-panel-redux .ui-state-error, .redux-metabox .ui-state-error, .redux-container .ui-widget-content .ui-state-error, .control-section-redux .ui-widget-content .ui-state-error, .control-panel-redux .ui-widget-content .ui-state-error, .redux-metabox .ui-widget-content .ui-state-error, .redux-container .ui-widget-header .ui-state-error, .control-section-redux .ui-widget-header .ui-state-error, .control-panel-redux .ui-widget-header .ui-state-error, .redux-metabox .ui-widget-header .ui-state-error {
  position: relative;
  margin-bottom: 18px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.redux-container .ui-state-error a, .control-section-redux .ui-state-error a, .control-panel-redux .ui-state-error a, .redux-metabox .ui-state-error a, .redux-container .ui-widget-content .ui-state-error a, .control-section-redux .ui-widget-content .ui-state-error a, .control-panel-redux .ui-widget-content .ui-state-error a, .redux-metabox .ui-widget-content .ui-state-error a, .redux-container .ui-widget-header .ui-state-error a, .control-section-redux .ui-widget-header .ui-state-error a, .control-panel-redux .ui-widget-header .ui-state-error a, .redux-metabox .ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
.redux-container .ui-state-error-text, .control-section-redux .ui-state-error-text, .control-panel-redux .ui-state-error-text, .redux-metabox .ui-state-error-text, .redux-container .ui-widget-content .ui-state-error-text, .control-section-redux .ui-widget-content .ui-state-error-text, .control-panel-redux .ui-widget-content .ui-state-error-text, .redux-metabox .ui-widget-content .ui-state-error-text, .redux-container .ui-widget-header .ui-state-error-text, .control-section-redux .ui-widget-header .ui-state-error-text, .control-panel-redux .ui-widget-header .ui-state-error-text, .redux-metabox .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
.redux-container .ui-priority-primary, .control-section-redux .ui-priority-primary, .control-panel-redux .ui-priority-primary, .redux-metabox .ui-priority-primary, .redux-container .ui-widget-content .ui-priority-primary, .control-section-redux .ui-widget-content .ui-priority-primary, .control-panel-redux .ui-widget-content .ui-priority-primary, .redux-metabox .ui-widget-content .ui-priority-primary, .redux-container .ui-widget-header .ui-priority-primary, .control-section-redux .ui-widget-header .ui-priority-primary, .control-panel-redux .ui-widget-header .ui-priority-primary, .redux-metabox .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.redux-container .ui-priority-secondary, .control-section-redux .ui-priority-secondary, .control-panel-redux .ui-priority-secondary, .redux-metabox .ui-priority-secondary, .redux-container .ui-widget-content .ui-priority-secondary, .control-section-redux .ui-widget-content .ui-priority-secondary, .control-panel-redux .ui-widget-content .ui-priority-secondary, .redux-metabox .ui-widget-content .ui-priority-secondary, .redux-container .ui-widget-header .ui-priority-secondary, .control-section-redux .ui-widget-header .ui-priority-secondary, .control-panel-redux .ui-widget-header .ui-priority-secondary, .redux-metabox .ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}
.redux-container .ui-state-disabled, .control-section-redux .ui-state-disabled, .control-panel-redux .ui-state-disabled, .redux-metabox .ui-state-disabled, .redux-container .ui-widget-content .ui-state-disabled, .control-section-redux .ui-widget-content .ui-state-disabled, .control-panel-redux .ui-widget-content .ui-state-disabled, .redux-metabox .ui-widget-content .ui-state-disabled, .redux-container .ui-widget-header .ui-state-disabled, .control-section-redux .ui-widget-header .ui-state-disabled, .control-panel-redux .ui-widget-header .ui-state-disabled, .redux-metabox .ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
}
.redux-container .ui-state-disabled .ui-icon, .control-section-redux .ui-state-disabled .ui-icon, .control-panel-redux .ui-state-disabled .ui-icon, .redux-metabox .ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
}
.redux-container .ui-icon, .control-section-redux .ui-icon, .control-panel-redux .ui-icon, .redux-metabox .ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(../images/jquery-ui/ui-icons_222222_256x240.png);
}
.redux-container .ui-widget-content .ui-icon, .control-section-redux .ui-widget-content .ui-icon, .control-panel-redux .ui-widget-content .ui-icon, .redux-metabox .ui-widget-content .ui-icon {
  background-image: url(../images/jquery-ui/ui-icons_222222_256x240.png);
}
.redux-container .ui-widget-header .ui-icon, .control-section-redux .ui-widget-header .ui-icon, .control-panel-redux .ui-widget-header .ui-icon, .redux-metabox .ui-widget-header .ui-icon {
  background-image: url(../images/jquery-ui/ui-icons_222222_256x240.png);
}
.redux-container .ui-state-default .ui-icon, .control-section-redux .ui-state-default .ui-icon, .control-panel-redux .ui-state-default .ui-icon, .redux-metabox .ui-state-default .ui-icon {
  background-image: url(../images/jquery-ui/ui-icons_888888_256x240.png);
}
.redux-container .ui-state-hover .ui-icon, .control-section-redux .ui-state-hover .ui-icon, .control-panel-redux .ui-state-hover .ui-icon, .redux-metabox .ui-state-hover .ui-icon, .redux-container .ui-state-focus .ui-icon, .control-section-redux .ui-state-focus .ui-icon, .control-panel-redux .ui-state-focus .ui-icon, .redux-metabox .ui-state-focus .ui-icon {
  background-image: url(../images/jquery-ui/ui-icons_454545_256x240.png);
}
.redux-container .ui-state-active .ui-icon, .control-section-redux .ui-state-active .ui-icon, .control-panel-redux .ui-state-active .ui-icon, .redux-metabox .ui-state-active .ui-icon {
  background-image: url(../images/jquery-ui/ui-icons_454545_256x240.png);
}
.redux-container .ui-state-highlight .ui-icon, .control-section-redux .ui-state-highlight .ui-icon, .control-panel-redux .ui-state-highlight .ui-icon, .redux-metabox .ui-state-highlight .ui-icon {
  background-image: url(../images/jquery-ui/ui-icons_2e83ff_256x240.png);
}
.redux-container .ui-state-error .ui-icon, .control-section-redux .ui-state-error .ui-icon, .control-panel-redux .ui-state-error .ui-icon, .redux-metabox .ui-state-error .ui-icon, .redux-container .ui-state-error-text .ui-icon, .control-section-redux .ui-state-error-text .ui-icon, .control-panel-redux .ui-state-error-text .ui-icon, .redux-metabox .ui-state-error-text .ui-icon {
  background-image: url(../images/jquery-ui/ui-icons_f6cf3b_256x240.png);
}
.redux-container .ui-icon-carat-1-n, .control-section-redux .ui-icon-carat-1-n, .control-panel-redux .ui-icon-carat-1-n, .redux-metabox .ui-icon-carat-1-n {
  background-position: 0 0;
}
.redux-container .ui-icon-carat-1-ne, .control-section-redux .ui-icon-carat-1-ne, .control-panel-redux .ui-icon-carat-1-ne, .redux-metabox .ui-icon-carat-1-ne {
  background-position: -16px 0;
}
.redux-container .ui-icon-carat-1-e, .control-section-redux .ui-icon-carat-1-e, .control-panel-redux .ui-icon-carat-1-e, .redux-metabox .ui-icon-carat-1-e {
  background-position: -32px 0;
}
.redux-container .ui-icon-carat-1-se, .control-section-redux .ui-icon-carat-1-se, .control-panel-redux .ui-icon-carat-1-se, .redux-metabox .ui-icon-carat-1-se {
  background-position: -48px 0;
}
.redux-container .ui-icon-carat-1-s, .control-section-redux .ui-icon-carat-1-s, .control-panel-redux .ui-icon-carat-1-s, .redux-metabox .ui-icon-carat-1-s {
  background-position: -64px 0;
}
.redux-container .ui-icon-carat-1-sw, .control-section-redux .ui-icon-carat-1-sw, .control-panel-redux .ui-icon-carat-1-sw, .redux-metabox .ui-icon-carat-1-sw {
  background-position: -80px 0;
}
.redux-container .ui-icon-carat-1-w, .control-section-redux .ui-icon-carat-1-w, .control-panel-redux .ui-icon-carat-1-w, .redux-metabox .ui-icon-carat-1-w {
  background-position: -96px 0;
}
.redux-container .ui-icon-carat-1-nw, .control-section-redux .ui-icon-carat-1-nw, .control-panel-redux .ui-icon-carat-1-nw, .redux-metabox .ui-icon-carat-1-nw {
  background-position: -112px 0;
}
.redux-container .ui-icon-carat-2-n-s, .control-section-redux .ui-icon-carat-2-n-s, .control-panel-redux .ui-icon-carat-2-n-s, .redux-metabox .ui-icon-carat-2-n-s {
  background-position: -128px 0;
}
.redux-container .ui-icon-carat-2-e-w, .control-section-redux .ui-icon-carat-2-e-w, .control-panel-redux .ui-icon-carat-2-e-w, .redux-metabox .ui-icon-carat-2-e-w {
  background-position: -144px 0;
}
.redux-container .ui-icon-triangle-1-n, .control-section-redux .ui-icon-triangle-1-n, .control-panel-redux .ui-icon-triangle-1-n, .redux-metabox .ui-icon-triangle-1-n {
  background-position: 0 -16px;
}
.redux-container .ui-icon-triangle-1-ne, .control-section-redux .ui-icon-triangle-1-ne, .control-panel-redux .ui-icon-triangle-1-ne, .redux-metabox .ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}
.redux-container .ui-icon-triangle-1-e, .control-section-redux .ui-icon-triangle-1-e, .control-panel-redux .ui-icon-triangle-1-e, .redux-metabox .ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.redux-container .ui-icon-triangle-1-se, .control-section-redux .ui-icon-triangle-1-se, .control-panel-redux .ui-icon-triangle-1-se, .redux-metabox .ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
.redux-container .ui-icon-triangle-1-s, .control-section-redux .ui-icon-triangle-1-s, .control-panel-redux .ui-icon-triangle-1-s, .redux-metabox .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}
.redux-container .ui-icon-triangle-1-sw, .control-section-redux .ui-icon-triangle-1-sw, .control-panel-redux .ui-icon-triangle-1-sw, .redux-metabox .ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}
.redux-container .ui-icon-triangle-1-w, .control-section-redux .ui-icon-triangle-1-w, .control-panel-redux .ui-icon-triangle-1-w, .redux-metabox .ui-icon-triangle-1-w {
  background-position: -96px -16px;
}
.redux-container .ui-icon-triangle-1-nw, .control-section-redux .ui-icon-triangle-1-nw, .control-panel-redux .ui-icon-triangle-1-nw, .redux-metabox .ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}
.redux-container .ui-icon-triangle-2-n-s, .control-section-redux .ui-icon-triangle-2-n-s, .control-panel-redux .ui-icon-triangle-2-n-s, .redux-metabox .ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}
.redux-container .ui-icon-triangle-2-e-w, .control-section-redux .ui-icon-triangle-2-e-w, .control-panel-redux .ui-icon-triangle-2-e-w, .redux-metabox .ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}
.redux-container .ui-icon-arrow-1-n, .control-section-redux .ui-icon-arrow-1-n, .control-panel-redux .ui-icon-arrow-1-n, .redux-metabox .ui-icon-arrow-1-n {
  background-position: 0 -32px;
}
.redux-container .ui-icon-arrow-1-ne, .control-section-redux .ui-icon-arrow-1-ne, .control-panel-redux .ui-icon-arrow-1-ne, .redux-metabox .ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}
.redux-container .ui-icon-arrow-1-e, .control-section-redux .ui-icon-arrow-1-e, .control-panel-redux .ui-icon-arrow-1-e, .redux-metabox .ui-icon-arrow-1-e {
  background-position: -32px -32px;
}
.redux-container .ui-icon-arrow-1-se, .control-section-redux .ui-icon-arrow-1-se, .control-panel-redux .ui-icon-arrow-1-se, .redux-metabox .ui-icon-arrow-1-se {
  background-position: -48px -32px;
}
.redux-container .ui-icon-arrow-1-s, .control-section-redux .ui-icon-arrow-1-s, .control-panel-redux .ui-icon-arrow-1-s, .redux-metabox .ui-icon-arrow-1-s {
  background-position: -64px -32px;
}
.redux-container .ui-icon-arrow-1-sw, .control-section-redux .ui-icon-arrow-1-sw, .control-panel-redux .ui-icon-arrow-1-sw, .redux-metabox .ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}
.redux-container .ui-icon-arrow-1-w, .control-section-redux .ui-icon-arrow-1-w, .control-panel-redux .ui-icon-arrow-1-w, .redux-metabox .ui-icon-arrow-1-w {
  background-position: -96px -32px;
}
.redux-container .ui-icon-arrow-1-nw, .control-section-redux .ui-icon-arrow-1-nw, .control-panel-redux .ui-icon-arrow-1-nw, .redux-metabox .ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}
.redux-container .ui-icon-arrow-2-n-s, .control-section-redux .ui-icon-arrow-2-n-s, .control-panel-redux .ui-icon-arrow-2-n-s, .redux-metabox .ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}
.redux-container .ui-icon-arrow-2-ne-sw, .control-section-redux .ui-icon-arrow-2-ne-sw, .control-panel-redux .ui-icon-arrow-2-ne-sw, .redux-metabox .ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}
.redux-container .ui-icon-arrow-2-e-w, .control-section-redux .ui-icon-arrow-2-e-w, .control-panel-redux .ui-icon-arrow-2-e-w, .redux-metabox .ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}
.redux-container .ui-icon-arrow-2-se-nw, .control-section-redux .ui-icon-arrow-2-se-nw, .control-panel-redux .ui-icon-arrow-2-se-nw, .redux-metabox .ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}
.redux-container .ui-icon-arrowstop-1-n, .control-section-redux .ui-icon-arrowstop-1-n, .control-panel-redux .ui-icon-arrowstop-1-n, .redux-metabox .ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}
.redux-container .ui-icon-arrowstop-1-e, .control-section-redux .ui-icon-arrowstop-1-e, .control-panel-redux .ui-icon-arrowstop-1-e, .redux-metabox .ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}
.redux-container .ui-icon-arrowstop-1-s, .control-section-redux .ui-icon-arrowstop-1-s, .control-panel-redux .ui-icon-arrowstop-1-s, .redux-metabox .ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}
.redux-container .ui-icon-arrowstop-1-w, .control-section-redux .ui-icon-arrowstop-1-w, .control-panel-redux .ui-icon-arrowstop-1-w, .redux-metabox .ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}
.redux-container .ui-icon-arrowthick-1-n, .control-section-redux .ui-icon-arrowthick-1-n, .control-panel-redux .ui-icon-arrowthick-1-n, .redux-metabox .ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}
.redux-container .ui-icon-arrowthick-1-ne, .control-section-redux .ui-icon-arrowthick-1-ne, .control-panel-redux .ui-icon-arrowthick-1-ne, .redux-metabox .ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}
.redux-container .ui-icon-arrowthick-1-e, .control-section-redux .ui-icon-arrowthick-1-e, .control-panel-redux .ui-icon-arrowthick-1-e, .redux-metabox .ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}
.redux-container .ui-icon-arrowthick-1-se, .control-section-redux .ui-icon-arrowthick-1-se, .control-panel-redux .ui-icon-arrowthick-1-se, .redux-metabox .ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}
.redux-container .ui-icon-arrowthick-1-s, .control-section-redux .ui-icon-arrowthick-1-s, .control-panel-redux .ui-icon-arrowthick-1-s, .redux-metabox .ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}
.redux-container .ui-icon-arrowthick-1-sw, .control-section-redux .ui-icon-arrowthick-1-sw, .control-panel-redux .ui-icon-arrowthick-1-sw, .redux-metabox .ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}
.redux-container .ui-icon-arrowthick-1-w, .control-section-redux .ui-icon-arrowthick-1-w, .control-panel-redux .ui-icon-arrowthick-1-w, .redux-metabox .ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}
.redux-container .ui-icon-arrowthick-1-nw, .control-section-redux .ui-icon-arrowthick-1-nw, .control-panel-redux .ui-icon-arrowthick-1-nw, .redux-metabox .ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}
.redux-container .ui-icon-arrowthick-2-n-s, .control-section-redux .ui-icon-arrowthick-2-n-s, .control-panel-redux .ui-icon-arrowthick-2-n-s, .redux-metabox .ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}
.redux-container .ui-icon-arrowthick-2-ne-sw, .control-section-redux .ui-icon-arrowthick-2-ne-sw, .control-panel-redux .ui-icon-arrowthick-2-ne-sw, .redux-metabox .ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}
.redux-container .ui-icon-arrowthick-2-e-w, .control-section-redux .ui-icon-arrowthick-2-e-w, .control-panel-redux .ui-icon-arrowthick-2-e-w, .redux-metabox .ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}
.redux-container .ui-icon-arrowthick-2-se-nw, .control-section-redux .ui-icon-arrowthick-2-se-nw, .control-panel-redux .ui-icon-arrowthick-2-se-nw, .redux-metabox .ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}
.redux-container .ui-icon-arrowthickstop-1-n, .control-section-redux .ui-icon-arrowthickstop-1-n, .control-panel-redux .ui-icon-arrowthickstop-1-n, .redux-metabox .ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}
.redux-container .ui-icon-arrowthickstop-1-e, .control-section-redux .ui-icon-arrowthickstop-1-e, .control-panel-redux .ui-icon-arrowthickstop-1-e, .redux-metabox .ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}
.redux-container .ui-icon-arrowthickstop-1-s, .control-section-redux .ui-icon-arrowthickstop-1-s, .control-panel-redux .ui-icon-arrowthickstop-1-s, .redux-metabox .ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}
.redux-container .ui-icon-arrowthickstop-1-w, .control-section-redux .ui-icon-arrowthickstop-1-w, .control-panel-redux .ui-icon-arrowthickstop-1-w, .redux-metabox .ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}
.redux-container .ui-icon-arrowreturnthick-1-w, .control-section-redux .ui-icon-arrowreturnthick-1-w, .control-panel-redux .ui-icon-arrowreturnthick-1-w, .redux-metabox .ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}
.redux-container .ui-icon-arrowreturnthick-1-n, .control-section-redux .ui-icon-arrowreturnthick-1-n, .control-panel-redux .ui-icon-arrowreturnthick-1-n, .redux-metabox .ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}
.redux-container .ui-icon-arrowreturnthick-1-e, .control-section-redux .ui-icon-arrowreturnthick-1-e, .control-panel-redux .ui-icon-arrowreturnthick-1-e, .redux-metabox .ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}
.redux-container .ui-icon-arrowreturnthick-1-s, .control-section-redux .ui-icon-arrowreturnthick-1-s, .control-panel-redux .ui-icon-arrowreturnthick-1-s, .redux-metabox .ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}
.redux-container .ui-icon-arrowreturn-1-w, .control-section-redux .ui-icon-arrowreturn-1-w, .control-panel-redux .ui-icon-arrowreturn-1-w, .redux-metabox .ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}
.redux-container .ui-icon-arrowreturn-1-n, .control-section-redux .ui-icon-arrowreturn-1-n, .control-panel-redux .ui-icon-arrowreturn-1-n, .redux-metabox .ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}
.redux-container .ui-icon-arrowreturn-1-e, .control-section-redux .ui-icon-arrowreturn-1-e, .control-panel-redux .ui-icon-arrowreturn-1-e, .redux-metabox .ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}
.redux-container .ui-icon-arrowreturn-1-s, .control-section-redux .ui-icon-arrowreturn-1-s, .control-panel-redux .ui-icon-arrowreturn-1-s, .redux-metabox .ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}
.redux-container .ui-icon-arrowrefresh-1-w, .control-section-redux .ui-icon-arrowrefresh-1-w, .control-panel-redux .ui-icon-arrowrefresh-1-w, .redux-metabox .ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}
.redux-container .ui-icon-arrowrefresh-1-n, .control-section-redux .ui-icon-arrowrefresh-1-n, .control-panel-redux .ui-icon-arrowrefresh-1-n, .redux-metabox .ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}
.redux-container .ui-icon-arrowrefresh-1-e, .control-section-redux .ui-icon-arrowrefresh-1-e, .control-panel-redux .ui-icon-arrowrefresh-1-e, .redux-metabox .ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}
.redux-container .ui-icon-arrowrefresh-1-s, .control-section-redux .ui-icon-arrowrefresh-1-s, .control-panel-redux .ui-icon-arrowrefresh-1-s, .redux-metabox .ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}
.redux-container .ui-icon-arrow-4, .control-section-redux .ui-icon-arrow-4, .control-panel-redux .ui-icon-arrow-4, .redux-metabox .ui-icon-arrow-4 {
  background-position: 0 -80px;
}
.redux-container .ui-icon-arrow-4-diag, .control-section-redux .ui-icon-arrow-4-diag, .control-panel-redux .ui-icon-arrow-4-diag, .redux-metabox .ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}
.redux-container .ui-icon-extlink, .control-section-redux .ui-icon-extlink, .control-panel-redux .ui-icon-extlink, .redux-metabox .ui-icon-extlink {
  background-position: -32px -80px;
}
.redux-container .ui-icon-newwin, .control-section-redux .ui-icon-newwin, .control-panel-redux .ui-icon-newwin, .redux-metabox .ui-icon-newwin {
  background-position: -48px -80px;
}
.redux-container .ui-icon-refresh, .control-section-redux .ui-icon-refresh, .control-panel-redux .ui-icon-refresh, .redux-metabox .ui-icon-refresh {
  background-position: -64px -80px;
}
.redux-container .ui-icon-shuffle, .control-section-redux .ui-icon-shuffle, .control-panel-redux .ui-icon-shuffle, .redux-metabox .ui-icon-shuffle {
  background-position: -80px -80px;
}
.redux-container .ui-icon-transfer-e-w, .control-section-redux .ui-icon-transfer-e-w, .control-panel-redux .ui-icon-transfer-e-w, .redux-metabox .ui-icon-transfer-e-w {
  background-position: -96px -80px;
}
.redux-container .ui-icon-transferthick-e-w, .control-section-redux .ui-icon-transferthick-e-w, .control-panel-redux .ui-icon-transferthick-e-w, .redux-metabox .ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}
.redux-container .ui-icon-folder-collapsed, .control-section-redux .ui-icon-folder-collapsed, .control-panel-redux .ui-icon-folder-collapsed, .redux-metabox .ui-icon-folder-collapsed {
  background-position: 0 -96px;
}
.redux-container .ui-icon-folder-open, .control-section-redux .ui-icon-folder-open, .control-panel-redux .ui-icon-folder-open, .redux-metabox .ui-icon-folder-open {
  background-position: -16px -96px;
}
.redux-container .ui-icon-document, .control-section-redux .ui-icon-document, .control-panel-redux .ui-icon-document, .redux-metabox .ui-icon-document {
  background-position: -32px -96px;
}
.redux-container .ui-icon-document-b, .control-section-redux .ui-icon-document-b, .control-panel-redux .ui-icon-document-b, .redux-metabox .ui-icon-document-b {
  background-position: -48px -96px;
}
.redux-container .ui-icon-note, .control-section-redux .ui-icon-note, .control-panel-redux .ui-icon-note, .redux-metabox .ui-icon-note {
  background-position: -64px -96px;
}
.redux-container .ui-icon-mail-closed, .control-section-redux .ui-icon-mail-closed, .control-panel-redux .ui-icon-mail-closed, .redux-metabox .ui-icon-mail-closed {
  background-position: -80px -96px;
}
.redux-container .ui-icon-mail-open, .control-section-redux .ui-icon-mail-open, .control-panel-redux .ui-icon-mail-open, .redux-metabox .ui-icon-mail-open {
  background-position: -96px -96px;
}
.redux-container .ui-icon-suitcase, .control-section-redux .ui-icon-suitcase, .control-panel-redux .ui-icon-suitcase, .redux-metabox .ui-icon-suitcase {
  background-position: -112px -96px;
}
.redux-container .ui-icon-comment, .control-section-redux .ui-icon-comment, .control-panel-redux .ui-icon-comment, .redux-metabox .ui-icon-comment {
  background-position: -128px -96px;
}
.redux-container .ui-icon-person, .control-section-redux .ui-icon-person, .control-panel-redux .ui-icon-person, .redux-metabox .ui-icon-person {
  background-position: -144px -96px;
}
.redux-container .ui-icon-print, .control-section-redux .ui-icon-print, .control-panel-redux .ui-icon-print, .redux-metabox .ui-icon-print {
  background-position: -160px -96px;
}
.redux-container .ui-icon-trash, .control-section-redux .ui-icon-trash, .control-panel-redux .ui-icon-trash, .redux-metabox .ui-icon-trash {
  background-position: -176px -96px;
}
.redux-container .ui-icon-locked, .control-section-redux .ui-icon-locked, .control-panel-redux .ui-icon-locked, .redux-metabox .ui-icon-locked {
  background-position: -192px -96px;
}
.redux-container .ui-icon-unlocked, .control-section-redux .ui-icon-unlocked, .control-panel-redux .ui-icon-unlocked, .redux-metabox .ui-icon-unlocked {
  background-position: -208px -96px;
}
.redux-container .ui-icon-bookmark, .control-section-redux .ui-icon-bookmark, .control-panel-redux .ui-icon-bookmark, .redux-metabox .ui-icon-bookmark {
  background-position: -224px -96px;
}
.redux-container .ui-icon-tag, .control-section-redux .ui-icon-tag, .control-panel-redux .ui-icon-tag, .redux-metabox .ui-icon-tag {
  background-position: -240px -96px;
}
.redux-container .ui-icon-home, .control-section-redux .ui-icon-home, .control-panel-redux .ui-icon-home, .redux-metabox .ui-icon-home {
  background-position: 0 -112px;
}
.redux-container .ui-icon-flag, .control-section-redux .ui-icon-flag, .control-panel-redux .ui-icon-flag, .redux-metabox .ui-icon-flag {
  background-position: -16px -112px;
}
.redux-container .ui-icon-calendar, .control-section-redux .ui-icon-calendar, .control-panel-redux .ui-icon-calendar, .redux-metabox .ui-icon-calendar {
  background-position: -32px -112px;
}
.redux-container .ui-icon-cart, .control-section-redux .ui-icon-cart, .control-panel-redux .ui-icon-cart, .redux-metabox .ui-icon-cart {
  background-position: -48px -112px;
}
.redux-container .ui-icon-pencil, .control-section-redux .ui-icon-pencil, .control-panel-redux .ui-icon-pencil, .redux-metabox .ui-icon-pencil {
  background-position: -64px -112px;
}
.redux-container .ui-icon-clock, .control-section-redux .ui-icon-clock, .control-panel-redux .ui-icon-clock, .redux-metabox .ui-icon-clock {
  background-position: -80px -112px;
}
.redux-container .ui-icon-disk, .control-section-redux .ui-icon-disk, .control-panel-redux .ui-icon-disk, .redux-metabox .ui-icon-disk {
  background-position: -96px -112px;
}
.redux-container .ui-icon-calculator, .control-section-redux .ui-icon-calculator, .control-panel-redux .ui-icon-calculator, .redux-metabox .ui-icon-calculator {
  background-position: -112px -112px;
}
.redux-container .ui-icon-zoomin, .control-section-redux .ui-icon-zoomin, .control-panel-redux .ui-icon-zoomin, .redux-metabox .ui-icon-zoomin {
  background-position: -128px -112px;
}
.redux-container .ui-icon-zoomout, .control-section-redux .ui-icon-zoomout, .control-panel-redux .ui-icon-zoomout, .redux-metabox .ui-icon-zoomout {
  background-position: -144px -112px;
}
.redux-container .ui-icon-search, .control-section-redux .ui-icon-search, .control-panel-redux .ui-icon-search, .redux-metabox .ui-icon-search {
  background-position: -160px -112px;
}
.redux-container .ui-icon-wrench, .control-section-redux .ui-icon-wrench, .control-panel-redux .ui-icon-wrench, .redux-metabox .ui-icon-wrench {
  background-position: -176px -112px;
}
.redux-container .ui-icon-gear, .control-section-redux .ui-icon-gear, .control-panel-redux .ui-icon-gear, .redux-metabox .ui-icon-gear {
  background-position: -192px -112px;
}
.redux-container .ui-icon-heart, .control-section-redux .ui-icon-heart, .control-panel-redux .ui-icon-heart, .redux-metabox .ui-icon-heart {
  background-position: -208px -112px;
}
.redux-container .ui-icon-star, .control-section-redux .ui-icon-star, .control-panel-redux .ui-icon-star, .redux-metabox .ui-icon-star {
  background-position: -224px -112px;
}
.redux-container .ui-icon-link, .control-section-redux .ui-icon-link, .control-panel-redux .ui-icon-link, .redux-metabox .ui-icon-link {
  background-position: -240px -112px;
}
.redux-container .ui-icon-cancel, .control-section-redux .ui-icon-cancel, .control-panel-redux .ui-icon-cancel, .redux-metabox .ui-icon-cancel {
  background-position: 0 -128px;
}
.redux-container .ui-icon-plus, .control-section-redux .ui-icon-plus, .control-panel-redux .ui-icon-plus, .redux-metabox .ui-icon-plus {
  background-position: -16px -128px;
}
.redux-container .ui-icon-plusthick, .control-section-redux .ui-icon-plusthick, .control-panel-redux .ui-icon-plusthick, .redux-metabox .ui-icon-plusthick {
  background-position: -32px -128px;
}
.redux-container .ui-icon-minus, .control-section-redux .ui-icon-minus, .control-panel-redux .ui-icon-minus, .redux-metabox .ui-icon-minus {
  background-position: -48px -128px;
}
.redux-container .ui-icon-minusthick, .control-section-redux .ui-icon-minusthick, .control-panel-redux .ui-icon-minusthick, .redux-metabox .ui-icon-minusthick {
  background-position: -64px -128px;
}
.redux-container .ui-icon-close, .control-section-redux .ui-icon-close, .control-panel-redux .ui-icon-close, .redux-metabox .ui-icon-close {
  background-position: -80px -128px;
}
.redux-container .ui-icon-closethick, .control-section-redux .ui-icon-closethick, .control-panel-redux .ui-icon-closethick, .redux-metabox .ui-icon-closethick {
  background-position: -96px -128px;
}
.redux-container .ui-icon-key, .control-section-redux .ui-icon-key, .control-panel-redux .ui-icon-key, .redux-metabox .ui-icon-key {
  background-position: -112px -128px;
}
.redux-container .ui-icon-lightbulb, .control-section-redux .ui-icon-lightbulb, .control-panel-redux .ui-icon-lightbulb, .redux-metabox .ui-icon-lightbulb {
  background-position: -128px -128px;
}
.redux-container .ui-icon-scissors, .control-section-redux .ui-icon-scissors, .control-panel-redux .ui-icon-scissors, .redux-metabox .ui-icon-scissors {
  background-position: -144px -128px;
}
.redux-container .ui-icon-clipboard, .control-section-redux .ui-icon-clipboard, .control-panel-redux .ui-icon-clipboard, .redux-metabox .ui-icon-clipboard {
  background-position: -160px -128px;
}
.redux-container .ui-icon-copy, .control-section-redux .ui-icon-copy, .control-panel-redux .ui-icon-copy, .redux-metabox .ui-icon-copy {
  background-position: -176px -128px;
}
.redux-container .ui-icon-contact, .control-section-redux .ui-icon-contact, .control-panel-redux .ui-icon-contact, .redux-metabox .ui-icon-contact {
  background-position: -192px -128px;
}
.redux-container .ui-icon-image, .control-section-redux .ui-icon-image, .control-panel-redux .ui-icon-image, .redux-metabox .ui-icon-image {
  background-position: -208px -128px;
}
.redux-container .ui-icon-video, .control-section-redux .ui-icon-video, .control-panel-redux .ui-icon-video, .redux-metabox .ui-icon-video {
  background-position: -224px -128px;
}
.redux-container .ui-icon-script, .control-section-redux .ui-icon-script, .control-panel-redux .ui-icon-script, .redux-metabox .ui-icon-script {
  background-position: -240px -128px;
}
.redux-container .ui-icon-alert, .control-section-redux .ui-icon-alert, .control-panel-redux .ui-icon-alert, .redux-metabox .ui-icon-alert {
  background-position: 0 -144px;
}
.redux-container .ui-icon-info, .control-section-redux .ui-icon-info, .control-panel-redux .ui-icon-info, .redux-metabox .ui-icon-info {
  background-position: -16px -144px;
}
.redux-container .ui-icon-notice, .control-section-redux .ui-icon-notice, .control-panel-redux .ui-icon-notice, .redux-metabox .ui-icon-notice {
  background-position: -32px -144px;
}
.redux-container .ui-icon-help, .control-section-redux .ui-icon-help, .control-panel-redux .ui-icon-help, .redux-metabox .ui-icon-help {
  background-position: -48px -144px;
}
.redux-container .ui-icon-check, .control-section-redux .ui-icon-check, .control-panel-redux .ui-icon-check, .redux-metabox .ui-icon-check {
  background-position: -64px -144px;
}
.redux-container .ui-icon-bullet, .control-section-redux .ui-icon-bullet, .control-panel-redux .ui-icon-bullet, .redux-metabox .ui-icon-bullet {
  background-position: -80px -144px;
}
.redux-container .ui-icon-radio-off, .control-section-redux .ui-icon-radio-off, .control-panel-redux .ui-icon-radio-off, .redux-metabox .ui-icon-radio-off {
  background-position: -96px -144px;
}
.redux-container .ui-icon-radio-on, .control-section-redux .ui-icon-radio-on, .control-panel-redux .ui-icon-radio-on, .redux-metabox .ui-icon-radio-on {
  background-position: -112px -144px;
}
.redux-container .ui-icon-pin-w, .control-section-redux .ui-icon-pin-w, .control-panel-redux .ui-icon-pin-w, .redux-metabox .ui-icon-pin-w {
  background-position: -128px -144px;
}
.redux-container .ui-icon-pin-s, .control-section-redux .ui-icon-pin-s, .control-panel-redux .ui-icon-pin-s, .redux-metabox .ui-icon-pin-s {
  background-position: -144px -144px;
}
.redux-container .ui-icon-play, .control-section-redux .ui-icon-play, .control-panel-redux .ui-icon-play, .redux-metabox .ui-icon-play {
  background-position: 0 -160px;
}
.redux-container .ui-icon-pause, .control-section-redux .ui-icon-pause, .control-panel-redux .ui-icon-pause, .redux-metabox .ui-icon-pause {
  background-position: -16px -160px;
}
.redux-container .ui-icon-seek-next, .control-section-redux .ui-icon-seek-next, .control-panel-redux .ui-icon-seek-next, .redux-metabox .ui-icon-seek-next {
  background-position: -32px -160px;
}
.redux-container .ui-icon-seek-prev, .control-section-redux .ui-icon-seek-prev, .control-panel-redux .ui-icon-seek-prev, .redux-metabox .ui-icon-seek-prev {
  background-position: -48px -160px;
}
.redux-container .ui-icon-seek-end, .control-section-redux .ui-icon-seek-end, .control-panel-redux .ui-icon-seek-end, .redux-metabox .ui-icon-seek-end {
  background-position: -64px -160px;
}
.redux-container .ui-icon-seek-start, .control-section-redux .ui-icon-seek-start, .control-panel-redux .ui-icon-seek-start, .redux-metabox .ui-icon-seek-start {
  background-position: -80px -160px;
}
.redux-container .ui-icon-seek-first, .control-section-redux .ui-icon-seek-first, .control-panel-redux .ui-icon-seek-first, .redux-metabox .ui-icon-seek-first {
  background-position: -80px -160px;
}
.redux-container .ui-icon-stop, .control-section-redux .ui-icon-stop, .control-panel-redux .ui-icon-stop, .redux-metabox .ui-icon-stop {
  background-position: -96px -160px;
}
.redux-container .ui-icon-eject, .control-section-redux .ui-icon-eject, .control-panel-redux .ui-icon-eject, .redux-metabox .ui-icon-eject {
  background-position: -112px -160px;
}
.redux-container .ui-icon-volume-off, .control-section-redux .ui-icon-volume-off, .control-panel-redux .ui-icon-volume-off, .redux-metabox .ui-icon-volume-off {
  background-position: -128px -160px;
}
.redux-container .ui-icon-volume-on, .control-section-redux .ui-icon-volume-on, .control-panel-redux .ui-icon-volume-on, .redux-metabox .ui-icon-volume-on {
  background-position: -144px -160px;
}
.redux-container .ui-icon-power, .control-section-redux .ui-icon-power, .control-panel-redux .ui-icon-power, .redux-metabox .ui-icon-power {
  background-position: 0 -176px;
}
.redux-container .ui-icon-signal-diag, .control-section-redux .ui-icon-signal-diag, .control-panel-redux .ui-icon-signal-diag, .redux-metabox .ui-icon-signal-diag {
  background-position: -16px -176px;
}
.redux-container .ui-icon-signal, .control-section-redux .ui-icon-signal, .control-panel-redux .ui-icon-signal, .redux-metabox .ui-icon-signal {
  background-position: -32px -176px;
}
.redux-container .ui-icon-battery-0, .control-section-redux .ui-icon-battery-0, .control-panel-redux .ui-icon-battery-0, .redux-metabox .ui-icon-battery-0 {
  background-position: -48px -176px;
}
.redux-container .ui-icon-battery-1, .control-section-redux .ui-icon-battery-1, .control-panel-redux .ui-icon-battery-1, .redux-metabox .ui-icon-battery-1 {
  background-position: -64px -176px;
}
.redux-container .ui-icon-battery-2, .control-section-redux .ui-icon-battery-2, .control-panel-redux .ui-icon-battery-2, .redux-metabox .ui-icon-battery-2 {
  background-position: -80px -176px;
}
.redux-container .ui-icon-battery-3, .control-section-redux .ui-icon-battery-3, .control-panel-redux .ui-icon-battery-3, .redux-metabox .ui-icon-battery-3 {
  background-position: -96px -176px;
}
.redux-container .ui-icon-circle-plus, .control-section-redux .ui-icon-circle-plus, .control-panel-redux .ui-icon-circle-plus, .redux-metabox .ui-icon-circle-plus {
  background-position: 0 -192px;
}
.redux-container .ui-icon-circle-minus, .control-section-redux .ui-icon-circle-minus, .control-panel-redux .ui-icon-circle-minus, .redux-metabox .ui-icon-circle-minus {
  background-position: -16px -192px;
}
.redux-container .ui-icon-circle-close, .control-section-redux .ui-icon-circle-close, .control-panel-redux .ui-icon-circle-close, .redux-metabox .ui-icon-circle-close {
  background-position: -32px -192px;
}
.redux-container .ui-icon-circle-triangle-e, .control-section-redux .ui-icon-circle-triangle-e, .control-panel-redux .ui-icon-circle-triangle-e, .redux-metabox .ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}
.redux-container .ui-icon-circle-triangle-s, .control-section-redux .ui-icon-circle-triangle-s, .control-panel-redux .ui-icon-circle-triangle-s, .redux-metabox .ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}
.redux-container .ui-icon-circle-triangle-w, .control-section-redux .ui-icon-circle-triangle-w, .control-panel-redux .ui-icon-circle-triangle-w, .redux-metabox .ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}
.redux-container .ui-icon-circle-triangle-n, .control-section-redux .ui-icon-circle-triangle-n, .control-panel-redux .ui-icon-circle-triangle-n, .redux-metabox .ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}
.redux-container .ui-icon-circle-arrow-e, .control-section-redux .ui-icon-circle-arrow-e, .control-panel-redux .ui-icon-circle-arrow-e, .redux-metabox .ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}
.redux-container .ui-icon-circle-arrow-s, .control-section-redux .ui-icon-circle-arrow-s, .control-panel-redux .ui-icon-circle-arrow-s, .redux-metabox .ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}
.redux-container .ui-icon-circle-arrow-w, .control-section-redux .ui-icon-circle-arrow-w, .control-panel-redux .ui-icon-circle-arrow-w, .redux-metabox .ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}
.redux-container .ui-icon-circle-arrow-n, .control-section-redux .ui-icon-circle-arrow-n, .control-panel-redux .ui-icon-circle-arrow-n, .redux-metabox .ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}
.redux-container .ui-icon-circle-zoomin, .control-section-redux .ui-icon-circle-zoomin, .control-panel-redux .ui-icon-circle-zoomin, .redux-metabox .ui-icon-circle-zoomin {
  background-position: -176px -192px;
}
.redux-container .ui-icon-circle-zoomout, .control-section-redux .ui-icon-circle-zoomout, .control-panel-redux .ui-icon-circle-zoomout, .redux-metabox .ui-icon-circle-zoomout {
  background-position: -192px -192px;
}
.redux-container .ui-icon-circle-check, .control-section-redux .ui-icon-circle-check, .control-panel-redux .ui-icon-circle-check, .redux-metabox .ui-icon-circle-check {
  background-position: -208px -192px;
}
.redux-container .ui-icon-circlesmall-plus, .control-section-redux .ui-icon-circlesmall-plus, .control-panel-redux .ui-icon-circlesmall-plus, .redux-metabox .ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}
.redux-container .ui-icon-circlesmall-minus, .control-section-redux .ui-icon-circlesmall-minus, .control-panel-redux .ui-icon-circlesmall-minus, .redux-metabox .ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}
.redux-container .ui-icon-circlesmall-close, .control-section-redux .ui-icon-circlesmall-close, .control-panel-redux .ui-icon-circlesmall-close, .redux-metabox .ui-icon-circlesmall-close {
  background-position: -32px -208px;
}
.redux-container .ui-icon-squaresmall-plus, .control-section-redux .ui-icon-squaresmall-plus, .control-panel-redux .ui-icon-squaresmall-plus, .redux-metabox .ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}
.redux-container .ui-icon-squaresmall-minus, .control-section-redux .ui-icon-squaresmall-minus, .control-panel-redux .ui-icon-squaresmall-minus, .redux-metabox .ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}
.redux-container .ui-icon-squaresmall-close, .control-section-redux .ui-icon-squaresmall-close, .control-panel-redux .ui-icon-squaresmall-close, .redux-metabox .ui-icon-squaresmall-close {
  background-position: -80px -208px;
}
.redux-container .ui-icon-grip-dotted-vertical, .control-section-redux .ui-icon-grip-dotted-vertical, .control-panel-redux .ui-icon-grip-dotted-vertical, .redux-metabox .ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}
.redux-container .ui-icon-grip-dotted-horizontal, .control-section-redux .ui-icon-grip-dotted-horizontal, .control-panel-redux .ui-icon-grip-dotted-horizontal, .redux-metabox .ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}
.redux-container .ui-icon-grip-solid-vertical, .control-section-redux .ui-icon-grip-solid-vertical, .control-panel-redux .ui-icon-grip-solid-vertical, .redux-metabox .ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}
.redux-container .ui-icon-grip-solid-horizontal, .control-section-redux .ui-icon-grip-solid-horizontal, .control-panel-redux .ui-icon-grip-solid-horizontal, .redux-metabox .ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}
.redux-container .ui-icon-gripsmall-diagonal-se, .control-section-redux .ui-icon-gripsmall-diagonal-se, .control-panel-redux .ui-icon-gripsmall-diagonal-se, .redux-metabox .ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}
.redux-container .ui-icon-grip-diagonal-se, .control-section-redux .ui-icon-grip-diagonal-se, .control-panel-redux .ui-icon-grip-diagonal-se, .redux-metabox .ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}
.redux-container .ui-widget-overlay, .control-section-redux .ui-widget-overlay, .control-panel-redux .ui-widget-overlay, .redux-metabox .ui-widget-overlay {
  background: #aaa url(../images/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity=30);
}
.redux-container .ui-widget-shadow, .control-section-redux .ui-widget-shadow, .control-panel-redux .ui-widget-shadow, .redux-metabox .ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaa url(../images/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity=30);
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.redux-container .ui-accordion, .control-section-redux .ui-accordion, .control-panel-redux .ui-accordion, .redux-metabox .ui-accordion {
  width: 100%;
}
.redux-container .ui-accordion .ui-accordion-header, .control-section-redux .ui-accordion .ui-accordion-header, .control-panel-redux .ui-accordion .ui-accordion-header, .redux-metabox .ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
  font-weight: bold;
}
.redux-container .ui-accordion .ui-accordion-li-fix, .control-section-redux .ui-accordion .ui-accordion-li-fix, .control-panel-redux .ui-accordion .ui-accordion-li-fix, .redux-metabox .ui-accordion .ui-accordion-li-fix {
  display: inline;
}
.redux-container .ui-accordion .ui-accordion-header-active, .control-section-redux .ui-accordion .ui-accordion-header-active, .control-panel-redux .ui-accordion .ui-accordion-header-active, .redux-metabox .ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}
.redux-container .ui-accordion .ui-accordion-header a, .control-section-redux .ui-accordion .ui-accordion-header a, .control-panel-redux .ui-accordion .ui-accordion-header a, .redux-metabox .ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: 0.5em 0.5em 0.5em 1.7em;
}
.redux-container .ui-accordion-icons .ui-accordion-header a, .control-section-redux .ui-accordion-icons .ui-accordion-header a, .control-panel-redux .ui-accordion-icons .ui-accordion-header a, .redux-metabox .ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}
.redux-container .ui-accordion .ui-accordion-header .ui-icon, .control-section-redux .ui-accordion .ui-accordion-header .ui-icon, .control-panel-redux .ui-accordion .ui-accordion-header .ui-icon, .redux-metabox .ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px;
}
.redux-container .ui-accordion .ui-accordion-content, .control-section-redux .ui-accordion .ui-accordion-content, .control-panel-redux .ui-accordion .ui-accordion-content, .redux-metabox .ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1;
}
.redux-container .ui-accordion .ui-accordion-content-active, .control-section-redux .ui-accordion .ui-accordion-content-active, .control-panel-redux .ui-accordion .ui-accordion-content-active, .redux-metabox .ui-accordion .ui-accordion-content-active {
  display: block;
}
.redux-container .ui-button, .control-section-redux .ui-button, .control-panel-redux .ui-button, .redux-metabox .ui-button {
  cursor: pointer;
  display: inline-block;
  background-color: #eee;
  background-repeat: no-repeat;
  padding: 5px 14px;
  margin: 0;
  text-shadow: none;
  color: #22272c;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  transform: none;
}
.redux-container .ui-button:hover, .control-section-redux .ui-button:hover, .control-panel-redux .ui-button:hover, .redux-metabox .ui-button:hover {
  background-color: #e9e9e9;
  border-color: #d6d6d6;
}
.redux-container .ui-button-primary, .control-section-redux .ui-button-primary, .control-panel-redux .ui-button-primary, .redux-metabox .ui-button-primary {
  color: #fff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.redux-container .ui-button-success, .control-section-redux .ui-button-success, .control-panel-redux .ui-button-success, .redux-metabox .ui-button-success {
  color: #fff;
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.redux-container .ui-button-error, .control-section-redux .ui-button-error, .control-panel-redux .ui-button-error, .redux-metabox .ui-button-error {
  color: #fff;
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.redux-container .ui-button-icon-only, .control-section-redux .ui-button-icon-only, .control-panel-redux .ui-button-icon-only, .redux-metabox .ui-button-icon-only {
  width: 2.2em;
}
.redux-container .ui-button-icons-only, .control-section-redux .ui-button-icons-only, .control-panel-redux .ui-button-icons-only, .redux-metabox .ui-button-icons-only {
  width: 3.4em;
}
.redux-container button.ui-button-icons-only, .control-section-redux button.ui-button-icons-only, .control-panel-redux button.ui-button-icons-only, .redux-metabox button.ui-button-icons-only {
  width: 3.7em;
}
.redux-container .ui-button .ui-button-text, .control-section-redux .ui-button .ui-button-text, .control-panel-redux .ui-button .ui-button-text, .redux-metabox .ui-button .ui-button-text {
  display: block;
}
.redux-container .ui-button-icon-only .ui-button-text, .control-section-redux .ui-button-icon-only .ui-button-text, .control-panel-redux .ui-button-icon-only .ui-button-text, .redux-metabox .ui-button-icon-only .ui-button-text, .redux-container .ui-button-icons-only .ui-button-text, .control-section-redux .ui-button-icons-only .ui-button-text, .control-panel-redux .ui-button-icons-only .ui-button-text, .redux-metabox .ui-button-icons-only .ui-button-text {
  padding: 0.4em;
  text-indent: -9999999px;
  /*tempfix*/
  display: none;
}
.redux-container .ui-button-text-icon-primary .ui-button-text, .control-section-redux .ui-button-text-icon-primary .ui-button-text, .control-panel-redux .ui-button-text-icon-primary .ui-button-text, .redux-metabox .ui-button-text-icon-primary .ui-button-text, .redux-container .ui-button-text-icons .ui-button-text, .control-section-redux .ui-button-text-icons .ui-button-text, .control-panel-redux .ui-button-text-icons .ui-button-text, .redux-metabox .ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
}
.redux-container .ui-button-text-icon-secondary .ui-button-text, .control-section-redux .ui-button-text-icon-secondary .ui-button-text, .control-panel-redux .ui-button-text-icon-secondary .ui-button-text, .redux-metabox .ui-button-text-icon-secondary .ui-button-text, .redux-container .ui-button-text-icons .ui-button-text, .control-section-redux .ui-button-text-icons .ui-button-text, .control-panel-redux .ui-button-text-icons .ui-button-text, .redux-metabox .ui-button-text-icons .ui-button-text {
  padding: 0.4em 2.1em 0.4em 1em;
}
.redux-container .ui-button-text-icons .ui-button-text, .control-section-redux .ui-button-text-icons .ui-button-text, .control-panel-redux .ui-button-text-icons .ui-button-text, .redux-metabox .ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}
.redux-container .ui-button-icon-only .ui-icon, .control-section-redux .ui-button-icon-only .ui-icon, .control-panel-redux .ui-button-icon-only .ui-icon, .redux-metabox .ui-button-icon-only .ui-icon, .redux-container .ui-button-text-icon-primary .ui-icon, .control-section-redux .ui-button-text-icon-primary .ui-icon, .control-panel-redux .ui-button-text-icon-primary .ui-icon, .redux-metabox .ui-button-text-icon-primary .ui-icon, .redux-container .ui-button-text-icon-secondary .ui-icon, .control-section-redux .ui-button-text-icon-secondary .ui-icon, .control-panel-redux .ui-button-text-icon-secondary .ui-icon, .redux-metabox .ui-button-text-icon-secondary .ui-icon, .redux-container .ui-button-text-icons .ui-icon, .control-section-redux .ui-button-text-icons .ui-icon, .control-panel-redux .ui-button-text-icons .ui-icon, .redux-metabox .ui-button-text-icons .ui-icon, .redux-container .ui-button-icons-only .ui-icon, .control-section-redux .ui-button-icons-only .ui-icon, .control-panel-redux .ui-button-icons-only .ui-icon, .redux-metabox .ui-button-icons-only .ui-icon {
  top: 50%;
  margin-top: -3px;
  margin-bottom: 3px;
}
.redux-container .ui-button-icon-only .ui-icon, .control-section-redux .ui-button-icon-only .ui-icon, .control-panel-redux .ui-button-icon-only .ui-icon, .redux-metabox .ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}
.redux-container .ui-button-text-icon-primary .ui-button-icon-primary, .control-section-redux .ui-button-text-icon-primary .ui-button-icon-primary, .control-panel-redux .ui-button-text-icon-primary .ui-button-icon-primary, .redux-metabox .ui-button-text-icon-primary .ui-button-icon-primary, .redux-container .ui-button-text-icons .ui-button-icon-primary, .control-section-redux .ui-button-text-icons .ui-button-icon-primary, .control-panel-redux .ui-button-text-icons .ui-button-icon-primary, .redux-metabox .ui-button-text-icons .ui-button-icon-primary, .redux-container .ui-button-icons-only .ui-button-icon-primary, .control-section-redux .ui-button-icons-only .ui-button-icon-primary, .control-panel-redux .ui-button-icons-only .ui-button-icon-primary, .redux-metabox .ui-button-icons-only .ui-button-icon-primary {
  left: 0.5em;
}
.redux-container .ui-button-text-icon-secondary .ui-button-icon-secondary, .control-section-redux .ui-button-text-icon-secondary .ui-button-icon-secondary, .control-panel-redux .ui-button-text-icon-secondary .ui-button-icon-secondary, .redux-metabox .ui-button-text-icon-secondary .ui-button-icon-secondary, .redux-container .ui-button-text-icons .ui-button-icon-secondary, .control-section-redux .ui-button-text-icons .ui-button-icon-secondary, .control-panel-redux .ui-button-text-icons .ui-button-icon-secondary, .redux-metabox .ui-button-text-icons .ui-button-icon-secondary, .redux-container .ui-button-icons-only .ui-button-icon-secondary, .control-section-redux .ui-button-icons-only .ui-button-icon-secondary, .control-panel-redux .ui-button-icons-only .ui-button-icon-secondary, .redux-metabox .ui-button-icons-only .ui-button-icon-secondary {
  right: 0.5em;
}
.redux-container .ui-button-text-icons .ui-button-icon-secondary, .control-section-redux .ui-button-text-icons .ui-button-icon-secondary, .control-panel-redux .ui-button-text-icons .ui-button-icon-secondary, .redux-metabox .ui-button-text-icons .ui-button-icon-secondary, .redux-container .ui-button-icons-only .ui-button-icon-secondary, .control-section-redux .ui-button-icons-only .ui-button-icon-secondary, .control-panel-redux .ui-button-icons-only .ui-button-icon-secondary, .redux-metabox .ui-button-icons-only .ui-button-icon-secondary {
  right: 0.5em;
}
.redux-container .ui-buttonset, .control-section-redux .ui-buttonset, .control-panel-redux .ui-buttonset, .redux-metabox .ui-buttonset {
  margin-right: 7px;
}
.redux-container .ui-buttonset .ui-state-active, .control-section-redux .ui-buttonset .ui-state-active, .control-panel-redux .ui-buttonset .ui-state-active, .redux-metabox .ui-buttonset .ui-state-active {
  color: #fff;
  background-color: #0064cd;
  background-repeat: repeat-x;
}
.redux-container .ui-buttonset .ui-button, .control-section-redux .ui-buttonset .ui-button, .control-panel-redux .ui-buttonset .ui-button, .redux-metabox .ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: 0;
}
.redux-container button.ui-button::-moz-focus-inner, .control-section-redux button.ui-button::-moz-focus-inner, .control-panel-redux button.ui-button::-moz-focus-inner, .redux-metabox button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.redux-container .ui-datepicker, .control-section-redux .ui-datepicker, .control-panel-redux .ui-datepicker, .redux-metabox .ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
  display: none;
}
.redux-container .ui-datepicker .ui-datepicker-header, .control-section-redux .ui-datepicker .ui-datepicker-header, .control-panel-redux .ui-datepicker .ui-datepicker-header, .redux-metabox .ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
  border: 0px;
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
}
.redux-container .ui-datepicker .ui-datepicker-prev, .control-section-redux .ui-datepicker .ui-datepicker-prev, .control-panel-redux .ui-datepicker .ui-datepicker-prev, .redux-metabox .ui-datepicker .ui-datepicker-prev, .redux-container .ui-datepicker .ui-datepicker-next, .control-section-redux .ui-datepicker .ui-datepicker-next, .control-panel-redux .ui-datepicker .ui-datepicker-next, .redux-metabox .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 5px;
  width: 1.8em;
  height: 1.8em;
}
.redux-container .ui-datepicker .ui-datepicker-prev-hover, .control-section-redux .ui-datepicker .ui-datepicker-prev-hover, .control-panel-redux .ui-datepicker .ui-datepicker-prev-hover, .redux-metabox .ui-datepicker .ui-datepicker-prev-hover, .redux-container .ui-datepicker .ui-datepicker-next-hover, .control-section-redux .ui-datepicker .ui-datepicker-next-hover, .control-panel-redux .ui-datepicker .ui-datepicker-next-hover, .redux-metabox .ui-datepicker .ui-datepicker-next-hover {
  /*top: 1px;*/
}
.redux-container .ui-datepicker .ui-datepicker-prev, .control-section-redux .ui-datepicker .ui-datepicker-prev, .control-panel-redux .ui-datepicker .ui-datepicker-prev, .redux-metabox .ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.redux-container .ui-datepicker .ui-datepicker-next, .control-section-redux .ui-datepicker .ui-datepicker-next, .control-panel-redux .ui-datepicker .ui-datepicker-next, .redux-metabox .ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.redux-container .ui-datepicker .ui-datepicker-prev-hover, .control-section-redux .ui-datepicker .ui-datepicker-prev-hover, .control-panel-redux .ui-datepicker .ui-datepicker-prev-hover, .redux-metabox .ui-datepicker .ui-datepicker-prev-hover {
  /*left:1px;*/
}
.redux-container .ui-datepicker .ui-datepicker-next-hover, .control-section-redux .ui-datepicker .ui-datepicker-next-hover, .control-panel-redux .ui-datepicker .ui-datepicker-next-hover, .redux-metabox .ui-datepicker .ui-datepicker-next-hover {
  /*right:1px;*/
}
.redux-container .ui-datepicker .ui-datepicker-prev span, .control-section-redux .ui-datepicker .ui-datepicker-prev span, .control-panel-redux .ui-datepicker .ui-datepicker-prev span, .redux-metabox .ui-datepicker .ui-datepicker-prev span, .redux-container .ui-datepicker .ui-datepicker-next span, .control-section-redux .ui-datepicker .ui-datepicker-next span, .control-panel-redux .ui-datepicker .ui-datepicker-next span, .redux-metabox .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.redux-container .ui-datepicker .ui-datepicker-title, .control-section-redux .ui-datepicker .ui-datepicker-title, .control-panel-redux .ui-datepicker .ui-datepicker-title, .redux-metabox .ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.redux-container .ui-datepicker .ui-datepicker-title select, .control-section-redux .ui-datepicker .ui-datepicker-title select, .control-panel-redux .ui-datepicker .ui-datepicker-title select, .redux-metabox .ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.redux-container .ui-datepicker select.ui-datepicker-month-year, .control-section-redux .ui-datepicker select.ui-datepicker-month-year, .control-panel-redux .ui-datepicker select.ui-datepicker-month-year, .redux-metabox .ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.redux-container .ui-datepicker select.ui-datepicker-month, .control-section-redux .ui-datepicker select.ui-datepicker-month, .control-panel-redux .ui-datepicker select.ui-datepicker-month, .redux-metabox .ui-datepicker select.ui-datepicker-month, .redux-container .ui-datepicker select.ui-datepicker-year, .control-section-redux .ui-datepicker select.ui-datepicker-year, .control-panel-redux .ui-datepicker select.ui-datepicker-year, .redux-metabox .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.redux-container .ui-datepicker table, .control-section-redux .ui-datepicker table, .control-panel-redux .ui-datepicker table, .redux-metabox .ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.redux-container .ui-datepicker th, .control-section-redux .ui-datepicker th, .control-panel-redux .ui-datepicker th, .redux-metabox .ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.redux-container .ui-datepicker td, .control-section-redux .ui-datepicker td, .control-panel-redux .ui-datepicker td, .redux-metabox .ui-datepicker td {
  border: 1px solid #fff;
  padding: 0px;
}
.redux-container .ui-datepicker td span, .control-section-redux .ui-datepicker td span, .control-panel-redux .ui-datepicker td span, .redux-metabox .ui-datepicker td span, .redux-container .ui-datepicker td a, .control-section-redux .ui-datepicker td a, .control-panel-redux .ui-datepicker td a, .redux-metabox .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}
.redux-container .ui-datepicker .ui-datepicker-buttonpane, .control-section-redux .ui-datepicker .ui-datepicker-buttonpane, .control-panel-redux .ui-datepicker .ui-datepicker-buttonpane, .redux-metabox .ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.redux-container .ui-datepicker .ui-datepicker-buttonpane button, .control-section-redux .ui-datepicker .ui-datepicker-buttonpane button, .control-panel-redux .ui-datepicker .ui-datepicker-buttonpane button, .redux-metabox .ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}
.redux-container .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current, .control-section-redux .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current, .control-panel-redux .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current, .redux-metabox .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.redux-container .ui-datepicker.ui-datepicker-multi, .control-section-redux .ui-datepicker.ui-datepicker-multi, .control-panel-redux .ui-datepicker.ui-datepicker-multi, .redux-metabox .ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.redux-container .ui-datepicker-multi .ui-datepicker-group, .control-section-redux .ui-datepicker-multi .ui-datepicker-group, .control-panel-redux .ui-datepicker-multi .ui-datepicker-group, .redux-metabox .ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.redux-container .ui-datepicker-multi .ui-datepicker-group table, .control-section-redux .ui-datepicker-multi .ui-datepicker-group table, .control-panel-redux .ui-datepicker-multi .ui-datepicker-group table, .redux-metabox .ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em;
}
.redux-container .ui-datepicker-multi-2 .ui-datepicker-group, .control-section-redux .ui-datepicker-multi-2 .ui-datepicker-group, .control-panel-redux .ui-datepicker-multi-2 .ui-datepicker-group, .redux-metabox .ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.redux-container .ui-datepicker-multi-3 .ui-datepicker-group, .control-section-redux .ui-datepicker-multi-3 .ui-datepicker-group, .control-panel-redux .ui-datepicker-multi-3 .ui-datepicker-group, .redux-metabox .ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.redux-container .ui-datepicker-multi-4 .ui-datepicker-group, .control-section-redux .ui-datepicker-multi-4 .ui-datepicker-group, .control-panel-redux .ui-datepicker-multi-4 .ui-datepicker-group, .redux-metabox .ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.redux-container .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .control-section-redux .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .control-panel-redux .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .redux-metabox .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}
.redux-container .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header, .control-section-redux .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header, .control-panel-redux .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header, .redux-metabox .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.redux-container .ui-datepicker-multi .ui-datepicker-buttonpane, .control-section-redux .ui-datepicker-multi .ui-datepicker-buttonpane, .control-panel-redux .ui-datepicker-multi .ui-datepicker-buttonpane, .redux-metabox .ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.redux-container .ui-datepicker-row-break, .control-section-redux .ui-datepicker-row-break, .control-panel-redux .ui-datepicker-row-break, .redux-metabox .ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0em;
}
.redux-container .ui-datepicker-rtl, .control-section-redux .ui-datepicker-rtl, .control-panel-redux .ui-datepicker-rtl, .redux-metabox .ui-datepicker-rtl {
  direction: rtl;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-prev, .control-section-redux .ui-datepicker-rtl .ui-datepicker-prev, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-prev, .redux-metabox .ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-next, .control-section-redux .ui-datepicker-rtl .ui-datepicker-next, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-next, .redux-metabox .ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-prev:hover, .control-section-redux .ui-datepicker-rtl .ui-datepicker-prev:hover, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-prev:hover, .redux-metabox .ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-next:hover, .control-section-redux .ui-datepicker-rtl .ui-datepicker-next:hover, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-next:hover, .redux-metabox .ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-buttonpane, .control-section-redux .ui-datepicker-rtl .ui-datepicker-buttonpane, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-buttonpane, .redux-metabox .ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-buttonpane button, .control-section-redux .ui-datepicker-rtl .ui-datepicker-buttonpane button, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-buttonpane button, .redux-metabox .ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .control-section-redux .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .redux-metabox .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-group, .control-section-redux .ui-datepicker-rtl .ui-datepicker-group, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-group, .redux-metabox .ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .control-section-redux .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .redux-metabox .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.redux-container .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header, .control-section-redux .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header, .control-panel-redux .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header, .redux-metabox .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.redux-container .ui-datepicker-cover, .control-section-redux .ui-datepicker-cover, .control-panel-redux .ui-datepicker-cover, .redux-metabox .ui-datepicker-cover {
  display: none;
  /*sorry for IE5*/
  display: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/
}
.redux-container .ui-datepicker th, .control-section-redux .ui-datepicker th, .control-panel-redux .ui-datepicker th, .redux-metabox .ui-datepicker th {
  font-weight: bold;
  color: gray;
}
.redux-container .ui-datepicker-today a:hover, .control-section-redux .ui-datepicker-today a:hover, .control-panel-redux .ui-datepicker-today a:hover, .redux-metabox .ui-datepicker-today a:hover {
  background-color: #808080;
  color: #fff;
}
.redux-container .ui-datepicker-today a, .control-section-redux .ui-datepicker-today a, .control-panel-redux .ui-datepicker-today a, .redux-metabox .ui-datepicker-today a {
  background-color: #bfbfbf;
  cursor: pointer;
  padding: 0 4px;
  margin-bottom: 0px;
}
.redux-container .ui-datepicker td a, .control-section-redux .ui-datepicker td a, .control-panel-redux .ui-datepicker td a, .redux-metabox .ui-datepicker td a {
  margin-bottom: 0px;
  border: 0px;
}
.redux-container .ui-datepicker td:hover, .control-section-redux .ui-datepicker td:hover, .control-panel-redux .ui-datepicker td:hover, .redux-metabox .ui-datepicker td:hover {
  color: #fff;
}
.redux-container .ui-datepicker td .ui-state-default, .control-section-redux .ui-datepicker td .ui-state-default, .control-panel-redux .ui-datepicker td .ui-state-default, .redux-metabox .ui-datepicker td .ui-state-default {
  border: 0px;
  background: none;
  background-color: #eee;
  margin-bottom: 0px;
  padding: 5px;
  color: #444;
  text-align: center;
  filter: none;
}
.redux-container .ui-datepicker td .ui-state-active, .control-section-redux .ui-datepicker td .ui-state-active, .control-panel-redux .ui-datepicker td .ui-state-active, .redux-metabox .ui-datepicker td .ui-state-active {
  background: #bfbfbf;
  margin-bottom: 0px;
  font-size: normal;
  text-shadow: 0px;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.redux-container .ui-datepicker td .ui-state-hover, .control-section-redux .ui-datepicker td .ui-state-hover, .control-panel-redux .ui-datepicker td .ui-state-hover, .redux-metabox .ui-datepicker td .ui-state-hover {
  color: #fff;
  background: #0064cd;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}
.redux-container .ui-widget-content, .control-section-redux .ui-widget-content, .control-panel-redux .ui-widget-content, .redux-metabox .ui-widget-content {
  border: 1px solid #dfdfdf;
}
.redux-container .ui-datepicker table, .control-section-redux .ui-datepicker table, .control-panel-redux .ui-datepicker table, .redux-metabox .ui-datepicker table {
  background: #fff;
}
.redux-container .placeholder, .control-section-redux .placeholder, .control-panel-redux .placeholder, .redux-metabox .placeholder {
  background: #f9f9f9 !important;
  border: 1px dashed #bbb !important;
}
.wp-customizer #ui-datepicker-div {
  z-index: 999999 !important;
}
