.redux-main input[type=checkbox] {
  outline: none;
  border-color: #ddd;
}
.redux-main input[type=checkbox]:focus {
  box-shadow: none;
  border-color: #1898e9;
}
.redux-main input[type=checkbox]:checked:before {
  color: #1898e9;
}
.redux-container-ace_editor .ace-wrapper {
  position: static;
}
.redux-container-ace_editor .ace_editor {
  height: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.redux-container-ace_editor .ace_gutter {
  z-index: 1 !important;
}
.redux-main .redux-container-background .redux-background-attachment, .redux-main .redux-container-background .redux-background-attachment select, .redux-main .redux-container-background .redux-background-clip, .redux-main .redux-container-background .redux-background-clip select, .redux-main .redux-container-background .redux-background-origin, .redux-main .redux-container-background .redux-background-origin select, .redux-main .redux-container-background .redux-background-position, .redux-main .redux-container-background .redux-background-position select, .redux-main .redux-container-background .redux-background-repeat, .redux-main .redux-container-background .redux-background-repeat select, .redux-main .redux-container-background .redux-background-size, .redux-main .redux-container-background .redux-background-size select {
  width: 220px !important;
  margin-right: 10px;
  margin-bottom: 7px;
}
.redux-main .redux-container-background .background-preview {
  display: block;
  width: 100%;
  margin: 5px 0 10px;
  border: 1px dotted #d3d3d3;
}
.redux-main .redux-container-background .select2-container {
  margin-right: 10px;
  margin-bottom: 10px;
}
.redux-main .redux-container-background .wp-picker-container {
  margin-bottom: 10px;
}
.redux-main .redux-container-background .upload {
  width: 100%;
  margin-bottom: 8px;
}
.redux-main .redux-container-select li.ui-state-highlight {
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  width: 64px;
  margin-bottom: 0;
}
.wp-customizer .redux-container-background .redux-background-attachment, .wp-customizer .redux-container-background .redux-background-attachment select, .wp-customizer .redux-container-background .redux-background-clip, .wp-customizer .redux-container-background .redux-background-clip select, .wp-customizer .redux-container-background .redux-background-origin, .wp-customizer .redux-container-background .redux-background-origin select, .wp-customizer .redux-container-background .redux-background-position, .wp-customizer .redux-container-background .redux-background-position select, .wp-customizer .redux-container-background .redux-background-repeat, .wp-customizer .redux-container-background .redux-background-repeat select, .wp-customizer .redux-container-background .redux-background-size, .wp-customizer .redux-container-background .redux-background-size select {
  width: 100% !important;
}
.redux-container-border .select2-container {
  float: left;
  display: block;
  margin-right: 10px;
}
.redux-container-border .select_wrapper {
  float: left;
  width: inherit;
}
.redux-container-border .select_wrapper select {
  width: 80px;
  float: left;
}
.redux-container-border .field-border-input {
  margin-right: 10px;
  margin-bottom: 7px;
}
@media screen and (max-width: 782px) {
  .redux-container-border .field-border-input input {
    display: inline-block !important;
    width: 100px !important;
  }
  .redux-container-border .select_wrapper {
    margin-top: 6px;
  }
}
.redux-container-checkbox label {
  vertical-align: top;
  width: 100%;
}
.redux-container-checkbox label .field-desc {
  margin-top: 0;
  float: left;
  width: 93%;
  clear: none;
}
.redux-container-color_gradient .colorGradient {
  display: inline-block;
}
.redux-container-color_gradient .toLabel {
  padding-left: 18px;
}
@media screen and (max-width: 660px) {
  .redux-container-color_gradient .colorGradient {
    display: block;
    text-align: center !important;
  }
}
.sp-container, .sp-replacer {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
  vertical-align: top;
}
.sp-replacer.focus, .sp-replacer.hover, .sp-replacer:focus, .sp-replacer:hover {
  background: #fafafa;
  border-color: #999;
  color: #222;
}
.sp-replacer.focus, .sp-replacer:focus {
  -webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
}
.sp-replacer.active:focus {
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
}
.sp-replacer.active, .sp-replacer.active:hover, .sp-replacer:active {
  background: #eee;
  border-color: #999;
  color: #333;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5);
}
.redux-main #ui-datepicker-div {
  z-index: 15;
}
.ui-datepicker-header {
  background-color: #00abef;
}
.redux-dimensions-container .select_wrapper, .redux-dimensions-container select {
  width: 95px !important;
  float: left;
}
.redux-dimensions-container .field-dimensions-input {
  margin-right: 10px;
  margin-bottom: 7px;
}
@media screen and (max-width: 782px) {
  .redux-dimensions-container .field-dimensions-input input {
    display: inline-block !important;
    width: 100px !important;
  }
  .redux-dimensions-container .field-dimensions-input input[type=text] {
    padding: 2px 5px;
  }
}
.redux-main .divide {
  float: none;
  border-color: #e7e7e7;
  display: block;
  width: 100%;
  height: 35px !important;
  line-height: 35px !important;
  position: relative;
  margin: 15px 0 10px;
}
.redux-main .divide .inner, .redux-main .divide .inner span {
  background-color: #fcfcfc;
  border-color: #e7e7e7;
  position: absolute;
}
.redux-main .divide .inner {
  width: 42% !important;
  left: 40% !important;
  margin-left: -6%;
  height: 1px;
  top: 50%;
  margin-top: -1px;
  border-top-width: 1px;
  border-top-style: solid;
}
.redux-main .divide .inner span {
  height: 5px;
  width: 5px;
  border-width: 2px;
  border-style: solid;
  display: block;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.wp-customizer .redux-container-divide .divide .inner {
  width: 82% !important;
  left: 18% !important;
  margin-left: -8%;
}
.redux-container-editor .mceLayout td {
  border-width: 1px;
  margin: 0;
  padding: 1px;
}
.redux-container-editor input, .redux-container-editor textarea {
  margin: inherit;
}
.redux-container-editor textarea {
  border: 0;
}
.redux-container-editor .wp-editor-container {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.redux-container-editor .wp-editor-container textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-style: inherit;
}
.redux-container-editor .quicktags-toolbar input {
  margin: 2px 1px 4px;
  line-height: 18px;
  display: inline-block;
  min-width: 26px;
  padding: 2px 4px;
  font: 12px/18px Arial, Helvetica, sans-serif normal;
  color: #464646;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#fff));
  background-image: -webkit-linear-gradient(bottom, #e3e3e3, #fff);
  background-image: -moz-linear-gradient(bottom, #e3e3e3, #fff);
  background-image: -o-linear-gradient(bottom, #e3e3e3, #fff);
  background-image: linear-gradient(to top, #e3e3e3, #fff);
}
.redux-container-image_select .redux-table-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.redux-container-image_select .redux-image-select {
  margin: 0 !important;
}
.redux-container-image_select .redux-image-select .tiles {
  display: block;
  background-color: #fff;
  background-repeat: repeat;
  width: 40px;
  height: 40px;
}
.redux-container-image_select .redux-image-select .tiles, .redux-container-image_select .redux-image-select img {
  border-color: #d9d9d9;
}
.redux-container-image_select .redux-image-select li:last-child {
  margin-bottom: 0;
}
.redux-container-image_select .redux-image-select input[type=radio] {
  display: none;
}
.redux-container-image_select .redux-image-select-presets img {
  width: 100%;
}
.redux-container-image_select ul.redux-image-select li {
  margin: 0 10px 3px;
  display: inline-block;
  padding: 2px 2px 2px 0;
}
.redux-container-image_select .redux-image-select-selected {
  background-color: #f9f9f9;
}
.redux-container-image_select .redux-image-select .tiles, .redux-container-image_select .redux-image-select img, .redux-container-image_select .redux-image-select-selected .tiles, .redux-container-image_select .redux-image-select-selected img {
  border-width: 4px;
  border-style: solid;
}
.redux-container-image_select .redux-image-select-selected .tiles {
  border-color: #7a7a7a;
}
.redux-info-field .redux-info-icon i, .redux-notice-field .redux-info-icon i {
  font-size: 2em;
}
.redux-info-field .redux-info-desc, .redux-notice-field .redux-info-desc {
  display: inline-block;
  vertical-align: top;
}
.redux-info-field {
  min-height: 20px;
  padding: 8px 19px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid;
  position: relative;
}
.redux-info-field h1, .redux-info-field h2, .redux-info-field h3, .redux-info-field h4, .redux-info-field h5, .redux-info-field h6 {
  border-bottom: 0 !important;
}
.redux-info-field h3 {
  color: #777;
}
.redux-info-field .redux-info-icon {
  display: inline-block;
  margin-right: 15px;
}
.redux-info-field.redux-normal {
  background-color: #eee;
  border-color: #ccc;
  color: #666;
}
.redux-info-field.redux-normal i {
  color: #c5c5c5;
}
.redux-info-field.redux-warning {
  background-color: #fbeba4;
  border-color: #d7c281;
  color: #958234;
}
.redux-info-field.redux-warning i {
  color: #dcca81;
}
.redux-info-field.redux-success {
  background-color: #c4ee91;
  border-color: #71af5d;
  color: #4d7615;
}
.redux-info-field.redux-success i {
  color: #a0ca6c;
}
.redux-info-field.redux-critical {
  background-color: #fba1a3;
  border-color: #b84f5b;
  color: #981225;
}
.redux-info-field.redux-critical i {
  color: #dd767d;
}
.redux-info-field.redux-info {
  background-color: #d3e4f4;
  border-color: #a9b6c2;
  color: #5c80a1;
}
.redux-info-field.redux-info i {
  color: #afc6da;
}
.redux-notice-field {
  margin: 15px 0 0;
  background-color: #eee;
  border: 0;
  padding: 1px 15px;
}
.redux-notice-field.redux-normal {
  margin: 40px 0 18px;
}
.redux-notice-field.redux-normal p {
  font-weight: bold;
  font-size: 17px;
}
.redux-notice-field h1, .redux-notice-field h2, .redux-notice-field h3, .redux-notice-field h4, .redux-notice-field h5, .redux-notice-field h6 {
  border-bottom: 0 !important;
}
.redux-notice-field p {
  margin: 5px 0;
  padding: 2px;
  color: #23282d;
}
.redux-notice-field .redux-info-icon {
  display: inline-block;
  margin-right: 15px;
}
.redux-notice-field.redux-info {
  border-left: 4px solid #0099d5;
}
.redux-notice-field.redux-success {
  border-left: 4px solid #7ad03a;
}
.redux-notice-field.redux-warning {
  border-left: 4px solid #fbeba4;
}
.redux-notice-field.redux-critical {
  border-left: 4px solid #dd3d36;
}
.redux-main .redux-field-container.redux-container-info {
  padding: 0;
}
.wp-customizer .hasIcon.redux-info-field .redux-info-desc, .wp-customizer .hasIcon.redux-notice-field .redux-info-desc {
  display: block;
  margin-left: 43px;
}
.wp-customizer .hasIcon.redux-info-field .redux-info-icon, .wp-customizer .hasIcon.redux-notice-field .redux-info-icon {
  float: left;
}
.wp-customizer .redux-main .customize-control.customize-control-redux-info {
  border-bottom: 0;
}
.redux-container-link_color .linkColor {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 7px;
}
.redux-main .button.remove-image, .redux-main .removeCSS {
  margin-left: 10px;
  color: #ef521d;
}
.redux-main .button.remove-image:hover, .redux-main .removeCSS:hover {
  color: red;
}
.redux-main .upload_button_div {
  margin-bottom: 5px;
}
.redux-main .upload-error {
  float: left;
  color: #666;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  margin: 0 10px 0 0;
  padding: 3px 10px;
  background: #ffdfec;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.redux-main .reset-button {
  font-family: Arial, Verdana, sans-serif;
  float: left;
  margin: 0;
  color: #ef521d;
  border-color: #bbb;
}
.redux-main .redux-option-image {
  max-height: 340px;
  max-width: 340px;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 10px;
  margin-right: 15px;
  border: 1px solid #e3e3e3;
  background: #f7f7f7;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.redux-main .redux-main .upload {
  width: 80% !important;
}
.redux-main .button {
  margin-top: 2px;
}
.redux-container-multi_text ul.redux-multi-text {
  margin: 0;
  padding: 0;
}
.redux-container-multi_text .redux-multi-text-add {
  clear: both;
  margin: 5px 0;
}
.redux-container-multi_text a.redux-multi-text-remove.deletion {
  color: red;
  padding: 2px 4px;
  margin-left: 5px;
}
.redux-container-multi_text a.redux-multi-text-remove.deletion:hover {
  background: red;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 782px) {
  .redux-container-multi_text input {
    clear: both;
  }
  .redux-container-multi_text .redux-multi-text-remove {
    margin: 0;
    float: right;
  }
}
.wp-customizer .redux-container-multi_text .button {
  float: right;
}
.wp-customizer .redux-container-multi_text .redux-multi-text-remove {
  float: right;
  margin-bottom: 5px;
}
.wp-customizer .redux-container-multi_text ul.redux-multi-text input {
  width: 100% !important;
}
.redux-container-palette label {
  border: 3px solid transparent;
  border-color: transparent !important;
  border-radius: 0;
  width: 100% !important;
  display: block;
}
.redux-container-palette label.ui-button.ui-widget {
  width: 95%;
  background: 0 0;
  padding: 0;
}
.redux-container-palette label.ui-button.ui-widget .ui-button-text {
  display: flex;
}
.redux-container-palette label.ui-button.ui-widget .ui-button-text span {
  padding: 10px;
  flex-grow: 1;
  font-size: 0;
  line-height: 10px;
  color: transparent;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-shadow: 0;
}
.redux-container-palette label.ui-button.ui-widget .ui-button-text span:hover {
  flex-grow: 3;
  font-weight: 700;
  min-width: 60px;
  font-size: 12px;
  line-height: 10px;
  color: #333;
  text-shadow: 0 0 8px #fff, 0 0 8px #fff;
}
.redux-container-palette label.ui-state-active {
  border: 3px solid #333 !important;
}
.wp-customizer .redux-main .redux-container-palette label {
  margin-bottom: 3px;
}
.redux-main .form-table-section-indented {
  width: 95%;
  margin-left: 5%;
}
.redux-main .form-table-section tr:first-of-type th:first-of-type {
  padding: 0 !important;
}
.redux-main h3 {
  margin-top: 10px;
}
.redux-main .form-table-section-indented > tbody > tr:first-child {
  display: none;
}
.redux-main .form-table-section-indented > tbody > tr:nth-last-child(2) {
  border-bottom: 0;
}
.redux-container-select li.ui-state-highlight {
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  width: 64px;
  margin-bottom: 0;
}
.redux-container-select_image {
  margin-top: 2px;
  margin-left: 5px;
  width: 100%;
  margin-bottom: 0;
}
.redux-preview-image {
  max-height: 250px;
  max-width: 250px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #e3e3e3;
  background: #f7f7f7;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.redux-container-slider .redux-slider-container {
  margin: 5px 25px;
  width: 360px;
  display: inline-block;
  vertical-align: middle;
}
.redux-container-slider .redux-slider-input, .redux-container-slider .redux-slider-select-one, .redux-container-slider .redux-slider-select-two {
  width: 100px !important;
  text-align: center;
}
.redux-container-slider .redux-slider-label {
  position: absolute;
  margin-left: -5px;
}
.redux-container-slider .redux-slider-label-one {
  position: absolute;
  margin-left: -22px;
}
.redux-container-slider .redux-slider-label-two {
  position: absolute;
  margin-top: -21px;
  margin-left: 245px;
}
@media screen and (max-width: 782px) {
  .redux-container-slider input {
    display: inline-block !important;
  }
}
@media screen and (max-width: 570px) {
  .redux-container-slider {
    text-align: center;
  }
  .redux-container-slider .redux-slider-label, .redux-container-slider .select2-container, .redux-container-slider input, .redux-container-slider select {
    display: block !important;
    position: inherit;
    margin: 10px auto;
  }
  .redux-container-slider .redux-slider-container {
    margin-top: 3px;
    width: 80%;
  }
}
.wp-customizer .redux-container-slider .redux-slider-label {
  float: left;
  position: inherit;
  width: 25%;
  text-align: center;
  margin-left: 0;
}
.wp-customizer .redux-container-slider .redux-slider-input, .wp-customizer .redux-container-slider .redux-slider-select-one, .wp-customizer .redux-container-slider .redux-slider-select-two {
  width: 25% !important;
}
.wp-customizer .redux-container-slider .redux-slider-container {
  width: 70%;
  margin-right: 0;
  margin-left: 5%;
}
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  z-index: 10;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
.noUi-horizontal {
  height: 8px;
}
.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  left: -12px;
  top: -8px;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
.noUi-vertical.noUi-extended {
  padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}
.noUi-background {
  background: #eee;
  box-shadow: none;
}
.noUi-connect {
  background: #3fb8af;
  box-shadow: none;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-target {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.noUi-target.noUi-connect {
  box-shadow: none;
}
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
  cursor: default;
  box-shadow: none;
}
.noUi-active {
  box-shadow: none;
}
.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 1px;
  background: #e8e7e6;
  left: 9px;
  top: 5px;
}
.noUi-handle:after {
  left: 12px;
}
.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 12px;
  height: 1px;
  left: 5px;
  top: 9px;
}
.noUi-vertical .noUi-handle:after {
  top: 12px;
}
[disabled] .noUi-connect, [disabled].noUi-connect {
  background: #b8b8b8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}
.noUi-state-blocked .noUi-connect, .noUi-state-blocked.noUi-connect {
  background: #4fdacf;
}
.redux-container-slides .redux-slides-list .select2-container {
  margin-bottom: 10px;
  width: 100%;
}
.redux-container-slides .ui-accordion-header {
  margin-bottom: 0;
}
.redux-container-slides .full-text, .redux-container-slides .large-text {
  width: 100%;
}
.redux-container-slides .redux-slides-accordion-group {
  border: 1px solid #dfdfdf !important;
  border-radius: 3px !important;
  margin-top: 0 !important;
  margin-bottom: 10px;
  background: #f9f9f9;
  padding: 5px;
}
.redux-container-slides .redux-slides-accordion-group h3 {
  border: 1px solid #dfdfdf;
  cursor: move !important;
  font-weight: 700;
  padding: 0 10px !important;
  height: 40px;
  line-height: 40px !important;
  background-color: #f1f1f1;
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
}
.redux-container-slides #redux-slides-accordion .redux-slides-image {
  height: 250px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  background: #f7f7f7;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.redux-container-slides .redux-slides-remove {
  color: #ef521d !important;
  float: right;
  margin-top: 5px;
}
.redux-container-slides .redux-slides-header {
  font-weight: 700;
}
.redux-container-slides .redux_slides_add_remove {
  margin-bottom: 10px;
}
.redux-container-slides input {
  width: 100% !important;
}
.wp-customizer .redux-container-slides .ui-accordion .ui-accordion-content {
  padding: 10px;
}
.redux-container-sortable i.el {
  cursor: move;
}
.redux-container-sortable label {
  margin-right: 10px;
  width: 300px;
}
.redux-container-sortable label.bugger {
  margin-bottom: 0 !important;
  font-size: 12px !important;
  color: #999;
}
.redux-container-sortable input {
  margin-right: 10px;
}
.redux-container-sortable .checkbox-container {
  width: 364px;
}
.redux-container-sortable .checkbox-container .drag {
  float: right;
  margin-left: 10px;
}
.redux-container-sortable ul.labeled li {
  line-height: 1.4em !important;
}
.redux-container-sortable li {
  line-height: 30px !important;
}
.redux-container-sortable li.ui-state-highlight {
  height: 30px;
  width: 364px;
  margin-bottom: 13px;
}
.redux-container-sortable li.placeholder {
  height: 30px;
  margin: 10px 0;
}
.wp-customizer .redux-sortable input[type=text] {
  width: 92%;
}
.wp-customizer .redux-sortable i.el {
  margin-left: 5px;
}
.wp-customizer .redux-container-sortable .checkbox-container {
  width: inherit;
}
.wp-customizer .redux-container-sortable .ui-draggable-handle {
  margin-left: 3%;
}
.redux-container-sorter {
  margin-right: -20px;
}
.redux-container-sorter ul {
  background: #f9f9f9;
  border: 1px solid #e3e3e3;
  min-height: 40px;
  padding: 10px 10px 0;
  width: 145px;
  float: left;
  margin: 0 15px 0 0;
}
.redux-container-sorter ul.filled {
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: #efecec;
}
.redux-container-sorter ul li {
  border: 1px solid #dfdfdf;
  cursor: move;
  font-weight: 700;
  margin-bottom: 10px !important;
  padding: 0 10px;
  height: 40px;
  line-height: 40px !important;
  background-color: #f1f1f1;
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  text-align: center;
}
.redux-container-sorter ul li h3 {
  margin: 0 0 10px;
  text-align: center;
  color: #777;
  text-transform: capitalize;
  word-wrap: break-word;
}
.redux-container-sorter ul li.placeholder {
  height: 40px;
}
.wp-customizer .redux-container-sorter ul {
  width: 85%;
  margin: 0 0 5px;
}
.redux-container-spacing .select_wrapper, .redux-container-spacing select {
  width: 110px !important;
  float: left;
}
.redux-container-spacing .field-spacing-input {
  margin-right: 10px;
  margin-bottom: 7px;
}
@media screen and (max-width: 782px) {
  .redux-container-spacing .field-spacing-input input {
    display: inline-block !important;
    width: 70px !important;
  }
  .redux-container-spacing .field-spacing-input input[type=text] {
    padding: 2px 5px;
  }
  .redux-container-spacing .select_wrapper {
    margin-top: 6px;
  }
}
.redux-container-spinner .spinner-wrpr {
  position: relative;
  display: block;
  height: 30px;
  overflow: hidden;
}
.redux-container-spinner .spinner-wrpr .spinner-input {
  position: relative !important;
  z-index: 1;
  width: 45px !important;
  height: 30px !important;
  background: #fff !important;
  border: 1px solid #ddd !important;
  border-right: 0 !important;
  border-left: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.redux-container-spinner .ui-spinner {
  position: static;
  display: inline;
}
.redux-container-spinner .ui-spinner-buttons {
  position: absolute;
  padding: 0;
}
.redux-container-spinner .ui-widget .ui-spinner-button {
  position: absolute;
  top: 0;
  padding: 0 0 30px;
  overflow: hidden;
  cursor: pointer;
  background: #eee;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.redux-container-spinner .ui-spinner-button:hover, .redux-container-spinner .ui-state-hover {
  background: #fff;
}
.redux-container-spinner .ui-corner-tr, .redux-container-spinner .ui-spinner-button .ui-icon-triangle-1-n {
  border-radius: 0;
}
.redux-container-spinner .ui-corner-br, .redux-container-spinner .ui-spinner-button .ui-icon-triangle-1-s {
  border-radius: 0;
}
.redux-container-spinner .ui-spinner-button .ui-icon {
  top: 0;
  display: block;
  width: 28px;
  height: 28px;
  margin: 0;
  border: 1px solid #ddd;
  background-image: none !important;
  text-align: center;
  text-indent: 0;
}
.redux-container-spinner .ui-spinner-button .ui-icon:before {
  font-family: "9wpthemes";
  font-size: 18px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
.redux-container-spinner .ui-spinner-button .ui-icon-triangle-1-n:before {
  content: "\e0f7";
  left: 1px;
}
.redux-container-spinner .ui-spinner-button .ui-icon-triangle-1-s:before {
  content: "\e0aa";
  right: 1px;
}
.redux-container-switch .cb-disable.selected, .redux-container-switch .cb-enable.selected {
  color: #fff;
}
.redux-container-switch .switch-options {
  min-height: 30px;
  margin-right: 10px;
}
.redux-container-switch .switch-options label {
  cursor: pointer;
}
.redux-container-switch .switch-options input {
  display: none;
}
.redux-container-switch .cb-disable, .redux-container-switch .cb-enable {
  padding: 0 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  -webkit-appearance: none;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.redux-container-switch .cb-disable span, .redux-container-switch .cb-enable span {
  line-height: 30px;
  font-weight: 700;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.redux-container-switch .cb-disable, .redux-container-switch .cb-disable span, .redux-container-switch .cb-enable, .redux-container-switch .cb-enable span {
  display: block;
  float: left;
}
.redux-container-switch .cb-enable {
  border-right: 0;
}
.redux-container-switch .cb-disable {
  border-left: 0;
}
.redux-container-text label {
  display: block;
  position: relative;
  font-size: 12px !important;
  text-align: left;
  color: #999;
  margin: 4px 0 2px !important;
  cursor: default;
  top: 5px;
  width: 100px;
}
.redux-container-text input {
  clear: left;
}
.redux-container-text .input_wrapper {
  display: block;
  position: relative;
  padding: 0;
  width: 23%;
  max-width: 23%;
  min-width: 70px;
  float: left;
  clear: left;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
.wp-customizer .redux-container-text .input_wrapper {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.redux-main .redux-typography-container {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 660px;
}
.redux-main .redux-typography-container .clearfix {
  clear: both;
}
.redux-main .redux-typography-container .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.redux-main .redux-typography-container .redux-typography-color, .redux-main .redux-typography-container input.wp-picker-default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  padding: 0 14px !important;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px !important;
  font-size: 12px !important;
}
.redux-main .redux-typography-container .select_wrapper {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 10px 0 0;
  width: 48% !important;
  min-width: 210px !important;
  max-width: 324px !important;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.redux-main .redux-typography-container .select_wrapper:nth-child(even), .redux-main .redux-typography-container .select_wrapper:nth-child(odd) {
  margin-right: 10px !important;
}
.redux-main .redux-typography-container .select_wrapper.typography-family .select2-container {
  width: 100%;
}
.redux-main .redux-typography-container .select_wrapper .redux-typography {
  font-size: 14px !important;
  display: block;
  float: left;
  height: 28px !important;
  line-height: 50px !important;
  padding: 0 !important;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.redux-main .redux-typography-container .wp-picker-container {
  float: left;
  clear: left;
  margin-bottom: 12px;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.redux-main .redux-typography-container .input_wrapper {
  display: block;
  position: relative;
  margin: 0 4px 0 5px;
  padding: 0;
  width: 23%;
  max-width: 23%;
  min-width: 70px;
  float: left;
  clear: none;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
.redux-main .redux-typography-container .input_wrapper.font-size {
  margin-left: 0;
}
.redux-main .redux-typography-container .input_wrapper input.mini {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 78%;
  text-align: center;
  margin: 0;
  height: 30px;
  top: 3px;
  padding: 0 5px 0 5px;
  text-decoration: none;
}
.redux-main .redux-typography-container .picker-wrapper {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 23%;
  width: 100%;
  max-width: 23%;
  min-width: 70px;
  min-width: 100%;
  clear: none;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
.redux-main .redux-typography-container label {
  display: block;
  position: relative;
  font-size: 12px !important;
  text-align: left;
  color: #999;
  margin: 4px 0 2px !important;
  cursor: default;
}
.redux-main .redux-typography-container .typography-preview {
  display: none;
  width: 100%;
  border: 1px dotted #d3d3d3;
  max-width: 850px;
  padding: 10px;
  font-size: 10pt;
  height: auto;
  margin: 5px 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.redux-main .redux-typography-container .typography-color {
  border: 0;
  margin: 0;
}
.redux-main .redux-typography-container::-webkit-input-placeholder {
  line-height: 19px;
}
@media screen and (max-width: 540px) {
  .redux-main .redux-main .redux-typography-container {
    max-width: 230px;
    margin: 0 auto;
  }
  .redux-main .redux-main .redux-typography-container .select_wrapper {
    max-width: 210px;
    min-width: 210px;
    width: 210px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .redux-main .redux-main .redux-typography-container .input_wrapper {
    max-width: 101px;
    min-width: 101px;
    width: 101px;
    margin-left: 0 !important;
    margin-right: 5px !important;
  }
  .redux-main .redux-main .redux-typography-container .input_wrapper input.mini {
    width: 73%;
  }
  .redux-main .redux-main .redux-typography-container .input-append .add-on {
    width: 30%;
    padding: 5px !important;
  }
  .redux-main .redux-main .redux-main .wp-picker-container .wp-picker-input-wrap {
    margin-top: 7px;
  }
}
@media screen and (max-width: 360px) {
  .redux-main .redux-typography-container .iris-picker .iris-square {
    margin-right: 3%;
  }
}
.wp-customizer .redux-typography-container .input_wrapper {
  width: 40%;
  max-width: 40%;
  min-width: 20%;
}
.wp-customizer .redux-typography-container .input_wrapper input.mini {
  width: 70%;
}
.wp-customizer .redux-typography-container .select_wrapper {
  width: 100% !important;
}
.redux-main input.redux-color {
  float: left;
  width: 70px;
  margin-left: 5px;
}
.redux-main input.color-transparency {
  margin-left: 15px;
  margin-right: 3px;
}
.redux-main input.wp-color-picker {
  width: 80px !important;
}
.redux-main .section-color .controls {
  width: 345px;
}
.redux-main .section-color .explain {
  width: 225px;
}
.redux-main .iris-picker .iris-strip .ui-slider-handle {
  position: absolute;
  background: 0 0 !important;
  right: -3px;
  left: -3px;
  border: 4px solid #aaa !important;
  border-width: 4px 3px;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  opacity: 0.9;
  z-index: 5;
  cursor: ns-resize;
}
.redux-main .iris-picker .iris-slider-offset {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 4px;
  width: 28px;
  background: 0 0 !important;
  border: 0 !important;
  height: auto;
}
.redux-main .wp-picker-container input {
  margin-bottom: inherit;
  margin-top: inherit;
  padding: 3px 5px;
}
.redux-main .wp-picker-container .wp-color-result {
  outline: 0;
  margin: 0;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
}
.redux-main .wp-picker-container .wp-color-result:after {
  background: #eee;
  border-left: 1px solid #ddd;
  border-radius: 0;
  line-height: 28px;
}
.redux-main .wp-picker-container .wp-color-result:focus:after, .redux-main .wp-picker-container .wp-color-result:hover:after {
  background: #e9e9e9;
}
.redux-main .wp-picker-container input[type=text].wp-color-picker {
  width: 65px;
  font-size: 12px;
  font-family: monospace;
  line-height: 22px;
  padding: 3px 5px;
}
.redux-main .wp-picker-container .wp-picker-default, .redux-main .wp-picker-container .wp-picker-clear {
  padding: 0 10px 1px;
  height: 30px;
  box-shadow: none;
  border-radius: 0;
}
.redux-main .wp-picker-container .button {
  margin-bottom: 0;
}
.redux-main .redux-color-gradient {
  line-height: 24px;
}
.redux-main .color-transparency-check {
  line-height: 1;
  margin: 0 !important;
}
@media screen and (max-width: 782px) {
  .redux-main .wp-picker-container {
    padding-top: 4px;
  }
  .redux-main .color-transparency-check {
    margin-bottom: 4px !important;
  }
}
.redux-main .wp-picker-clear {
  margin-top: 0 !important;
}
.wp-customizer .redux-main .redux-typography-container .redux-typography-color, .wp-customizer .redux-main .redux-typography-container input.wp-picker-default, .wp-customizer .redux-main input.wp-picker-default {
  padding: 0 4px !important;
}
.wp-customizer .redux-main input.wp-color-picker {
  width: 65px !important;
  margin-left: 5px !important;
}
.redux-main .button.remove-image, .redux-main .removeCSS {
  margin-left: 10px;
  color: #fff;
  background-color: #3d434f;
  border-color: #3d434f;
}
.redux-main .button.remove-image:hover, .redux-main .removeCSS:hover {
  color: #fff;
  background-color: #4a5260;
  border-color: #4a5260;
}
.redux-main .upload_button_div {
  margin-bottom: 5px;
}
.redux-main .upload-error {
  float: left;
  color: #666;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  margin: 0 10px 0 0;
  padding: 3px 10px;
  background: #ffdfec;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.redux-main .reset-button {
  font-family: Arial, Verdana, sans-serif;
  float: left;
  margin: 0;
  color: #ef521d;
  border-color: #bbb;
}
.redux-main .redux-option-image {
  max-height: 340px;
  max-width: 340px;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 10px;
  margin-right: 15px;
  border: 1px solid #e3e3e3;
  background: #f7f7f7;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.redux-main .redux-main .upload {
  width: 80% !important;
}
.extraIconSubsections {
  text-align: center;
}
